[2022-07-07 14:51] sreuber commented on #303
Open to peer review! Check the comments please. @MelissaBraxton @melchoyce @austinhernandez
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3407%3A15718

[2022-07-07 16:03] timoballard commented on #135
@petermarks-gsa I realized this morning that my cloud.gov access isn't _quite_ there (I have access to the org, but can't see the FAC space/app). My bad for not verifying this the first time around. Once this is sorted out I can get you setup with admin access (or @tadhg-ohiggins can probably take care of it if we don't want to wait for my access to get sorted out)

[2022-07-07 16:39] petermarks-gsa commented on #320
@timoballard I just added this to the board. Can you please advise on t-shirt size of this?

[2022-07-07 16:40] timoballard commented on #320
@petermarks-gsa M

[2022-07-07 16:48] MelissaBraxton commented on #293
@petermarks-gsa - Is this still needed?

[2022-07-07 20:30] timoballard commented on #135
@petermarks-gsa - the issues you found in QA were addressed in [#29](https://github.com/GSA-TTS/FAC-Frontend/pull/29). We'll get your django-admin access in place once our cloud.gov permissions get sorted!

[2022-07-07 20:55] petermarks-gsa commented on #267
Verified this is done!

[2022-07-07 20:55] #267 closed

[2022-07-07 21:27] sreuber commented on #303
@MelissaBraxton @melchoyce @austinhernandez
Further refinements here, open to peer review:
[Start Page (standard)](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3407%3A15718)
[Start Page (invalid UEI)](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3458%3A16797)
[Start Page modal (edit entity type)](https://www.figma.com/file/1bNnc

[2022-07-08 14:21] #286 closed

[2022-07-08 14:45] petermarks-gsa opened #328 "🅛 PDR/ADR - Excel file generation"
## Background
The process for submitting entries to the FAC relies on uploading audit data via Excel templates. Design has been clear that this is so critical to workflows that it's a priority over web forms and could actually be done in place of them for MVP. There is already an accepted PDR for ["how to handle bulk data uploads"](https://github.com/GSA-TTS/FAC/blob/main/docs/architecture/decisio

[2022-07-08 14:53] petermarks-gsa opened #329 "PDR - Audit processing"
**Background:** We talked with Census processors and learned about their work and role in processing FAC submissions. GSA will need to determine how we handle processing as we go forward. Considerations and recommendations are[ here](https://docs.google.com/document/d/1ApHaC5_daADSJzrUnWk4P6Oe-OYmJd6570ZmBiJWCk4/edit#).

  * Option 1: "Process" audits in the new FAC, send them to "dissemination pi

[2022-07-08 15:54] melchoyce commented on #303
Looking good! Left a few minor comments in Figma.

[2022-07-08 16:29] MelissaBraxton commented on #329
Heads up, @petermarks-gsa Some notes on this are linked to in #219.

[2022-07-08 16:31] petermarks-gsa commented on #329
@MelissaBraxton Ah, thank you. Maybe we should combine these?

[2022-07-08 17:50] melchoyce commented on #295
Just clarifying: is this task for [this page](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2709%3A12110) in Figma?

[2022-07-08 18:02] jasnakai commented on #322
Hey, @petermarks-gsa. I believe this issue is completed. PR#26 has been approved and merged. The forms now use the login.gov sandbox authentication. Is there anything else needed for this?

[2022-07-08 18:14] tadhg-ohiggins commented on #320
## 2022-07-08 discussion on some edge cases around login.gov users and `Access` objects.
Participants: @geekygirlsarah @tadhg-ohiggins @timoballard

1.  `SingleAuditChecklist` object is created with `Access` objects that have null `user_id` fields but they have the email addresses the user submitted for auditee, etc.
1.  We do not check the email addresses in the newly-created `Access` objects to

[2022-07-08 18:14] tadhg-ohiggins commented on #246
## 2022-07-08 discussion on some edge cases around login.gov users and `Access` objects.
Participants: @geekygirlsarah @tadhg-ohiggins @timoballard

1.  `SingleAuditChecklist` object is created with `Access` objects that have null `user_id` fields but they have the email addresses the user submitted for auditee, etc.
1.  We do not check the email addresses in the newly-created `Access` objects to

[2022-07-08 18:25] tadhg-ohiggins opened #331 "login.gov auth integration for Django admin"
### Background

We need to be able to associate login.gov accounts with Django admin accounts

### Acceptance Criteria (We'll know we're done when...)

- [ ] We can log in to Django admin using login.gov credentials.
- [ ] We can assign Django admin rights to login.gov users (unclear at time of writing exactly how this would work).

### Tasks

- [ ]
- [ ]

[2022-07-08 18:58] MelissaBraxton commented on #295
Yep! That's the one!

Melissa Braxton (she), Design Supervisor
Technology Transformation Services | 18F <https://18f.gsa.gov/>
U.S. General Services Administration
Cell: 425-770-2349

On Fri, Jul 8, 2022 at 10:50 AM Mel Choyce-Dwan ***@***.***>
wrote:

[2022-07-08 19:25] petermarks-gsa commented on #226
Verified end to end by @timoballard and @jasnakai via django admin (see screen). That info gets stored on the user in the backend until the 3rd form is submitted at which point the info gets written to the database.
![image](https://user-images.githubusercontent.com/100610443/178057707-0068fa77-3bdc-473c-86b3-39cc9dc5ede4.png)

[2022-07-08 19:25] #226 closed

[2022-07-08 19:25] petermarks-gsa commented on #228
Verified end to end by @timoballard and @jasnakai via django admin (see screen). That info gets stored on the user in the backend until the 3rd form is submitted at which point the info gets written to the database.

![image](https://user-images.githubusercontent.com/100610443/178057742-171387f8-3783-452b-aadd-f5e31ab43121.png)

[2022-07-08 19:25] #228 closed

[2022-07-08 20:44] petermarks-gsa commented on #319
@MelissaBraxton @melchoyce I just discussed this with @heymatthenry and @tadhg-ohiggins. We have a few follow up questions:

* **Invite process** - What do we know about the process of inviting people to edit an audit on the current FAC? Do they receive an invite email?
* **Invite permissions** - Should auditee and auditor users be able to edit any parts of the SF-SAC? Should they also be able to

[2022-07-08 20:53] petermarks-gsa opened #332 "As a logged in and authorized user, I should be able to access and edit audits"
## User story
As a logged in and authorized user, I should be able to access and edit audits

## High-level solution
Implement audit level permissions: Some sort of way to verify the user has access to the audit they're trying to access via url validation

## Acceptance criteria
* [ ] When I try to access an audit I have access to and am logged in, I should be able to navigate to and view/edit tha

[2022-07-08 21:28] petermarks-gsa commented on #246
@tadhg-ohiggins Per our conversation, the first two "new issues" you will be creating new tasks for, at which point we can remove the needs refinement label. The last two are covered by #320

[2022-07-08 21:39] #322 closed

[2022-07-08 21:44] MelissaBraxton commented on #319
- **Invite process** - The current FAC doesn't really have a concept of "invite." Instead, there are notifications about when something significant happens with a submission. So, when a new submission is created, anyone who has been given access gets an email to let them know. The emails are slightly customized based on whether the user already has a FAC Login, but I don't think we need to emulate

[2022-07-08 21:53] tadhg-ohiggins opened #333 "Handle change/deletion of SAC certifiers"
Breakout issue of #246.

### Background

We currently don't handle formal deletion of users from their roles on SAC submissions, but there can only be a single email address entry for the certifying auditor and for the certifying auditee. Therefore, if one of those is changed, the previous email address should no longer be associated with that role for that submission.

This doesn't create a secur

[2022-07-11 04:47] geekygirlsarah opened #334 "Ensure the data passed to the Audit Submission Access Page API is validated"
Breakout issue of #246, blocked until #246 is completed.

### Background

#246 is to add an API endpoint to save all the audit submission checklist steps. This turned out to be a much larger issue than originally anticipated due to it touching nearly all of the data models and the unrealized complexity of the data being saved.

This ticket is to ensure the data being passed to the API endpoint goe

[2022-07-11 15:50] melchoyce commented on #278
@heymatthenry Yup, that's correct! Thanks for checking :)

[2022-07-11 15:52] petermarks-gsa opened #335 "ADR/spike - Email sending"
Breakout of https://github.com/GSA-TTS/FAC/issues/319

**Background**: we have a few use cases for sending emails, including invite emails and status update notification emails. At some point, we're surely going to want to be able to send emails.

**Acceptance Criteria**:
* Approved ADR on how to send emails.
* Dev spike illustrating how to send emails

**Conversations**:
* Ryan Palmer, who will b

[2022-07-11 17:42] petermarks-gsa commented on #246
@tadhg-ohiggins Following up on our conversation last week it looks like we've created a couple additional tasks for this (#333 and #334). Are we good to remove "needs refinement"?

[2022-07-11 18:23] melchoyce commented on #305
Is this referencing this Figma page? https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2464%3A10742?

[2022-07-11 21:41] MelissaBraxton commented on #319
Breakout issue for initial design work is here: #321

[2022-07-11 21:51] MelissaBraxton opened #337 "As an auditor, I want to check for errors in the SF-SAC data before I submit my audit so that I can be sure my audit is correct and will be accepted."
### Background

This story covers the initial design of the UI for how auditors/auditees will check their SF-SAC data for errors. You can find it in the story map [here](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1649157107497)

This issue covers only the happy path where there are no errors in the form data. It **does not** cover the design of

[2022-07-11 21:57] melchoyce commented on #295
![image](https://user-images.githubusercontent.com/2846578/178365350-d14c6973-9294-4c06-b6fb-964e9497fb99.png)

Updates:
- Removed the versions column in the table.
- Updated the Report ID column to use the new numbering conventions (Four digit year + 3 alpha characters + 10 numeric characters).
- Updated the "certifiable" label to "needs certification" to indicate an action needs to be taken.

Th

[2022-07-11 22:01] MelissaBraxton opened #338 "As an auditor, I need to be able to upload my audit report as a pdf so that I can complete my audit."
### Background
This issue covers the initial design of the interface for where auditors will upload a pdf audit report. You can find it in the story map [here](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1647627056111).

We'll have to create additional issues to cover the front and back end implementation of this. This issue **does not** cover:

[2022-07-11 22:13] MelissaBraxton commented on #337
This is what the UI looks like in the current FAC:
<img width="534" alt="Screen Shot 2022-07-11 at 3 13 01 PM" src="https://user-images.githubusercontent.com/20651166/178367573-301247a2-ea77-4d40-9d47-cb1184425f44.png">

[2022-07-11 22:14] MelissaBraxton commented on #338
Here's what it looks like in the current FAC:

<img width="534" alt="Screen Shot 2022-07-11 at 3 13 01 PM" src="https://user-images.githubusercontent.com/20651166/178367573-301247a2-ea77-4d40-9d47-cb1184425f44.png">

[2022-07-11 22:29] MelissaBraxton opened #339 "As a someone who has access to a draft audit submission, I need a way to submit my certified audit package to the FAC."
### Background
This issue covers the design of the UI that enables users to submit their certified audit submission to the FAC (or otherwise move into "accepted" status in the DB in the case of tribal entities who choose to suppress their data). The scope of this issue also includes the design of a confirmation message users will see when their submission has been accepted. You find this on the st

[2022-07-11 22:32] MelissaBraxton commented on #260
With the creation of #321, #339 , and #338 to cover additional UI design, and with the bulk of start page design happening under #303, I think we can call this done. Can I get a 👍 from someone? @sreuber, @melchoyce, @petermarks-gsa

[2022-07-11 22:33] MelissaBraxton commented on #303
Looks good to me too, @sreuber  - With the accessibility fix that Mel called out, I think we can move this to "in review"?

[2022-07-11 22:48] MelissaBraxton opened #340 "As a user, I need to be able to change who has/modify users' access to a draft audit submission."
### Background
This story covers the design of the UI and flow for how folks who have access to a draft submission can modify the roles and access of other users.

This includes:
 - Adding a user
 - Deleting a user
 - Changing the role of an existing user (like whether they are a certifier or whether they represent the auditor or the auditee)

Current thinking is that this is one of the administra

[2022-07-11 22:58] petermarks-gsa commented on #260
👍 @MelissaBraxton Let's call this done :)

[2022-07-11 22:58] #260 closed

[2022-07-11 23:16] petermarks-gsa opened #341 "Back end - Auditee / auditor signing permissions"
Breakout of https://github.com/GSA-TTS/FAC/issues/319

**Background [from Melissa](https://github.com/GSA-TTS/FAC/issues/319#issuecomment-1179381003)**: Right now, anyone can edit any part of the SAC, and I think we should keep it that way. (We've talked to some auditors who wish there were more granular permissions, but given that we also heard that many auditee/auditor relationships rely on audi

[2022-07-12 00:14] petermarks-gsa commented on #219
@MelissaBraxton I copied this context over to the new issue. Going to close this and go with new issue as I'm linking to it in a few places.

[2022-07-12 00:14] #219 closed

[2022-07-12 16:25] petermarks-gsa commented on #332
@sreuber When you get a chance, please send along an updated design for the "My audit submissions" page

[2022-07-12 16:39] petermarks-gsa opened #342 "Determine how to handle multiple user data entry conflicts"
Lock submission to prevent multiple simultaneous edits
Possibly not MVP as it may be an edge case. Will surely happen sometimes and could cause issues.

[2022-07-12 16:41] petermarks-gsa opened #343 "Implement "My audit submissions" page"
## Acceptance criteria
(Acceptance criteria referring to login routing moved over to be part of #388 )

This issue only covers the page listing a user's audits, and doesn't address routing (or whether or not they should be redirected to their lone audit if they only have one).

### Frontend acceptance criteria
- [x]   The user will see a table containing the audits they're associated with.
- [x]

[2022-07-12 17:41] petermarks-gsa opened #344 "PDR/ADR - File Upload storage"
We need to come up with a solution to store Uploaded PDFs.

[2022-07-12 20:37] tadhg-ohiggins opened #345 "Revisit statuses in light of user research developments"
### Background

The current statuses as listed in https://github.com/GSA-TTS/FAC/blob/main/docs/product/decisions/0005-P-submission-statuses.md don't cover everything we need, including:

*   Workflow doesn't distinguish *who* has certified.
*   Break out `In progress`, `Certifiable` `Partly certified` and `Certified` into statuses that show which “tasks” have been completed.
    *   Enter and fin

[2022-07-12 20:45] #303 closed

[2022-07-12 20:47] petermarks-gsa opened #346 "Copy edit on "criteria check" page"
Note minor copy edit to Q 2, removed reference to Circular A-133:

https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3371%3A15584

[2022-07-12 20:48] petermarks-gsa commented on #301
@MelissaBraxton Captured in this task: https://github.com/GSA-TTS/FAC/projects/1#card-84116842

[2022-07-12 20:48] #301 closed

[2022-07-12 20:50] petermarks-gsa commented on #288
@melchoyce @austinhernandez could you please point me to where this lives in Figma + any implementation notes and I'll make an implementation task for this?

[2022-07-12 20:52] petermarks-gsa commented on #290
@MelissaBraxton @melchoyce  Let's create an implementation issue for this. Can you please link to designs and any implementation notes in figma?

[2022-07-12 20:54] petermarks-gsa commented on #302
@sreuber If the copy / design updates here are finalized, can you please make sure @heymatthenry knows what's changed in the https://github.com/GSA-TTS/FAC/issues/285 issue he's working on?

[2022-07-12 21:17] sreuber commented on #321
@MelissaBraxton @melchoyce @austinhernandez Could use some eyes on this one. As I mentioned in stand, I have a couple of options I'm floating here. One a pretty close representation of what happens currently, the other very streamlined. I don't have complete annotations off to the sides, so feel free to ask for clarification on anything and I'll try to address as soon as I can tomorrow morning.

L

[2022-07-12 21:55] melchoyce commented on #288
Hey @petermarks-gsa! This lives here: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=2443%3A10612

I have one question regarding implementation I've asked the other designs. When I hear back, I'll update the Figma page to include that information.

[2022-07-12 21:58] melchoyce commented on #290
This lives here: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3136%3A18520

I'll update the page with implementation notes tomorrow 👍

[2022-07-13 14:04] sreuber commented on #285
@heymatthenry Heads up, new copy in the artboard: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3390%3A15694

This is just to be specific to an unrecognized UEI, not a general outage error (similar to the way the old artboard was written).

[2022-07-13 14:59] sreuber commented on #295
@melchoyce Took a look, looks good to me, but I think we are also going to need to account for pagination. Not sure if we've decided how deep we go per page, 10, 12, 15, 20, (27! why not, just for fun…or not), but for some auditors this list will get pretty long (particularly if it's a shared account).

[2022-07-13 15:05] melchoyce commented on #295
Good to know, I'll add a mockup with pagination 👍 👍

[2022-07-13 15:13] melchoyce commented on #305
Thanks for this context — let me try a version where part of the list is visible by default. 👍

[2022-07-13 15:45] sreuber commented on #295
@melchoyce I like it, and 15 feels like a healthy number. Do we want the button to be black or should it be blue like the other CTAs?

[2022-07-13 15:56] melchoyce commented on #295
How much have we been changing the USWDS components? They use black by default to indicate the current page, but I'm happy to update to blue.

[2022-07-13 16:01] sreuber commented on #295
I'm not sure, I haven't done any changing aside from the process icons, which were more bespoke. If those are set across USWDS, I'm fine with it as black!

[2022-07-13 16:07] melchoyce commented on #295
Cool, worse comes to worse we can update in production 👍 Thanks!

[2022-07-13 16:33] melchoyce commented on #290
Added implementation notes to that page. Please let me know if you have any questions!

[2022-07-13 16:51] melchoyce commented on #288
Implementation notes added!

[2022-07-13 16:54] #323 closed

[2022-07-13 18:04] petermarks-gsa commented on #185
@jasnakai @geekygirlsarah I understand the two of you met about your remaining tasks on this story. Can I assign the story itself to one of you to "shepherd" this through the QA process? By "shepherd", I mean making sure what's deployed on the staging server meets acceptance criteria and is ready to be QA'ed by me. Thanks!

[2022-07-13 18:13] petermarks-gsa opened #349 "Copy / formatting edit on login.gov flow"
Designs and implementation notes: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3136%3A18520

There may be some limitations on what we can actually do here.

Related design issue: https://github.com/GSA-TTS/FAC/issues/290

[2022-07-13 18:14] #290 closed

[2022-07-13 18:17] petermarks-gsa commented on #288
@melchoyce @austinhernandez Seems like navigation / header changes are in scope for this issue? Possible to get designs + design notes on the logged in state of the navigation? I've seen some designs floating around that show the logged in username + "Logout" link.

[2022-07-13 18:56] petermarks-gsa opened #350 "PDR- Determine certify audit submission path"
* Option 1: Special roles/UX in the app to sign digitally - current, user-preferred solution defined in https://github.com/GSA-TTS/FAC/issues/319
  * Option 2: Copy solve to ask people to sign the PDF (lightweight solution)
    * Risk: Could lead to more audit churn if they are uploaded without signatures
    * Risk: Could lead to more scanned PDFs being uploaded rather than searchable ones, slowi

[2022-07-13 19:47] melchoyce commented on #288
I'll take a look!

[2022-07-13 20:37] melchoyce commented on #338
@MelissaBraxton Do you have access to this page? Wondering if we can see what's in "Compliant PDF Instructions" and get a copy of the content in text form.

[2022-07-13 21:08] sreuber commented on #305
@austinhernandez Yes, I simply lifted what the current site was doing when I originally designed this page way back when, so change what's needed.

[2022-07-13 21:11] MelissaBraxton commented on #338
Here they are! [create_pdf.pdf](https://github.com/GSA-TTS/FAC/files/9106112/create_pdf.pdf)

[2022-07-13 21:25] MelissaBraxton commented on #321
@sreuber  - This looks good to me! I agree that the "streamlined path" requiring fewer clicks may be preferable for folks.

[2022-07-13 21:39] MelissaBraxton commented on #338
Also, it appears as though the current system handles the Uniform Guidance requirement to upload CAP text as a separate doc by asking people to call out the page it starts on as part of the combined pdf (so it's kinda not "separate." It's part of the combined pdf--appended to the audit report).

The current system has a step that asks folks to specify which page each of their audit components star

[2022-07-13 21:40] MelissaBraxton commented on #338
For reference, here is the language re: the legal requirement for CAP text to be "separate."
<img width="697" alt="Screen Shot 2022-07-13 at 2 39 50 PM" src="https://user-images.githubusercontent.com/20651166/178841510-9e293e9e-375a-4baa-b93b-f678c933357c.png">

[2022-07-13 22:10] melchoyce commented on #305
Updated the list:

![image](https://user-images.githubusercontent.com/2846578/178845393-0a4685f8-afe1-47ae-a9fd-795a8ea37c71.png)

Going to write up implementation notes next.

[2022-07-13 22:22] melchoyce opened #351 "As a user, I need to know when a draft submission I want to work on is in use by someone else"
### Background

When you log in to work on a draft, but another user is already working on it, you see an error message:

![image](https://user-images.githubusercontent.com/2846578/178846644-14a45c95-01c7-487f-bb96-7a023e6ed00b.png)

We need to provide a way for you to know that the draft is locked while someone else is editing it.

We'll also have to create additional issues to cover the front an

[2022-07-13 22:31] melchoyce commented on #305
@petermarks-gsa Implementation notes written: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3623%3A17578

[2022-07-13 23:12] MelissaBraxton opened #352 "Document FAC team charter"
### Background
Now that we have a full team, we want to KO with a team charter that

**Background**
AS a team, we want to make sure we have consensus on how we want to work together.

**Acceptance criteria**
- [ ] We have team charter that describes our desired working and communication practices
- [ ] We have a team charter that clearly delineates each of our roles on the project

**Tasks**
 - [x

[2022-07-14 14:55] petermarks-gsa opened #354 "Implement SF-SAC: Audit Information page"
Design and Implementation notes: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3623%3A17578

[2022-07-14 17:38] petermarks-gsa commented on #334
Blocked by #246

[2022-07-14 17:51] petermarks-gsa opened #355 "Public API for accessing general SF-SAC Data"
## Background

Eventually, we will have a public API capable to disseminate information to the general public and to agencies. Per our [migration plan](https://github.com/GSA-TTS/FAC/blob/main/docs/product/decisions/0004-P-migration-plan.md), our near term goal is to provide a public API capable disseminating data to the Census FAC. Given that there are over 100 fields to transfer, the goal is to

[2022-07-14 18:23] melchoyce commented on #338
One quick thing I just noticed, should this "check..." be a link?

![Screen Shot 2022-07-14 at 2 23 07 PM](https://user-images.githubusercontent.com/2846578/179055046-eb4cb800-3bbb-45a5-8b32-bb228e7e28b7.png)

[2022-07-14 19:09] petermarks-gsa commented on #288
@melchoyce Understood that the navigation as a whole needs to be tested. I'll create an implementation issue for just homepage copy updates?

We're taking on permissions related engineering tickets in the next milestone and it would be really handy to have a "logged in as" and "logout" link for testing, so we may just implement those without a final design.

[2022-07-14 19:15] melchoyce commented on #288
Sounds good 👍

Also makes sense to me. @MelissaBraxton any issues with this?

[2022-07-14 19:19] melchoyce opened #357 "As a user, I want to be able to quickly and easily navigate the FAC website"
Breakout issue of #288 and #248.

Relies on #371.

This issue covers finalizing the FAC navigation and IA based on the results of our recent Tree Test.

### Background

#### Observation(s)

-

#### MVP Recommendations

-

### Acceptance criteria (We'll know we're done when...)

- [ ] We have designed a way for an auditee or auditor to log in.
- [ ] We have designed a way for an auditee or auditor

[2022-07-14 19:20] austinhernandez commented on #338
Oh ya. I just removed that text entirely bc the PDF upload will validate (no need for a checker)

![Upload PDF](https://user-images.githubusercontent.com/23194720/179065809-cab89c6d-9a77-4b19-8e23-5fab1c047a8b.png)

[2022-07-14 19:32] MelissaBraxton commented on #288
Sounds good!

[2022-07-14 20:46] petermarks-gsa opened #358 "Homepage copy updates"
**Design**: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4148%3A19746

**Implementation notes:**

"Find older audit information" will link to https://facdissem.census.gov/
The copy on this page still needs to get usability tested and is subject to change
Navigation is not final

[2022-07-14 20:48] petermarks-gsa opened #359 "As a user I should know if I'm logged in and be able to log out"
## Background
We implemented login, but don't have a way to see if you're logged in or provide an option to log out.

## Design
Nav is in flux and we don't have to dial this in completely now, but look to [this board](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=2443%3A10612) for guidance.

## Acceptance criteria
- [ ] When I am not logged in, I should see "log in" cta.

[2022-07-14 20:52] petermarks-gsa commented on #359
@tadhg-ohiggins @timoballard This feels like a pretty contained story I think we should consider pulling into Milestone 2.

[2022-07-14 20:52] petermarks-gsa commented on #288
@melchoyce Here is the implementation issue for homepage updates: https://github.com/GSA-TTS/FAC/issues/358

And here is the issue for logout: https://github.com/GSA-TTS/FAC/issues/359

[2022-07-14 21:02] petermarks-gsa opened #360 ""Single audit reporting package upload" page"
**Background:** This issue covers the initial design of the interface for where auditors will upload a pdf audit report. You can find it in the story map [here](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1647627056111).

**Design**: [Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3653%3A17527), [Design Ticket](ht

[2022-07-14 21:10] petermarks-gsa commented on #338
@austinhernandez I've gone ahead and created an implementation ticket for this: https://github.com/GSA-TTS/FAC/issues/360

Are there any implementation notes for this? Curious about required text / file upload fields. I understand exact error copy might be out of scope here, could possibly use some guidance on other parts of acceptance criteria.

[2022-07-14 21:15] MelissaBraxton opened #361 "As someone who has access to an audit submission, I need a way to navigate to administrative actions I may want to take from the audit start page."
This issue covers the design of the side navigation on the Audit Start Page. #264.  Included in this issue is some need to product and design to prioritize which features users might expect here are in scope for the MVP.

Needs that are in scope:
#340

Needs that require a decision:
- As a user, I need to be able to unlock a SF-SAC form that has been finalized so that I can make edits
- As a user,

[2022-07-15 16:12] #350 closed

[2022-07-15 17:48] MelissaBraxton commented on #289
@heymatthenry - There's one small front end change needed here -  We'll want to wire up the primary "log in to submit an audit"  CTA on the homepage to show this disclaimer (in addition to it being triggered by the "login" button on the top nav).

[2022-07-15 17:50] heymatthenry commented on #278
@petermarks-gsa I have a [draft PR](https://github.com/GSA-TTS/FAC-Frontend/pull/30) that implements this. It's a draft because I haven't written tests for it yet, since those are going to be a beast to write given all of the various states the app can get into here, and I wanted to make sure the behavior was all correct first.

Only other thing that's missing is that some of the explanatory text

[2022-07-15 17:54] austinhernandez commented on #361
Ready for peer review @MelissaBraxton @melchoyce @sreuber

Notes:
1. `Unlock finalized form SF-SAC` and view print secondary navigation link only appears when `1. enter and finalize form SF-SAC` is complete
![Submit audit package](https://user-images.githubusercontent.com/23194720/179281138-041d5b32-a714-4782-bbed-96bc9485b0e0.png)

2. Confirmation modal
![Confirmation modal](https://user-images.g

[2022-07-15 18:05] austinhernandez commented on #339
@MelissaBraxton i made you the certifying auditor on my test project so that i can look at what the current certification process is like. when you get a chance can you go through the auditor process to certify?

[2022-07-15 18:07] MelissaBraxton commented on #361
**Questions:**
On screen 3: Should the status be changed to unlocked or something else to indicate its been unlocked/redone?

Should the View/Print Form SF-SAC link ONLY be available once an audit report has been uploaded to a draft submission or is it while its in progress as well?

I meant to include this screen shot in this issue when I drafted it, but also in scope is the design of the rest of

[2022-07-15 18:25] MelissaBraxton opened #365 "Onboarding checklist for Erin"
### Welcome to the team Erin!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLnacyk-bDI

[2022-07-15 18:39] austinhernandez commented on #361
thanks @MelissaBraxton i missunderstood the scope!

double checking on the help dropdown - [its not in the MURAL](https://app.mural.co/invitation/mural/gsa6/1654109929324?sender=austinhernandez5199&key=93f016dc-f3d6-41c9-a2b9-0b8f72b0926a), is it out of scope or should i just assume all the content is outdated and it should be removed?

![Screen Shot 2022-07-14 at 2 11 1](https://user-images.githu

[2022-07-15 18:42] sreuber commented on #337
@melchoyce @austinhernandez @MelissaBraxton Could use eyes on this one to check. https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3723%3A17342

Going back to our discussion earlier in the week, I agree that handling error checks at each page level would be ideal if we stick with static Excel documents…much easier for the user. Can we float this to the backend folks to see h

[2022-07-15 18:54] austinhernandez commented on #337
Yeah, I guess I'm seeing since this is a non-linear form, with several potential editors, there is no good way to do a validation per-page. The only thing I can think of is the ! icon if there is an error or missing field even before you  run the check for errors function.

I like the change of `re-run error check` because on the current system, it's not clear.

Adding this error content screen in

[2022-07-15 20:02] sreuber commented on #337
Per-page check before a first error check is a no-go. With that, my intention for the icons is to only show after the error check has been run , with errors also appearing on the pages as reminders so users don't have to repeatedly bounce back to the Finalize page

What does "Download errors" do? Is that the printable sheet?

[2022-07-15 20:23] sreuber commented on #361
I had updated a few [mocks on the start page](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3407%3A15718) per a [conversation in Slack](https://gsa-tts.slack.com/archives/C1L58R804/p1657749434195649?thread_ts=1657749160.495119&cid=C1L58R804) that changed the Status column to "Done", having completed by, and simply having a checkmark there. Also removed the CTA numbers, a

[2022-07-15 20:35] MelissaBraxton commented on #361
@austinhernandez - It's a bit TBD, We have a separate story on the Story map (although not in GH yet) re: as a user I need to know where to go for help.  We do also already have most this content linked to from the FAC homepage.

I was thinking we'd tackle it later, and meant to communicate that in the issue via the text below, but I see how it could be confusing!

[2022-07-15 20:45] MelissaBraxton commented on #361
@sreuber   - The screen shot above is from the old FAC, so it's understandably very out of date with our current mocks.

[2022-07-15 21:42] MelissaBraxton opened #366 "Define content refinement workflow"
### Background
Now that we have a content strategist on board, we wanto lay out the easiest way to track and implement recommended refinements to all of our copy to date.

### Acceptance Criteria (We'll know we're done when...)

- [x] We have documented decisions on how we'll track and communicate content refinements
- [x] We've created whatever tools/templates/docs we'll use to support the proces

[2022-07-15 21:49] MelissaBraxton opened #367 "Content/microcopy refinements in Sprint 11 prototype"
### Background
This issue covers a roundup of all the content/microcopy edits Erin is making in the [sprint 11 prototype](https://www.figma.com/file/8REinLFKSMj7pwQ7JIEHGW/FAC-Sprint-11-prototype?node-id=407%3A3588)

### Acceptance Criteria (We'll know we're done when...)

- [ ] We've reviewed the content edits for all FAC pages in the Figma sprint 11 prototype and documented updates to implement.

[2022-07-15 21:54] MelissaBraxton opened #368 "Create research roadmap"
### Background

This story is to plan for any upcoming design research for the near & far term. We'll want to account for what each research spike will cover at a high level, how certain we are we will be able to run that research at the planned time, and any dependencies to run those research spikes to mitigate any surprises.

### Acceptance Criteria (We'll know we're done when...)

- [ ] We have

[2022-07-15 22:00] #293 closed

[2022-07-15 22:57] MelissaBraxton commented on #352
Chartering activity template is [here](https://app.mural.co/invitation/mural/gsa6/1657921027860?sender=melissabraxton2796&key=ff3725ea-66b6-49d9-a18c-bbb556bc9aee)

[2022-07-15 23:00] MelissaBraxton commented on #189
@petermarks-gsa  - This is likely something design can help with. If that sounds good, feel free to add the design label and put in on an agenda for discussion at an upcoming co-working mtg.

[2022-07-18 14:57] austinhernandez commented on #337
Sorry I missed this on Friday. Yes, it is a TXT file (and the thing they reference and/or print off if the errors list is long enough). Here's an example:
[Errors_939014.txt](https://github.com/GSA-TTS/FAC/files/9132950/Errors_939014.txt)

I'm not sure if it needs to be a TXT file. a print dialog box would make sense if you just need to reference for later

[2022-07-18 15:10] timoballard commented on #344
@petermarks-gsa @tadhg-ohiggins

As a conversation starter: the [Civil Rights Portal](https://github.com/usdoj-crt/crt-portal) for USDOJ has the same backend stack that we do (Django backend on Cloud.gov). We built a file upload/storage solution there which includes validations around file size, supported file types, and virus scanning. Files are stored in S3 (via [cloud.gov's managed services](ht

[2022-07-18 15:30] jadudm commented on #344
Part of the answer to this might be informed by some conversation with Federal users. I don't *think* it will radically shift storage choices, but knowing how people want/need to access the data may help inform the design. In particular, I'm thinking about questions around persistent links, bulk access, and so on that have surfaced in piecemeal ways over the past few months... I don't know if we h

[2022-07-18 16:03] melchoyce commented on #295
@petermarks-gsa I think this one is done.

[2022-07-18 16:35] MelissaBraxton commented on #321
@sreuber  - What's the latest here? Looks like the mocks still need implementation notes.

[2022-07-18 16:38] MelissaBraxton commented on #248
Update: We've split off analysis/recommending refinements as a separate issue in #357. With that, this issue is done.

[2022-07-18 16:39] MelissaBraxton commented on #248
Results of testing are available in Optimal Workshop.

[2022-07-18 18:24] timoballard opened #369 "🅢 Collect users' first name, last name from Login.gov"
### Background
We currently only collect the `email` and `all_emails` user attributes from Login.gov. In order to populate the `first_name` and `last_name` fields for the Django user model, we will need to expand the scope of our Login.gov authorization request to include the `given_name` and `family_name` attributes (`profile` scope).

### Acceptance Criteria (We'll know we're done when...)

- [

[2022-07-18 20:25] petermarks-gsa opened #370 "Automate Login.gov / federalist deploy process"
**Background:** There have been issues QA'ing login-related work on federalist branches. In order for the login flow to work end-to-end, Login needs to know in advance all of the complete URLs it is allowed to redirect the user back to after they authenticate. But, Federalist previews use a dynamically generated URL based on the Github branch name (i.e. every pull request on the frontend has a dif

[2022-07-18 21:21] MelissaBraxton commented on #274
@petermarks-gsa  - Once #https://github.com/GSA-TTS/FAC/issues/302 and https://github.com/GSA-TTS/FAC/issues/295 clear review, we can close this out. #313 will stay in blocked.

[2022-07-18 21:34] petermarks-gsa commented on #302
Closing as #285 has been updated

[2022-07-18 21:36] petermarks-gsa commented on #295
Great, I've updated https://github.com/GSA-TTS/FAC/issues/343. Closing

[2022-07-18 21:50] MelissaBraxton commented on #274
Closing with the understanding that #313 will be worked separately once it is unblocked.

[2022-07-18 21:50] #274 closed

[2022-07-18 21:52] #365 closed

[2022-07-18 22:36] MelissaBraxton opened #371 "Refine IA based on tree test results"
This issue covers tree test analysis and the refinement of the IA based on the results of our tree test in #248

### Acceptance criteria (We'll know we're done when...)

- [x] We have mocks of our homepage showing the new refined IA

### Tasks

- [x] Analyze tree test results in Optimal workshop
- [x] Clarify questions with Mark Dixon at Census
- [x] Draft recommended IA changes ([doc](https://doc

[2022-07-18 23:18] tadhg-ohiggins commented on #343
Backend overview:
*   We want the backend endpoint to return SACs
    *   Filtered by user!
        *   We need to handle auth.
        *   We need to get the user from the login/auth machinery.
        *   We need to get the submissions for that user, which will be looking for Access objects that have that user associated with them, and then looking for the SAC objects that have that user in any

[2022-07-18 23:38] MelissaBraxton opened #372 "Write up FAC team design QB "playbook""
With design team roles changing, we want to redistribute the work of writing and organizing design oriented issues. The scope of this issue is to document tips and considerations that will help set up for success anyone on the team who is involved in scoping and prioritizing design focused issues.

### Acceptance criteria (We'll know we're done when...)

- [ ] We have a brief document that provide

[2022-07-19 13:58] sreuber commented on #321
Implementation notes updated. Ready for review.

[2022-07-19 16:02] MelissaBraxton opened #373 "Consolidate stories that are post MVP into the story map"
Our story map mostly reflects work that is in scope for the MVP. We've identified user needs that we dont want to lose sight of for later releases, but they're scattered throughout research reports and other notes. This issue covers consolidating these into the story map so that we have one place keep track of and look for them.

### Background

### Acceptance Criteria (We'll know we're done when.

[2022-07-19 16:08] MelissaBraxton opened #374 "Prep for AICPA call on 7/27"
On 7/27, we have a call scheduled to start talking about collaborating with some stakeholders in the auditor community on how to message changes that auditors may want to start anticipating.

Context on the initial impetus for this call:

We'll want to anticipate Qs re: what auditors can expect, but also I think this could be a great time to start teeing up a collaboration on a broader GSA comms s

[2022-07-19 16:25] melchoyce opened #375 "Refinements to the Audit Start page"
Breakout of #264.

### Background

@sreuber and @austinhernandez have done a lot of great work on the Audit flow! Let's make sure final refinements are reflected across the whole Figma doc.

Can we identify which is the "final" design and then make sure all iterations of the screen in Figma match?

This screen appears in:
- #241 Auditee information - invalid UEI
- #260 Report home CTAs / audit sta

[2022-07-19 16:32] petermarks-gsa commented on #321
I've reviewed the designs / implementation notes and have updated the implementation issue: https://github.com/GSA-TTS/FAC/issues/319

[2022-07-19 16:32] #321 closed

[2022-07-19 16:49] austinhernandez commented on #340
Looking for peer review / co-work help on this @MelissaBraxton @melchoyce @sreuber. I changed the mocks [based on a Slack convo about name handling](https://gsa-tts.slack.com/archives/C1L58R804/p1658167390607859) and the re-work done in #228.

Report/Submission Access v1: basically copies the [Audit submission access page](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=38

[2022-07-19 17:07] sreuber commented on #337
The question is the error messages on the other pages, not on the Finalize page itself. I figured that would be simpler.

[2022-07-19 17:11] petermarks-gsa opened #376 "Sam.gov connection errors"

[2022-07-19 17:15] tadhg-ohiggins commented on #376
*   We don't know what the cause of the errors (403s?) is yet.
*   It's possible our existing key has expired.
*   We may have access to another key already, and should try that.
*   If not, we may have to apply for another key; until we have an ATO SAM.gov will only provide keys tied to individuals (not to applicatios) which may have shorter lifespans.
*   We likely need another issue for “track

[2022-07-19 17:19] heymatthenry commented on #376
This is what I'm seeing on the front end:

`"valid":false,"errors":{"auditee_uei":["SAM.gov API response status code invalid: 403"]}}`

[2022-07-19 17:28] sreuber commented on #340
Per [here](https://gsa-tts.slack.com/archives/C1L58R804/p1658167390607859), the names are set in Login.gov already, and we do not want to overwrite those. Names can still display, but we don't want to have users entering them. Step 3 in the audit creation flow may have already been updated.

[2022-07-19 17:40] melchoyce opened #377 "As a user, I want to find informational content and support about the FAC"
This issue covers the design of the informational static pages on the FAC.

### Background

The existing FAC website has a number of sections outside of the audit submissions, such as FAQs and Resources:

![Screen Shot 2022-07-19 at 1 15 37 PM](https://user-images.githubusercontent.com/2846578/179810345-b2c136a0-e4b1-4304-9e26-b857c8181ddf.png)
[Screens in Figma](https://www.figma.com/file/1bNncVt

[2022-07-19 19:43] heymatthenry opened #378 "🅜 Frontend implementation of displaying logged-in user & logging out"
Frontend implementation of #359

- [x] Revise header to remove login button & show logged in user email
- [x] Delete FAC token on client side
- [x] Redirect back to home page
- [x] Notification re: successful logout

[2022-07-19 19:45] timoballard opened #379 "🅢 Backend implementation of logging out"
Breakout issue of #359

### Background
When a user logs out from the FAC-Frontend, the backend should be notified so that it can delete the auth token associated with that user. This will prevent the token from being reused and force the user to re-authenticate with their Login.gov token before continuing to use the rest of the API.

### Acceptance Criteria (We'll know we're done when...)

- [ ] A

[2022-07-19 20:13] erinzstrenio opened #380 "Homepage content refinements"
Breakout issue of #367

This issue covers the content for the FAC homepage content.

### Background

Original Figma mock [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3148%3A20146)
Updated Figma mock ([here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4142%3A19651))
Updated content in Google doc [here](https://docs.google.com/document/

[2022-07-19 20:21] erinzstrenio opened #381 "Error message content refinements"
Breakout issue of #367 and #337

This issue covers the design of the error messages throughout the FAC.

### Background

Drafted content in [Google doc](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.qxh1fnjvsw9m)
Errors .txt file [here](https://github.com/GSA-TTS/FAC/files/9132950/Errors_939014.txt)

### Acceptance criteria (We'll know we're done wh

[2022-07-19 20:32] MelissaBraxton commented on #380
Looks good! One minor suggestion - Consider keeping the scope narrow to just the homepage? (So remove the audit homepage from the task list).

[2022-07-19 21:09] erinzstrenio commented on #380
@MelissaBraxton good call, just updated!

[2022-07-19 22:19] melchoyce commented on #304
To clarify...

1. If they enter a valid UEI, the "Auditee information" section will be pre-populated with information from SAM.gov, which we should communicate to users.
2. If they don't enter a valid/any UEI, the information will be blank. We should inform them this information will pre-populate once they enter a valid UEI.

Is this correct? Is there any other information that gets pre-populated?

[2022-07-19 23:47] MelissaBraxton commented on #372
Draft playbook is [here.](https://docs.google.com/document/d/10mRV4RSHruwLQm2BrDXqky0juB5ytqAWIZzAVCB217M/edit#)

Would love some extra eyes before I refine it further!

[2022-07-20 13:16] heymatthenry commented on #285
Currently blocked by #376.

[2022-07-20 13:55] melchoyce commented on #326
Note to self. The link in this sidebar:

![image](https://user-images.githubusercontent.com/2846578/179998679-2f50f9fe-b732-4a85-88fe-f412a33a6bfb.png)

Downloads an Excel form: [SEFAReport_932649_1 (1).xlsx](https://github.com/GSA-TTS/FAC/files/9150368/SEFAReport_932649_1.1.xlsx)

@MelissaBraxton What is this form used for?

[2022-07-20 15:13] petermarks-gsa commented on #376
@tadhg-ohiggins Who should we assign this blocking issue to?

[2022-07-20 15:35] melchoyce commented on #326
Form screenshots:

![Screen Shot 2022-07-20 at 9 58 24 AM](https://user-images.githubusercontent.com/2846578/180023735-d0fb5094-208a-455e-a1ea-d355d3f84d13.png)
![Screen Shot 2022-07-20 at 9 58 38 AM](https://user-images.githubusercontent.com/2846578/180023742-8559c37a-05fc-4600-ade8-adad14c78db7.png)

[2022-07-20 15:46] MelissaBraxton commented on #326
The data entry screens for this info are in the current mocks here and are a part of the side nav for the SF-SAC:
<img width="450" alt="Screen Shot 2022-07-20 at 8 41 04 AM" src="https://user-images.githubusercontent.com/20651166/180025311-fc2277dd-f4e6-470d-a7fd-a72bc2d6722b.png">
<img width="513" alt="Screen Shot 2022-07-20 at 8 44 40 AM" src="https://user-images.githubusercontent.com/20651166/1

[2022-07-20 16:28] rachelschneiderman commented on #343
Tasks:
- [ ] Empty `My audit submissions` page - Rachel (https://github.com/GSA-TTS/FAC-Frontend/pull/31)
- [ ] `My audit submissions` table
- [ ] Endpoint for retrieving my audit submissions

[2022-07-20 16:40] melchoyce commented on #326
Thanks for the details, @MelissaBraxton! I think I'm starting to understand better.

[2022-07-20 16:46] geekygirlsarah commented on #334
This issue is no longer needed as the evolution of #246 integrated better validation into it. I'm closing it.

[2022-07-20 16:46] #334 closed

[2022-07-20 18:10] austinhernandez commented on #289
I wanted to clarify for @heymatthenry and flag this for @erinzstrenio cuz this was closed when I was out sick.

During the usability tests, there was confusion for users around why there were 2 places where there was disclaimer text. The first one appears before you hit the login.gov screen to submit an audit. The second appears before you start a new audit. However, they are 2 different disclaime

[2022-07-20 19:48] #376 closed

[2022-07-20 19:48] tadhg-ohiggins commented on #376
Switching the API key via the cloud.gov dashboard (but not via the GitHub secrets plus deploy.yml process) worked. Closing.

[2022-07-20 19:50] tadhg-ohiggins opened #384 "Figure out why GitHub action to deploy SAM.gov API key didn't work"
### Background

#376 revealed that the GitHub deployment action didn't do exactly what we expected. Figure out why that is.

### Acceptance Criteria (We'll know we're done when...)

- [ ] The deployment action does what we expected, OR
- [ ] We have an alternative mechanism for changing the API keys.

[2022-07-20 19:52] tadhg-ohiggins opened #385 "We need a better way to rotate expiring SAM.gov API keys"
### Background
#376 made clear that we don't have a system in place for handling the expiration of these keys.

### Acceptance Criteria (We'll know we're done when...)

- [ ] We have a system in place to handle this situation.

[2022-07-20 19:58] geekygirlsarah commented on #384
Thought for Future Sarah: Try seeing if the action in `.github/workflows/deploy.yml` (the 18f/cf-...something) has the right push arguments and/or don't need something like `"${SAM_API_KEY}"` in curly brackets when quoted.

[2022-07-20 20:06] austinhernandez commented on #338
The implementation notes are:
- Erin is working on content so final navigation is pending IA/tree testing and error text will come after
- The requirement for the required fields are in the helper text: "Enter the starting PDF page number for each of the components listed below. Each required component on the checklist must have a numeric page number, unless otherwise noted below."
- A PDF has to

[2022-07-20 20:10] austinhernandez commented on #339
ready for peer review @sreuber @MelissaBraxton @melchoyce!

on figma: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3736%3A17737

![image](https://user-images.githubusercontent.com/23194720/180056336-8f72241e-9fac-4db8-b37c-69d4a2f49f5b.png)

- I changed the submission process to a modal instead of a page
- I wanted feedback around the CTAs after submission
- I wanted to

[2022-07-20 20:13] melchoyce commented on #338
@MelissaBraxton Do you think the new copywriting issues cover your note about error messaging:

...Or do we still need to follow up with a new issue?

[2022-07-20 20:19] austinhernandez commented on #304
I cant think of anything else, a Report ID # gets generated regardless, but not pre-populated, you have to manually enter the entity type...

[2022-07-20 20:20] sreuber commented on #339
The first/last names should be automatically pulled from login.gov is my understanding. We just don't want manual entry for those fields, so they don't conflict with what login.gov already has.

[2022-07-20 20:21] melchoyce commented on #339
Looks good to me 👍

Spitballing: would it work to cut the second, "Submission Complete" modal and display the confirmation as a notice on the "My audit submissions" page instead?

[2022-07-20 20:26] tadhg-ohiggins opened #386 "Tracking issue for notification system"
### Background
The approach we use for notifying users of any events contains a number of parts currently in existing stories; for the moment we're going to drop them here and will clean up this story in future.

#### Previously in https://github.com/GSA-TTS/FAC/issues/319
* [ ] The FAC creator specifies an auditor certifying official on the submission access page
* [ ] The auditor certifying rece

[2022-07-20 20:29] melchoyce commented on #372
This is looking great! Super thorough :)

I added one clarifying question to the doc, but that's all I have.

[2022-07-20 20:32] austinhernandez commented on #340
Yes, thanks for the update @melchoyce —now it only asks for email and role, thats what I have here and doesn't display a name. That's what I used as a model for this page and what I have here.

[As per that thread](https://gsa-tts.slack.com/archives/C1L58R804/p1658167390607859) "we're NOT keeping names for people invited in to audit/view it." So, in order to collect/display names for everyone, we

[2022-07-20 20:44] sreuber commented on #340
There's several other statements in that thread that contradict that though, so we should definitely get that clarification. My questions would be: Don't users coming to the audit home page to audit/view still need a login regardless? Do all login users have a first/last name associated with them? If both of those are the case, I don't see why they can't pull those names from login to display.

[2022-07-20 20:54] tadhg-ohiggins opened #387 "Certification and certification screen tracking issue"
### Background
Certification requires role-based checks, validation of the entire submission, and a set of attestations about it that certifiers must submit (possibly in the form of a series of checkboxes). This should be its own issue or set of issues, which this is the starting point for.

[2022-07-20 21:24] MelissaBraxton commented on #372
Sweet! @melchoyce Double check that I addressed your comment, but I'm thinking this is done.

[2022-07-20 21:40] melchoyce commented on #304
@tadhg-ohiggins In case there's any other SAM.gov auto-populated content we missed ^

[2022-07-20 21:40] austinhernandez commented on #372
looks good to me!

[2022-07-20 21:43] tadhg-ohiggins opened #388 "User login routing"
### Background
An ideal login flow for users is somewhat complicated and involves checking on data about what submissions a user is associated with, as well as presumably having them return to the URL they attempted to navigate to prior to getting redirected to login.

Related to [#332](https://github.com/GSA-TTS/FAC/issues/332).

Rather than taking on that complexity now, we'll divide it in three

[2022-07-20 22:14] tadhg-ohiggins commented on #304
As far as I know, we get UEI, auditee name, and auditee mailing address. (If we get anything; there may be cases where we get no results, and there may be cases where we get UEI and zero, one, or two of the other fields.)

[2022-07-21 04:05] geekygirlsarah commented on #334
@petermarks-gsa I closed this as completed since the work involved here was done in #246.

[2022-07-21 13:42] melchoyce commented on #304
Awesome, thanks for confirming!

[2022-07-21 14:26] petermarks-gsa commented on #285
@heymatthenry This is no longer blocked as #376 was resolved, right?

[2022-07-21 14:42] heymatthenry commented on #285
That's right. Just moved it back to `in progress.`

[2022-07-21 14:44] petermarks-gsa commented on #387
@tadhg-ohiggins I'm going to put this in the backlog until we refine, scope and assign a milestone to it.

[2022-07-21 14:44] petermarks-gsa commented on #388
@tadhg-ohiggins I'm going to put this in the backlog until we refine, scope and assign a milestone to it.

[2022-07-21 16:27] austinhernandez commented on #340
Yup just talked to him! I have a better sense of what's feasible and I'm currently working on this

TO DO:
Need to figure out rules for email address / roles (eg same email address cant be both certifier auditee and certifier auditor, etc.)

Questions:
- Can they cant be left blank?
- Is this picked up on the "check errors / finalize" page or which validation is at a page level?
- They can be left

[2022-07-21 17:45] #372 closed

[2022-07-21 17:56] sreuber commented on #368
Using agency Mural for now, will move over to GSA once I have access and will link to here.

[2022-07-21 20:02] melchoyce commented on #326
I'm thinking for the "Notes to SEFA" section, we can add a message to the previous screen that explains the section won't be used in 2023:

![image](https://user-images.githubusercontent.com/2846578/180304770-c87ee0ff-7b58-43ba-a48e-1b3778258195.png)
[Figma Link](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3982%3A21309)

@MelissaBraxton @sreuber @austinhernandez does t

[2022-07-21 20:22] erinzstrenio commented on #326
Quick question: Does "Notes to SEFA" refer to a section in the worksheet? Or a section of the FAC? Just trying to better understand the reference so I can try and give helpful feedback on the copy!

[2022-07-21 20:27] melchoyce commented on #326
The first image here: https://github.com/GSA-TTS/FAC/issues/326#:~:text=commented-,yesterday,-The%20data%20entry Thanks for clarifying!

[2022-07-21 20:52] erinzstrenio commented on #326
Ah, I should have more thoroughly read the previous comments before commenting!

If you decide to remove the page from the side nav as proposed here, then I might add just a little more context on the removed section:

If you decide to keep the page in the side nav because the plan is to add it back in future years, then you could include some simple text on the page without including the question

[2022-07-21 21:11] #246 closed

[2022-07-21 21:29] tadhg-ohiggins commented on #355
Are the API operations for in-progress SAC submissions and the API operations for `submitted` SACs as distinct as they appear to me right now? If so, we should probably consider them as two separate applications.

[2022-07-21 21:38] tadhg-ohiggins commented on #355
## `submitted` only, read-only API thoughts

Possible filters here:

1.  Year (fiscal year covered by audit. I think.)
1.  Reviewing agency. (Note that right now I don't know how we associate a given SAC with a reviewing agency…)
1.  Submitting auditee? (By UEI, presumably…)
1.  By organization type?
1.  By presence/absence of findings in the audit?

We need user research to determine other filter

[2022-07-22 14:12] sreuber commented on #374
@MelissaBraxton @jadudm @petermarks-gsa I have a draft of the AICPA agenda linked here, looking for feedback.

I'm assuming I am leading the meeting as discussed, but open to anyone else wanting to do this. https://docs.google.com/document/d/1CORabUQkigEwsL0iM80qWvRSf2Cg6BmCXWXGY0tXhb4/edit?usp=sharing

[2022-07-22 14:39] melchoyce commented on #326
Updated with the new copy and correct version of this page:

![image](https://user-images.githubusercontent.com/2846578/180462922-712fbf96-a0da-4a01-b8ec-1704075c3930.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4018%3A19329)

[2022-07-22 15:15] austinhernandez commented on #289
Yes, let's def raise on the census sync call for a definitive answer (ive been punting on this one) waiting for someone like yoouuuuuuu 🎵

[2022-07-22 15:26] geekygirlsarah commented on #355
Maybe certified/not certified?

I could also see a difference between what someone would be trying to get for the dashboard upon logging in vs. just general queries for public data. I can imagine the same endpoint could be used for both, but one might just want like in progress vs completed SACs for what the user is involved with (through the website) vs filtering on criteria to see SACs publicly.

[2022-07-22 15:58] geekygirlsarah opened #389 "Bug: Auditee name no longer required on Pre-SAC step 3"
### Background

After talking with @jasnakai about #317, he found that, on step 3, after removing the auditee/auditor contact name fields (as discussed in the ticket), the API still requires it. These need to be removed. His error:

[code]

### Acceptance Criteria (We'll know we're done when...)

- [ ] The `/sac/accessandsubmission` (or other) API endpoint(s) accepts a data object without the name

[2022-07-22 16:06] sreuber commented on #374
Tagging @erinzstrenio as well; open to your input on any of this and particularly around engaging & communicating with the auditor community. I have a few questions for now but open to elaboration.

[2022-07-22 16:33] erinzstrenio commented on #374
@sreuber added some suggestions in the agenda doc!

[2022-07-22 16:38] petermarks-gsa commented on #355
@geekygirlsarah @tadhg-ohiggins Thanks for putting some thought on this. I've added some background in the description and a pass at scoping this issue. I'm thinking we can keep this story fairly lean at this point. In response to a few specific points raised:

For now, I think we can go without anything other than what Census might find useful for data ingestion (I just reached out to them), whic

[2022-07-22 17:19] #389 closed

[2022-07-22 17:27] geekygirlsarah commented on #355
@beechnut has done some work with graph databases, but I'm not sure if that's here at TTS or outside of that. He gave a tech talk on it back in December '21.

[2022-07-22 17:34] heymatthenry commented on #285
@petermarks-gsa I moved this straight into `Done` since we walked through the AC yesterday, but please feel free to move it back to review if necessary.

[2022-07-22 17:34] #285 closed

[2022-07-22 17:57] rachelschneiderman opened #391 "🅛 Front End - My audit submissions Table"
Breakout of https://github.com/GSA-TTS/FAC/issues/343

As an authenticated FAC user, so that I may easily manage all my submissions, I need to be able to see a summary of all the Single Audit Checklists I have created.

## Pre-Conditions:
* User with at least one submitted (and no more than 5) SACs for the fiscal year is logged into FAC

## Acceptance Criteria:
* User can view all the Single Audit

[2022-07-22 18:17] petermarks-gsa commented on #278
@heymatthenry Looks like this story is done? We QA'ed on your machine and it looks like it's been fully merged? https://github.com/GSA-TTS/FAC-Frontend/pull/30

[2022-07-22 20:15] jasnakai commented on #317
Adding FE task to append an incrementer to the end of the added Auditor and Auditee Contacts on the Audit submission access form.
![Screen Shot 2022-07-22 at 2 07 50 PM](https://user-images.githubusercontent.com/106776019/180520394-66045fe1-4d2f-4253-8a77-10525176ff16.png)

[2022-07-22 20:20] austinhernandez commented on #361
alright this was a bigger ticket with a lot of dependencies, but getting there. ready for peer review @MelissaBraxton @sreuber @melchoyce:

on figma here: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4034%3A19388

Audit Start Page - audit form secondary nav / unlock the SF-SAC
![image](https://user-images.githubusercontent.com/23194720/180514636-77f45b7d-aeac-4199-bd28-

[2022-07-22 20:21] austinhernandez commented on #340
Also linked in #361

on figma here: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4034%3A19388

![image](https://user-images.githubusercontent.com/23194720/180519203-6c2f121d-63f2-4fa3-ae6d-cb3a23e8ee45.png)

notes:
- Email address fields are not editable on the submission access page, you must click the add or change button below each row to open the "Add / change..." m

[2022-07-22 20:50] geekygirlsarah opened #392 "Ensure more robust error handling in production"
### Background

Presently, `DEBUG = True` in "production" (fac-dev.app.cloud.gov), so full error pages show up. And if you make a call with some unexpected data types (one example that came up was providing the string `"true"` where it expected a bool), it could crash the app and spit out the debugging info screen instead of an error response output from the API call. This is fine for our early st

[2022-07-22 20:57] geekygirlsarah commented on #392
This came up when @jasnakai was trying to send the eligibility questions on pre-SAC step 1 and was getting a validation error, though am trying to replicate it and it seems to be adapting fine. I'm not sure what happened, but it makes me wonder about more robust error handling anyway as we don't do any exception handling as far as I can tell.

[2022-07-25 15:33] petermarks-gsa commented on #278
@heymatthenry per our convo in slack, sounds like this is done.

[2022-07-25 19:18] erinzstrenio opened #394 "figure out what to do with the "My Audit Submissions" page"
This issue covers the design and functionality of the "My Audit Submissions" page

### Background

[Figma page](https://www.figma.com/file/8REinLFKSMj7pwQ7JIEHGW/FAC-Sprint-11-prototype?node-id=407%3A3588)

### Open questions

- Can you still revise an audit after it's been submitted? (No)
- Will the submitted audit "disappear" after it's been submitted? (No)

### Tasks

- [x] Review open question

[2022-07-25 20:56] geekygirlsarah commented on #384
My learnings:

Presently the `.github/workflows/deploy.yml` file tries to send the SamGov key via `cf push --vars`, but according to [the docs](https://cli.cloudfoundry.org/en-US/v6/push.html), looks like `--vars` is to swap variables in the manifest file, not set environment variables via CLI.  (That's what `cf set-env` is for, see [docs](https://cli.cloudfoundry.org/en-US/v6/set-env.html).)

"Ea

[2022-07-25 21:14] erinzstrenio commented on #371
Taking notes on our analysis [here](https://docs.google.com/document/d/1WKIO45rufy81cgVKiCoR4g0KMBATd4rwCr3XgVgvr1s/edit)

[2022-07-25 21:44] melchoyce commented on #326
Scrap the above; after chatting with @austinhernandez and @erinzstrenio, we do think it's better the keep the pages for the MVP, and put the "we're not collecting this" notice in those pages:

![image](https://user-images.githubusercontent.com/2846578/180878922-dd48a1d1-51ba-4483-a21d-3709b88425f1.png)
![image](https://user-images.githubusercontent.com/2846578/180878943-a53961f9-2df5-4ace-ac3b-579

[2022-07-25 22:43] petermarks-gsa opened #395 "Design review of Milestone 1"
Background: We haven't been doing ticket-level design review.

Acceptance Criteria:
- [ ] Reviewed the features delivered in Milestone 1 (login + first three pre-FAC forms)
- [ ] File tickets for any needed fixes
- [ ] Advise on process for this going forward: Should we do it after each milestone or after each story?

[2022-07-26 14:43] erinzstrenio commented on #326
@melchoyce Looks great, thanks for updating these!

Small edit: you can remove the second "The" on the "Notes to SEFA page"
--> "Notes to the Schedule of Expenditures of Federal Awards (SEFA)"

[2022-07-26 14:59] erinzstrenio commented on #289
We reached out to Scott at Census to ask if the disclaimer text is required he said the following:

"I don't believe any of the disclaimer text is mandatory from a Uniform Guidance requirements perspective.  I believe all disclaimer text is present to satisfy Census Policy and Census IT security requirements/controls.  I would think all disclaimers on the Census FAC websites could be added/removed

[2022-07-26 15:07] erinzstrenio commented on #289
Updated the tasks above cc @melchoyce

[2022-07-26 17:17] heymatthenry commented on #314
[Stable link to `main` deployed to Federalist](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/site/gsa-tts/fac-frontend/).

There's also a note about this in the README for FAC-Frontend. GSA-TTS/FAC-Frontend@2dbf04b

[2022-07-26 17:27] melchoyce commented on #326
@petermarks-gsa This is good to push forward! Implementation notes are in [Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3910%3A18459).

[2022-07-26 17:31] melchoyce commented on #338
Let's assume error messages will be covered by #381, and move this forward.

[2022-07-26 17:45] petermarks-gsa commented on #284
Adding "needs refinement" to look into editing UEI use case.

[2022-07-26 17:51] melchoyce opened #396 "As a user, I want buttons to be in consistent positions across all pages so I don't click the wrong action."
This issue covers the design of all pages that use buttons:

### Background

| Primary + Link  | Secondary + Primary |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/2846578/181075255-0f7d2fb4-9e9d-4a67-8837-271f2e91348f.png) | ![image](https://user-images.githubusercontent.com/2846578/181076121-26f3d733-685c-4f89-8415-412576cbc13f.png) |

In some cases, we

[2022-07-26 18:59] petermarks-gsa commented on #328
@geekygirlsarah @jasnakai @tadhg-ohiggins I've added more context to this ticket and clarified that this is about excel file generation as we already did a ADR and associated spike for ["How to Handle Bulk Data Uploads"](https://github.com/GSA-TTS/FAC/blob/main/docs/architecture/decisions/0008-bulk-data-uploads.md). Please let me know if this is good to scope/estimate or if there are further refin

[2022-07-26 19:00] petermarks-gsa commented on #355
@geekygirlsarah @tadhg-ohiggins Please let me know if this is now defined enough to scope/estimate. Otherwise, I suggest we make time to meet and discuss.

[2022-07-26 20:49] melchoyce commented on #340
This is great. I think it might be complicated enough to warrant a little clickable prototype, just to demonstrate the behavior described in the implementation notes. Does that seem overkill?

Do we know if the audit creator has a role in the Census FAC? @tadhg-ohiggins I think you brought up this question, and I'm wondering if there's any way of figuring that out on the dev side.

If not, my feel

[2022-07-26 20:58] melchoyce commented on #361
I know this is how it works now, but man is this rough. I'm wondering if copy changes would go a long way to making this interaction more clear. Not anything you need to change here, just wanted to note.

Do we have any sort of popover that shows up on hover/click on mobile that explains why something is locked? That could be helpful in mitigating some of the confusion around "this only unlocks on

[2022-07-26 21:01] erinzstrenio commented on #340
@melchoyce Agreed that "remove user" is more clear for that label

[2022-07-26 21:11] melchoyce commented on #289
## cloud.gov

Small text warning with a "more details link," which opens a modal with the full text. Only option in the modal is "hide details." Accepting leads to cloud.gov's government login.

| Warning | T&S | Login |
| ------------- | ------------- | ------------- |
| ![Screen Shot 2022-07-26 at 4 59 34 PM](https://user-images.githubusercontent.com/2846578/181111558-74ab7e3f-f0e7-4fe1-98a8-dec

[2022-07-26 21:29] erinzstrenio commented on #289
## usa.gov and vote.gov

Neither of these two sites collects information from people beyond emails for email subscription, so this is the only disclaimer text they provide (as far as I could tell).

<img width="1042" alt="Screen Shot 2022-07-26 at 4 23 02 PM" src="https://user-images.githubusercontent.com/46569779/181115088-9489b70b-6268-4c33-9e4a-722fd3a9120c.png">
<img width="762" alt="Screen Sh

[2022-07-26 21:42] tadhg-ohiggins commented on #355
I have rewritten the ticket and trimmed it as much as possible; we can consider potential enhancements at a future time.

[2022-07-26 21:48] #373 closed

[2022-07-26 23:56] tadhg-ohiggins opened #398 "Ⓛ Internal API endpoint for viewing/editing SAC"
Breakout issue of #332.

Also related to #284.

## Background

We need an endpoint for editing individual SACs. On `GET` the endpoint will provide all info about a SAC instance; on `PUT` a user can submit a new instance. All other verbs are future enhancements.

## Technical overview

This issue covers only the backend aspects; the frontend aspect is #399.

This endpoint is authenticated; users ca

[2022-07-26 23:58] tadhg-ohiggins commented on #398
@heymatthenry I added you as an assignee to flag that this is related to #332 which we're both scoping.

[2022-07-27 00:08] tadhg-ohiggins commented on #388
Removing `needs scoping` on the basis that I think it can't be scoped until some refinement is done.

[2022-07-27 00:14] tadhg-ohiggins commented on #332
The third AC doesn't read right to me; currently it says that if trying to go to an audit I have access to when I am logged in should redirect to home page. Should this be addressing what happens if I'm not logged in?

[2022-07-27 03:08] tadhg-ohiggins commented on #314
Thanks @heymatthenry!

[2022-07-27 03:08] #314 closed

[2022-07-27 15:20] petermarks-gsa commented on #332
@tadhg-ohiggins Good catch, I added a **NOT** in there:

* [ ] When I try to access an audit I have access to and am **NOT** logged in, I should be redirected to the home page with alert/flash.

[2022-07-27 15:59] petermarks-gsa commented on #388
@tadhg-ohiggins Fair flag that we might want to consider more routing options. My hope is that we can make a quick decision here.

Here is my proposal for user login routing for design to review (cc @melchoyce, @sreuber):

* When a user logs in and has no submissions, they are redirected to step 1 of the pre-SAC flow
* When a user logs in and has exactly 1 submission, they are redirected to the au

[2022-07-27 16:25] sreuber commented on #388
@petermarks-gsa @tadhg-ohiggins These make sense to me, though if users can land on the "My Submissions" page with zero, the page state for that will need to be updated ([this](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=2709%3A12631) was the only mock I could find for that page, not sure if an alternative exists? cc @austinhernandez)

[2022-07-27 16:30] petermarks-gsa commented on #388
@sreuber I think what you have designed for zero submissions states generally works fine as it communicates a next step. I could see some minor copy tweaks being done, like clearly acknowledging you have no submissions, but I don't think that will change scoping.

[2022-07-27 16:33] sreuber commented on #388
Yeah, just changes in copy was all the more I would expect there. @erinzstrenio will have some insight in that case.

[2022-07-27 16:42] petermarks-gsa commented on #391
@rachelschneiderman One minor thing that appeared to get lost in translation is the post-login redirect behavior. We don't want to always redirect people to the audit submissions page. We're closing in on an exact AC in https://github.com/GSA-TTS/FAC/issues/388, but it's out of scope in this issue. Can you please change "Login to FAC" in your test cases to "View my submissions table"?

This came u

[2022-07-27 19:34] erinzstrenio commented on #388
Maybe we can add this to the design + dev agenda tomorrow so I have a better sense of the copy you're looking for on this page?

[2022-07-27 19:45] petermarks-gsa commented on #388
@erinzstrenio Happy to chat about copy then. @sreuber @melchoyce @austinhernandez unless I hear otherwise EOD, I'm going to assume you all concur Scott's 👍 on the below proposal and move forward with that as the acceptance criteria:

https://github.com/GSA-TTS/FAC/issues/388#issuecomment-1196948624

[2022-07-27 19:48] erinzstrenio commented on #366
## Content workflow

Here's how it's been going so far:

- Content strategist reviews design mocks in Figma
- Content strategist leaves comments in Figma with suggested edits and tags designer
- Content strategist also tracks content updates in GitHub in #367
- Content strategist works in [this Google doc](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit) scratc

[2022-07-27 19:48] melchoyce commented on #388
Agreed!

[2022-07-27 19:54] tadhg-ohiggins commented on #328
This seems like a research spike rather than an ADR/PDR, any objections to changing the name of the ticket to reflect that? If I'm incorrect and @jasnakai and @geekygirlsarah are going to be making a product decision via this issue, I'm not clear on exactly what the decision in question would be.

[2022-07-27 20:02] petermarks-gsa commented on #328
@tadhg-ohiggins I'm flexible on whether we do a formal ADR/PDR as part of this work.

My thinking is that @jasnakai and @geekygirlsarah would do this part of the AC:

- [ ] Compared a few libraries for excel file generation and considered security/compliance considerations.
- [ ] Consider the complexity of current excel templates / validation when making a recommendation
- [ ] Estimate effort vari

[2022-07-27 20:07] petermarks-gsa commented on #388
Great, let's move forward with my proposal, then. @tadhg-ohiggins, I've updated the issue description removed the needs refinement label and added the needs scoping label.

[2022-07-27 20:24] heymatthenry opened #399 "🅛 Implement form to view/edit SAC data"
Frontend ticket to accompany #398

## Background

Users will have input some data into the pre-SAC forms, and other data may have come from the SAM.gov API. If the user was unable to provide a valid UEI during the pre-SAC flow, some fields may be empty.

## Technical overview

On load, the page will request data from the endpoint described in #398 and, if a field from that endpoint is editable, it

[2022-07-27 20:37] tadhg-ohiggins commented on #284
284 consists of at least the following features:

*   Creation of SAC.
*   Handling of UEI stuff during creation.
*   Viewing SAC post-creation.
*   Editing SAC post-creation.
*   Handling the special case of manually-entered data that would normally be provided by SAM.gov via UEI lookup.

@heymatthenry  and I suggest that we split these out.

- [x]   Creation of SAC (already done, as a SAC instan

[2022-07-27 20:55] petermarks-gsa opened #400 "Date fields on Auditee Info screen should be marked required"
**Background**: "auditee fiscal period start/end" date fields are required. However, our [designs](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3257%3A15230) (current as far as I know) do not have "required" next to these date fields like we do for other required fields on this screen.

<img width="465" alt="Screen Shot 2022-07-27 at 1 49 01 PM" src="https://user-images

[2022-07-27 21:03] erinzstrenio commented on #380
@melchoyce created some new Figma mocks with updated copy [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4148%3A19746)!

[2022-07-27 21:05] melchoyce commented on #400
I think that might be a design oversight, it looks like [this mockup on that page](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3004%3A14713) does include the asterisks. @austinhernandez please let me know if I'm wrong!

[2022-07-27 21:06] #374 closed

[2022-07-27 21:07] #366 closed

[2022-07-27 21:13] petermarks-gsa commented on #284
@tadhg-ohiggins That sounds good to me. Do you want to take at refining this issue given that or would you like me to?

[2022-07-27 21:29] petermarks-gsa commented on #379
@timoballard I see https://github.com/GSA-TTS/FAC/pull/393 got merged. Are we good to close this?

[2022-07-27 21:56] timoballard commented on #379
@petermarks-gsa yep!

[2022-07-27 21:56] #379 closed

[2022-07-27 22:07] melchoyce commented on #289
Based on our research, I think [Austin's approach here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3341%3A15650) works. It's pretty much exactly how cloud.gov handles their terms, and improves on the pattern by allowing someone to accept and proceed straight from the modal as well.

[2022-07-27 22:12] tadhg-ohiggins commented on #328
@petermarks-gsa That seems like a reasonable approach to me. @geekygirlsarah and @jasnakai, does that work for you?

[2022-07-27 22:17] petermarks-gsa commented on #128
Per my QA in https://github.com/GSA-TTS/FAC-Frontend/pull/34, we can consider this done.

[2022-07-27 22:17] #128 closed

[2022-07-27 22:17] petermarks-gsa commented on #317
Per comments in https://github.com/GSA-TTS/FAC-Frontend/pull/34, we can consider this done.

[2022-07-27 22:17] #317 closed

[2022-07-27 22:19] tadhg-ohiggins commented on #284
@petermarks-gsa my refinement would essentially be replacing the current description with the contents of my comment, creating a new issue for changing UEI-related fields, and moving a lot of the current description into the description of that new issue. I'm not sure on how that relates to what #185 expects from this issue, however; do you think you need to change #185 if we do take this approach

[2022-07-27 23:23] jasnakai commented on #328
Works for me!

[2022-07-28 03:03] geekygirlsarah commented on #328
Seems fine with me

[2022-07-28 03:05] geekygirlsarah commented on #128
The "dones" aren't checked on here and this got closed. Safe to assume someone reviewed them?

[2022-07-28 12:34] #368 closed

[2022-07-28 14:17] austinhernandez commented on #394
June 28 design dev sync:

Design question for devs: What happens to your submitted audit history once you submit an audit? How can you uncertify an audit? How edge-case is that?

Tadhg: We do not support uncertifying at the moment; not sure how common that requirement would be.
Census system allows for submissions going from a status of submitted back to in progress after Census staff do a manual

[2022-07-28 14:28] austinhernandez commented on #339
@melchoyce — Thats a great idea! Way better options for what to do next.

@erinzstrenio — tadhg confirmed that we wont have a way to `uncertify` (https://github.com/GSA-TTS/FAC/issues/394) so i think we need some language around that like "you dont see it in this list and its in the ether rn. 🙈  nothing u can do about it 🤷🏽 maybe find it on the legacy fac in the near future?  🤷🏽 🙃 " i think the em

[2022-07-28 14:34] austinhernandez commented on #340
i changed the label to `remove user` AND added some prototype logic (which helped me think thru some edge cases). id love an extra set of 👀 on what to do when you remove a certifying official (which is mandatory for submission but will not prevent you from leaving this page)

on figma here: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4034%3A19388

[2022-07-28 14:39] SSPJ commented on #128
@geekygirlsarah The unchecked "dones" for accessibility were things I was checking while working on this. @heymatthenry and @jasnakai did some work after I was involved and could probably answer whether those are complete on the finished PR or need another pass.

[2022-07-28 14:54] jasnakai commented on #128
I did not perform dedicated tests of those points. I can do a quick review.

[2022-07-28 16:15] heymatthenry opened #401 "🅛 Front end - implement access denial"
Breakout issue of #332

## Background

Currently any user can visit any URL in the app, irrespective of whether they are logged in (though any interactions that involve hitting the API do require login)

## Technological overview

Eleventy doesn't have any built-in authentication, and because we're just dealing with static HTML, there's no server to handle auth and everything needs to happen on th

[2022-07-28 16:49] petermarks-gsa commented on #400
@austinhernandez Can you confirm we should have asterisks next to the date fields here as they're required?

[2022-07-28 16:52] petermarks-gsa commented on #128
I did accessibility checks as part of https://github.com/GSA-TTS/FAC/issues/200. Sorry for not being more explicit at story level.

[2022-07-28 17:20] petermarks-gsa opened #402 "Display relevant UEI options for submissions with and without valid UEI"
Breakout of https://github.com/GSA-TTS/FAC/issues/185

### User stories:
- As a user who has started submission *with* a valid UEI, the state of related fields on the general information page should reflect my options.
- As a user who has started submission *without* a valid UEI, the state of related fields on the general information page should reflect my options.

### Acceptance criteria: ###

*

[2022-07-28 17:32] petermarks-gsa commented on #284
@tadhg-ohiggins I've minimized the scope of this issue to the tasks you laid out and created a separate story for the UEI-related fields that needs scoping: https://github.com/GSA-TTS/FAC/issues/402

I'm going to remove the needs refinement label for this issue.

[2022-07-28 17:44] geekygirlsarah commented on #384
Update:
- [X] Started down the "better" fix with making a UPSI. It has the new key in it
- [X] The UPSI is bound to the `gsa-fac-dev` instance and it can "see" the SamGov key
- [X] Verified it comes through as a different environment variable (`VCAP_SERVICES` which is a JSON blob, which has `key-service->credentials->SAM_API_KEY`)
- [ ] Going to update the app so it can use that key instead of the

[2022-07-28 18:52] MelissaBraxton commented on #352
@petermarks-gsa moving this into review while the team takes a look. Can I pass on the task of making any refinements to you?

[2022-07-28 20:21] melchoyce commented on #400
This is what it looks like on the "General Information" form page:

![Screen Shot 2022-07-28 at 4 20 56 PM](https://user-images.githubusercontent.com/2846578/181630089-c0efbd62-72d0-4084-b3ed-a738ff48bf65.png)

[2022-07-28 21:42] petermarks-gsa commented on #352
@MelissaBraxton Yes, sounds great.

[2022-07-28 22:07] erinzstrenio commented on #337
I made some suggested edits to the error messages (from the TXT file) in [this Google doc](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.qxh1fnjvsw9m) — ready for peer review and if all looks good, these can replace the messages in the TXT file.

[2022-07-28 22:10] erinzstrenio commented on #381
Ready for peer review! https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#
cc @melchoyce @austinhernandez

[2022-07-29 16:19] heymatthenry commented on #185
After discussing it, @timoballard & I think that #284 (and its respective front- & back-end breakout issues) effectively captures the scope for the milestone 2 iteration of this ticket. So that brackets out both the "Next Iteration" bullets from the issue description, as well as the Multiple UEIs/EINs page bullets, which have already been ID'd as candidates for separate tickets.

[2022-07-29 18:51] melchoyce commented on #328
Hey! Double-checking, will this research spike be a part of our next sprint?

[2022-07-29 19:54] melchoyce commented on #324
Is this covered by #328?

[2022-07-29 20:47] erinzstrenio commented on #371
@sreuber and I started making recommendations in the doc, but it requires a bigger conversation on the nav with the rest of the design team

[2022-07-29 21:06] erinzstrenio commented on #339
@austinhernandez updated content [here](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.44u63rrv7phf) based on our design + dev sync chat yesterday

[2022-07-29 21:09] erinzstrenio commented on #394
[Updated text](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.44u63rrv7phf) based on sync conversation yesterday - ready for peer review cc @austinhernandez

[2022-07-29 21:24] #380 closed

[2022-07-29 21:25] erinzstrenio commented on #358
Related ticket: #380
@melchoyce created updated Figma mocks based up updated content I provided

[2022-07-29 21:30] #381 closed

[2022-07-29 21:38] melchoyce commented on #337
With the error copy editing, anything else we need to do here before passing off to devs?

[2022-07-30 21:27] erinzstrenio commented on #289
I agree that Austin's approach looks good, and I updated the text to more closely mimic the disclaimer text found on cloud.gov and other GSA services — [here's the updated disclaimer text.](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.x0twed3s3rwi) There seemed to be a lot of unnecessary jargon on the Census disclaimer text (but we shall see what O

[2022-08-01 14:48] petermarks-gsa commented on #328
@melchoyce Good question. At our weekly design sync on 7/28 ([notes](https://docs.google.com/document/d/1Aq5Y6RyWSXXQD0CExanNekWn7GK3YpEmo0FznenRRf4/edit#)), we discussed whether we discussed whether we want to implement web forms before Excel upload. From notes, it looks like we decided to have the engineering team discuss if that approach will lead us to Excel upload in a shorter amount of time

[2022-08-01 14:49] #324 closed

[2022-08-01 14:59] petermarks-gsa commented on #328
@tadhg-ohiggins @geekygirlsarah @jasnakai It sounds like we're aligned on acceptance criteria per [this comment](https://github.com/GSA-TTS/FAC/issues/328#issuecomment-1197307005). Are we good to remove either the needs refinement or needs scoping label?

[2022-08-01 15:00] petermarks-gsa commented on #402
@tadhg-ohiggins Flagging that we don't have someone assigned to scope this breakout story.

[2022-08-01 15:18] petermarks-gsa opened #404 "Single audit reporting package upload"
## User stories
1. As an auditor I need to check that all audit report components are included in my audit report so that I can submit a complete audit that will be accepted.
3. As an auditor, I need to upload a CAP as a separate document so that my submission meets uniform guidance.
3. As an auditor, i need to ensure that my audit report contains no PII before I submit.
4. As an auditor, I need t

[2022-08-01 15:20] petermarks-gsa commented on #338
Next steps captured in https://github.com/GSA-TTS/FAC/issues/404. Closing this.

[2022-08-01 15:20] #338 closed

[2022-08-01 15:23] petermarks-gsa opened #406 "Implement notes to SEFA placeholder / disclaimer screen"
## Background:
 We've been told that by Census that this screen is optional, so we are simply providing a disclaimer/placeholder for now.

## Design:
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3910%3A18459

![image](https://user-images.githubusercontent.com/2846578/182708791-ba9eebde-a423-4375-8905-ac05f837e89e.png)

##  Implementation notes
- “SEFA” should be spelled

[2022-08-01 15:26] petermarks-gsa commented on #326
Next steps captured here: https://github.com/GSA-TTS/FAC/issues/406. Closing.

[2022-08-01 15:26] #326 closed

[2022-08-01 16:46] petermarks-gsa commented on #332
@tadhg-ohiggins Are we good to remove "needs scoping" now?

[2022-08-01 16:56] jhansen-flexion commented on #339
see the slack thread about this issue here: https://gsa-tts.slack.com/archives/C1L58R804/p1659357013381369

[2022-08-01 17:17] tadhg-ohiggins opened #407 "Login flow: keep original destination for logged-out user"
### Background
Users may wish to be redirected upon login based on where they were trying to go before being required to log in.

Enhancement of #388.

If the destination is not the root path, this should override redirection based on how many submissions a user has; otherwise, it should fall back to that flow, if it has been implemented.

The proposed flow is:

1.  User attempts to visit location

[2022-08-01 17:21] tadhg-ohiggins opened #408 "Login flow: user should end up somewhere depending on their number of submissions."
### Background
Users may wish to be redirected upon login based on the number of submissions they have.

Enhancement for #388.

The proposed flow is:

1.  User logs in.
1.  Backend looks up how many audits the user is associated with.
1.  Backend determines, based on that number, where the user should go:
    *   0 submissions: step 1 of pre-SAC flow.
    *   1 submission: audit start page for tha

[2022-08-01 17:23] tadhg-ohiggins commented on #388
I removed the rules based on user number of submissions and moved that to #408 as a future enhancement, and moved the “they should end up where they were trying to go before logging in” feature to #407 as a future enhancement, and changed the description accordingly.

[2022-08-01 17:25] tadhg-ohiggins commented on #388
This issue will now effectively be done when #401 is done.

[2022-08-01 18:04] petermarks-gsa commented on #388
@tadhg-ohiggins Should we close this as "not planned" as the breakout issues are their own stories to break up?

[2022-08-01 18:24] #388 closed

[2022-08-01 21:05] jasnakai commented on #328
I'm good with removing them but I did not add them.

[2022-08-01 21:21] petermarks-gsa commented on #328
@jasnakai @geekygirlsarah Per discussion at engineering estimation, let's leave needs scoping on this until we have an estimate. I'll take needs refinement off, but let me know if you have any further questions on requirements.

[2022-08-01 21:23] petermarks-gsa commented on #402
@tadhg-ohiggins Following up on estimation meeting today, flagging that the goal is to estimate this before sprint planning tomorrow.

[2022-08-01 21:24] petermarks-gsa commented on #185
@heymatthenry @timoballard Following up on estimation meeting today, flagging that the goal is to estimate this before sprint planning tomorrow. Re-adding needs scoping label until that's done.

[2022-08-01 21:25] petermarks-gsa commented on #378
This has passed QA

[2022-08-01 21:25] #378 closed

[2022-08-01 21:25] petermarks-gsa commented on #359
This has passed QA

[2022-08-01 21:25] #359 closed

[2022-08-01 21:25] petermarks-gsa commented on #391
@heymatthenry @jasnakai Following up on estimation meeting today, flagging that the goal is to estimate this before sprint planning tomorrow.

[2022-08-01 21:26] petermarks-gsa commented on #199
@tadhg-ohiggins Do we for sure need this for milestone 2? If so, can we estimate it?

[2022-08-01 22:09] tadhg-ohiggins commented on #391
Note that this ticket addresses its AC as written: “User can view all the Single Audit Checklists they have submitted” but not the AC from #343: “The user will see a table containing the audits they're associated with.”

In the spirit of moving forward with the minimal approach, I think we leave this ticket as is in terms of that aspect, and I'll add a new ticket with the rather more significant b

[2022-08-01 22:18] tadhg-ohiggins opened #410 "Ⓛ Backend for all SACs associated with current user"
Breakout issue of [#343](https://github.com/GSA-TTS/FAC/issues/343)

### Background

The “My audit submissions” page should show all submissions for a user—not merely all submissions *by* a user. We need an endpoint for that.

*   Since we're filtering by user by definition:
    *   We need to handle auth.
    *   We need to get the user from the login/auth machinery.
    *   We need to get the su

[2022-08-01 22:20] geekygirlsarah commented on #328
We are estimating this as an L because @jasnakai and I feel that the data points we need to make a determination aren't large, but the time needed to produce those data points will take a couple of days, at least. It feels like the work is a M, but due to the time will be an L.

[2022-08-01 22:38] tadhg-ohiggins commented on #199
I'll move it to Milestone 3.

[2022-08-02 13:47] heymatthenry commented on #332
@petermarks-gsa @tadhg-ohiggins I'm calling this `XL` because it has multiple constituent tickets, most of which are themselves `L`s.

[2022-08-02 13:49] heymatthenry commented on #332
@petermarks-gsa Should the first AC on this be:

Or am I missing something?

[2022-08-02 14:10] heymatthenry commented on #391
We're handling pagination for this all on the client side, right @tadhg-ohiggins & @geekygirlsarah? I feel like that's where we landed on this when we talked about it the other day. This feels 🅛 to me if so. 🅜 otherwise.

cc: @jasnakai

[2022-08-02 14:35] heymatthenry commented on #185
@timoballard Given the number of breakout tickets, and the FE/BE coordination this will take, this feels `XL` to me. What do you think?

[2022-08-02 14:36] timoballard commented on #185
@heymatthenry agree, definitely `XL`

[2022-08-02 14:53] petermarks-gsa commented on #185
Sounds good. I'll remove "needs scoping" as I believe that was the only thing outstanding here.

[2022-08-02 14:58] petermarks-gsa commented on #332
@heymatthenry Hmm, yeah somehow that got changed. I changed it to what you have. Thanks!

[2022-08-02 15:04] melchoyce commented on #289
The updated text seems nice and succinct.

@austinhernandez anything else we need to do before moving this on to dev? I figure we can get it moving while working on getting the disclaimer text approved.

[2022-08-02 15:17] melchoyce commented on #381
@petermarks-gsa Do we need to do anything additional with these completed copy tickets?

[2022-08-02 15:18] petermarks-gsa opened #411 "Revised FAC vision statement"
There is a vision statement from January that is out of date. Goal is to give clarity to the team around broader product context.

[2022-08-02 15:22] #411 closed

[2022-08-02 15:42] melchoyce commented on #340
The flow looks good to me. I definitely think we'll want to test this once it's built, since it requires a lot of email/position wrangling, but for now I think we're good to move forward with what you have.

[2022-08-02 15:43] melchoyce commented on #339
So, sounds like this won't need any changes? In that case, anything left to do before moving this one forward to dev?

[2022-08-02 15:53] melchoyce commented on #288
Re-opening this with some design suggestions based on the copy updates in #380:

![image](https://user-images.githubusercontent.com/2846578/182418094-68733fb2-2ca4-43e9-9fd8-58484920b6ea.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4148%3A19746)

Ready for peer review @austinhernandez @sreuber

[2022-08-02 16:13] tadhg-ohiggins commented on #391
Yes, pagination is client-side.

[2022-08-02 16:15] melchoyce commented on #313
Blocked by https://github.com/GSA-TTS/FAC/issues/328

[2022-08-02 16:19] tadhg-ohiggins commented on #332
@heymatthenry @petermarks-gsa I believe that currently we don't have the functionality for passing the original destination along through the login flow.

While that's how it should work in the long run, we should consider that an enhancement (it's captured [here](https://github.com/GSA-TTS/FAC/issues/407)).

[2022-08-02 16:19] melchoyce commented on #357
Let's tackle this in the next sprint.

[2022-08-02 16:34] melchoyce commented on #304
**If you have a UEI already entered and confirmed:**

![Screen Shot 2022-08-02 at 12 21 52 PM](https://user-images.githubusercontent.com/2846578/182424421-1e95e2f2-1011-4054-886f-cf675ed9303e.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4038%3A20103)

**If you don't have a UEI confirmed**

![image](https://user-images.githubusercontent.com/2846578/182426703

[2022-08-02 16:51] melchoyce commented on #357
Actually, looks like #371 is a duplicate and already has comments. Going to close this issue in favor of that one.

[2022-08-02 16:51] #357 closed

[2022-08-02 17:29] melchoyce commented on #371
Per our sprint review today, we're going to try re-testing the updated IA in a tree test, likely in one or two sprints from now (11 or 12).

[2022-08-02 18:02] petermarks-gsa commented on #332
@tadhg-ohiggins Agree routing to original destination is out of scope for this. Thanks for making a breakout.

[2022-08-02 18:24] petermarks-gsa opened #412 "Implement error message copy"
## Background

Implementation task for:
* https://github.com/GSA-TTS/FAC/issues/381
* https://github.com/GSA-TTS/FAC/issues/337

Drafted content in [Google doc](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.qxh1fnjvsw9m)
Errors .txt file [here](https://github.com/GSA-TTS/FAC/files/9132950/Errors_939014.txt)

## Acceptance criteria
Verify error copy

[2022-08-02 18:26] petermarks-gsa commented on #381
@melchoyce I'm creating implementation tickets for them. Just created this:

https://github.com/GSA-TTS/FAC/issues/412

[2022-08-02 18:32] melchoyce commented on #395
Appreciate these testing steps, thanks @petermarks-gsa!

[2022-08-02 18:34] melchoyce commented on #375
Looks like this is good to go, @austinhernandez can you confirm?

[2022-08-02 20:10] #344 closed

[2022-08-03 02:56] tadhg-ohiggins commented on #328
I added a section on maintainability, as that is critically important for our approach to this area; I also added that as part of the acceptance criteria.

[2022-08-03 15:26] melchoyce opened #413 "As a user, I need to know where to go for help when setting up my audit"
This issue covers the design of help and support during the Audit Start process.

### Background

When starting a new audit, users need to know what to do if they run into trouble or can't fill something out. We should provide a clear way for them to find support.

(Chat bots are out of scope for this round.)

### Acceptance criteria (We'll know we're done when...)

- [ ] Users know where to get s

[2022-08-03 15:47] melchoyce commented on #337
@petermarks-gsa Let's move this to dev and create any follow-up design issues as needed.

[2022-08-03 16:12] austinhernandez commented on #339
- I did have to change having `submitted` as one of the statuses under my audit submissions. This has implications both for dev AND for other design screens
- I incorporated Erin's feedback and made some [suggestions for alternative copy](url).
- I am still not clear what actions a user can take when clicking the submitted audit. I think it should be clear that it's no longer editable from that ac

[2022-08-03 16:18] melchoyce commented on #339
I'll make a follow-up issue to explore this 👍

[2022-08-03 16:52] melchoyce opened #414 "As someone with access to a submitted audit, I want to be able to view my submitted audits."
Breakout issue of #339.

This issue covers the design of previewing submitted audits.

### Background

We've been discussing the possibility of editing submitted audits, and it looks like that's off the table per this info from @jadudm:

What if there is s submission one day before it is due, an agency pulls the data later that night, and begins their evaluation processes the next day.

However, w

[2022-08-03 17:23] austinhernandez commented on #361
Re-upload audit report and View/Print audit report link become active when Enter and Finalize Form SF-SAC and Upload and Finalize Audit Report is marked as done

[2022-08-03 17:30] austinhernandez commented on #375
not quite...... i think this ticket will be complete when there is a completely updated, consistent user flow ready for the next round of usability testing

[2022-08-03 17:58] timoballard opened #415 "Make backend Login.gov settings configurable by environment"
### Background
The Login.gov settings (e.g. login.gov issuer URL) are currently hardcoded in `settings.py` to point to the Login.gov sandbox environment. This should be updated so that the appropriate settings are used based on the deployment environment.

### Acceptance Criteria (We'll know we're done when...)

- [ ] When running the FAC backend locally, the login.gov sandbox configuration is aut

[2022-08-03 18:01] timoballard opened #416 "Make frontend Login.gov settings configurable by environment"
### Background
The Login.gov settings (e.g. login.gov issuer URL) are currently hardcoded in `auth.js` to point to the Login.gov sandbox environment. This should be updated so that the appropriate settings are used based on the deployment environment.

### Acceptance Criteria (We'll know we're done when...)

- [ ] When running the FAC frontend locally, the login.gov sandbox configuration is automa

[2022-08-03 18:02] melchoyce commented on #292
Related to #304.

[2022-08-03 18:22] austinhernandez commented on #375
This is a sprint 11 prototype placeholder where we can put updated / consistent screens with finalized copy ready for usability testing:

https://www.figma.com/file/8REinLFKSMj7pwQ7JIEHGW/FAC-Sprint-11-prototype?node-id=0%3A1

[2022-08-03 18:26] heymatthenry commented on #401
Made some progress this, but am now blocked until (at least the authentication piece of) #398 lands.

[2022-08-03 18:35] petermarks-gsa commented on #289
@melchoyce Just to make sure I understand, the disclaimer text we're talking about here is the "Federal Audit Clearinghouse terms and conditions" copy in the [modal](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3341%3A15489) that is viewable when you click "submit an audit" in nav or "start a new submission" on the "my audit submissions" page?

[2022-08-03 18:36] heymatthenry opened #417 "Create separate accessibility spec"
Currently, the cypress specs for each page have a test at the end which runs the Lighthouse accessibility audit. This is:

1. Inefficient, since Lighthouse has to spin up once for each spec, making CI take longer; and
2. Annoying, if that test runs every time you make a change locally while Cypress is open & running

We should make a separate accessibility spec that spins up Lighthouse once and po

[2022-08-03 19:44] melchoyce commented on #289
Correct.

It's been updated now to _only_ show when you click the link in "I agree to the above terms and conditions" on the My Audit Submissions page:

![image](https://user-images.githubusercontent.com/2846578/182695541-7bc13f92-5694-4cea-ae14-1679b8223f1c.png)

[2022-08-03 20:34] tadhg-ohiggins opened #418 "Change `Access` data model"
Breakout issue of [#410](https://github.com/GSA-TTS/FAC/issues/410) covering rewriting the `Access` data model.

### Background
We need to make sure the process for lookup up `User` to `SingleAuditChecklist` relationships is a straightforward one. Our older approach was to have multiple fields in the `SingleAuditChecklist`:
*   `certifying_auditee_contact`
*   `certifying_auditor_contact`
*   `aud

[2022-08-03 20:44] geekygirlsarah commented on #418
Good luck, @timoballard.  [salute]

[2022-08-04 15:28] #266 closed

[2022-08-04 15:48] timoballard opened #420 "Create production deployment workflow"
### Background
We currently only have a Github Action workflow for deploying to the dev cloud.gov space. We'll need to either create a separate workflow for production, or we'll need to modify the current one to be flexible with respect to deployment environments.

We also need to change to the OROS organization and stop using the 10x org and space we’re currently in.

We should switch to a gitflo

[2022-08-04 17:28] melchoyce commented on #395
Follow-up: we'll create new issues for any bugs we find.

[2022-08-04 17:40] melchoyce commented on #414
We chatted this over in our design/dev sync today, and it sounds like this won't be feasible for the MVP:

Some other options that came up:
- The submission is listed in the table, but the report ID isn't a link. The table row would just be informational.
- Show a "you can't edit" notice on every page and then if someone tries to save, return an error.
- Instead of directing to the submission edit

[2022-08-04 17:56] petermarks-gsa commented on #352
@heymatthenry @austinhernandez We took a stab at refining the draft of our team charter today at co-work. In the next week, could you please review it [here](https://app.mural.co/t/gsa6/m/gsa6/1657921027860/f6d15b9a5882fb0615078010bacc5dd4826c0130?invited=true&sender=ua4d37dfba3f1e69e09078790) and let us know if you have any questions or suggestions?

[2022-08-04 18:17] tadhg-ohiggins opened #421 "How important to users are their roles on audits?"
### Background

The current version of the “My audit submissions” table has these columns:

|               |             |                  |                   |                           |
| ------------- | ----------- | ---------------- | ----------------- | ------------------------- |
| **Report Id** |  **Status** |  **Auditee UEI** |  **Auditee name** |  **Fiscal year end date** |

This does

[2022-08-04 18:48] austinhernandez commented on #304
I didnt work on this section, so I am less familiar with it than the other pages, but this seems right

- I remember users wanting to put in an auditee name even with an invalid UEI so they could find it easily.
  - I also recall a few users say they wouldnt even proceed without an invalid UEI bc they were unsure if it was a server error or what would happen next.
- Q: With an invalid UEI, they ca

[2022-08-04 19:50] austinhernandez commented on #288
looks great! as long as there is a disclaimer that this is the copy we will be testing :D

[2022-08-04 19:54] melchoyce commented on #288
Great point, added a note. @petermarks-gsa this is ready to pass on.

[2022-08-04 22:50] melchoyce commented on #304
This is the second opportunity auditor/ees have to fill out UEI, the first of which being in the "Create Audit" flow:

https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=2552%3A11276

If they confirmed their UEI in that flow, then when they get to this screen, we've already pre-populated their information. We don't want their information to get out of sync with what's coming

[2022-08-05 04:00] geekygirlsarah commented on #384
Latest status for Monday Sarah: Code works, it can read the key just fine from the UPSI. GitHub Actions is not taking its secret and adding it to the UPSI deploy part (it just comes through as "$SAM_API_KEY"). Need to fix that, possibly with `${SAM_API_KEY}" ?

[2022-08-05 16:25] austinhernandez commented on #150
With a recent turn over in teammates, and three designers developing new screens and content, we need to be able to get consistent on design and track which questions we want to ask of our next round of usability testing.

I added to the research plan Melissa added above and created a figma prototype file that we can use to upload "finalized screens.

1. [Research plan for auditees ](https://docs.

[2022-08-05 17:13] austinhernandez commented on #414
Totally agree. The UI heuristics I want to be mindful of are:

- **Help users recognize, diagnose, and recover from errors:** Its fine if things are out of scope, but error messaging should be clear and recognizable.
- **Help and documentation:** the system should be user-friendly enough not to warrant any additional explanation. However, it may be necessary to provide documentation on things like

[2022-08-05 17:15] austinhernandez commented on #304
I'm wondering if it makes sense to have the `edit UEI` link go to the "SF-SAC: General Info" page since more than just the UEI is updating and it will remove the information that was added before.

Also, will the UEI be editable always or only in the case of an invalid UEI?

[2022-08-05 17:23] tadhg-ohiggins commented on #304
Here are my thoughts on editing UEI and its related fields:

### Flow with successful UEI lookup

UEI and auditee name (and likely auditee address, in future) will be populated and non-editable. To change the UEI, the user will have to go through a flow that should basically replicate the flow of their initially entering it. This includes the path for an unsuccessful UEI lookup.

### Flow with uns

[2022-08-05 17:27] tadhg-ohiggins commented on #304
Those thoughts are based on the technical constraints around the fact that these fields are special, in they they're not supposed to be user-editable but we're supporting some cases where they are because we can't fully rely on UEI.

[2022-08-05 18:27] petermarks-gsa opened #424 "My audit submissions page - start new submission"
Related to / breakout of https://github.com/GSA-TTS/FAC/issues/391

**Design**: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3341%3A15489

**Acceptance Criteria:**
- [x] Should see "start a new submission" header, the terms checkbox unchecked and the "start a new submission" button greyed out.
- [x] When I check the checkbox, the "start a new submission" button should b

[2022-08-05 18:32] petermarks-gsa commented on #289
@melchoyce Gotcha. I've created an implementation ticket [here](https://github.com/GSA-TTS/FAC/issues/424). Is it fair to assume people should see that modal regardless of whether they click the "I agree to the above" checkbox, or should they see some sort of error?

[2022-08-05 18:35] petermarks-gsa commented on #288
@melchoyce Great, I've updated https://github.com/GSA-TTS/FAC/issues/358 with latest figma link and implementation notes.

[2022-08-05 18:35] #288 closed

[2022-08-05 19:04] melchoyce commented on #289
Good catch—the "start a new submission" button should be disabled until you check "I agree."

[2022-08-05 22:27] melchoyce commented on #304
Thanks @tadhg-ohiggins!

Based on this feedback and a conversation with @austinhernandez, I've explored what it could look like if you confirmed your UEI during the Audit Start section:

![image](https://user-images.githubusercontent.com/2846578/183218525-4886afeb-0516-4802-926d-8ede51f427e0.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4354%3A22378)

If pre

[2022-08-08 13:44] heymatthenry commented on #352
@petermarks-gsa LGTM! 👍🏻

[2022-08-08 17:13] petermarks-gsa commented on #289
@melchoyce Thanks for the clarification, I've updated the acceptance criteria.

@tadhg-ohiggins For transparency, I've created a front end implementation issue for this that seems limited in scope:

https://github.com/GSA-TTS/FAC/issues/424

I've listed it as a related task for this issue:

https://github.com/GSA-TTS/FAC/issues/391

[2022-08-08 17:26] petermarks-gsa commented on #402
@tadhg-ohiggins I'm suggesting this issue as an item for backlog refinement tomorrow. This needs to be both scoped and to take into account user research in https://github.com/GSA-TTS/FAC/issues/304

[2022-08-08 17:27] petermarks-gsa commented on #304
@melchoyce From my perspective, implementation for this will be covered in https://github.com/GSA-TTS/FAC/issues/402. We can discuss specifics at backlog refinement tomorrow. Proposing we close this for now.

[2022-08-08 17:27] #304 closed

[2022-08-08 17:32] petermarks-gsa commented on #337
@melchoyce This appears to be covered in https://github.com/GSA-TTS/FAC/issues/412. Suggesting we close. cc @tadhg-ohiggins

[2022-08-08 17:32] #337 closed

[2022-08-08 18:40] austinhernandez commented on #215
here is fed award uploaded page:

https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3061%3A14588

[2022-08-08 19:23] petermarks-gsa opened #425 "SAM.gov search results are momentarily stale"
Steps to replicate:
* Do an entity search on the "auditee information" screen for an invalid UEI
* Should see no results modal as expected.
* Go back and search for a valid UEI
* Should see no results modal for a second or so, then a valid results section

Expected: Should not momentarily see stale "no results" state.

[2022-08-08 19:31] #418 closed

[2022-08-08 20:48] austinhernandez commented on #352
sorry @petermarks-gsa , i already took action on this so i assumed it was done.

[2022-08-08 21:01] petermarks-gsa commented on #352
@austinhernandez No problem, we updated the "core values" and "group norms" sections as a team last week.

[2022-08-08 21:53] melchoyce commented on #304
One last update — cleaned up the page and designed how to access the UEI search modal when your UEI isn't confirmed: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4398%3A21480

[2022-08-09 16:08] heymatthenry opened #426 "Fix postCSS glitch running on localhost"
When the site first reloads after a change to the CSS, some of the asset links don't work correctly:
![image](https://user-images.githubusercontent.com/6290/183702740-54132c09-c41b-4b88-82d3-9f4aefdd8687.png)

This is because of a quirk in how PostCSS is invoked in the build process. The PostCSS autoprefixer has to add the `-webkit` prefix to the `mask` property in order for it to work in Chrome.

[2022-08-09 16:12] melchoyce commented on #395
Completed a pass-through of the audit creation flow. Recording some notes here for storage, then I'll work on turning each into its own issue with screenshots and clarification:
- Can we add non-breaking spaces between required form labels and the * so the * doesn't get bumped to a new line?
- Continue/cancel buttons — reference #396
- Cancel button doesn't work
- Decrease space between form field

[2022-08-09 16:45] heymatthenry opened #427 "Fix failing form specs"
Some of the form test cases have been broken out into separate specs to prevent incorrect failures due to a bug in the tests.

[2022-08-09 16:53] #400 closed

[2022-08-09 17:27] petermarks-gsa commented on #402
Per discussion with @tadhg-ohiggins and @melchoyce, we're considering this blocked pending further design research and response from Census. We'll revisit the decision to move forward without a valid UEI after that.

[2022-08-09 17:44] tadhg-ohiggins commented on #304
We decided that the field for *Auditee email* should be a text field, not a dropdown.

[2022-08-09 18:04] petermarks-gsa commented on #343
@tadhg-ohiggins Per discussion, @heymatthenry and @jasnakai felt this story was sufficiently scoped in subtasks, so I've removed the "needs refinement" and "needs scoping" labels.

[2022-08-09 20:27] #417 closed

[2022-08-09 22:55] melchoyce opened #429 "M1: Minor Design Updates"
Breakout issue of #395

-----

### Asterisk can break onto a new line

![Screen Shot 2022-08-09 at 11 48 23 AM](https://user-images.githubusercontent.com/2846578/183769938-beb48f8f-9bab-4adc-9d9e-8f0ac508209e.png)

- [x] Can we add non-breaking spaces between required form labels and the * so the * doesn't get bumped to a new line?

-----

### Too much space between form fields

![Screen Shot 2022

[2022-08-09 23:05] melchoyce commented on #395
Checked the component, and it looks like there is **not** an example linking the numbers in the demo at least: https://designsystem.digital.gov/components/step-indicator/

I do think it would be good to allow people to move backwards if needed. @austinhernandez what do you think about this one?

[2022-08-10 13:41] #410 closed

[2022-08-10 15:30] melchoyce commented on #395
Checked with @sreuber about this, and I think I was actually looking at the wrong mockup. What's on staging is good to go!

Scott had one copy note for when @erinzstrenio is back:

[2022-08-10 15:45] melchoyce opened #430 "🅢 M1: Cancel button doesn't work yet"
Breakout issue of #395

In the M1 pre-sac flow steps (1-3), the "cancel" button doesn't do anything yet.

"Cancel" should display an "are you sure?" confirmation, and if you click yes, should bring you back to the "my audit submissions page" (list of all audits)

### Tasks

- [ ] ~~(Potentially back end) delete entries in JSON packet for steps 1-3.~~
- [ ] Code up the "cancel" button so it cancels

[2022-08-10 20:31] melchoyce opened #432 "M1: Add navigation links to step indicator"
Breakout issue of #395

Can we add links to the [step indicator](https://designsystem.digital.gov/components/step-indicator/) to navigate forward/back between sections in the "create new audit" flow? There doesn't seem to be a clear way back, since I expect "cancel" to literally cancel the entire submission process.

I'll add some hover/focus states to this ticket.

[2022-08-11 15:57] petermarks-gsa commented on #352
@tadhg-ohiggins @melchoyce Per our discussion at last week's co-work, I solicited feedback from Matt and Austin who were unable to attend. With [this change](https://github.com/GSA-TTS/FAC/pull/433), I've linked to the charter in the agile process doc with context. I think we can merge that change and call this done?

[2022-08-12 21:11] #398 closed

[2022-08-16 16:09] petermarks-gsa commented on #429
@heymatthenry Looks like this is done as the PR got merged? Closing this out but LMK if it should be reopened.

[2022-08-16 16:09] #429 closed

[2022-08-16 17:28] #289 closed

[2022-08-16 17:29] geekygirlsarah opened #438 "UEI validation returns 403 from Sam.Gov"
### Background

UEI validation is always returning a 403 upon trying to check the UEI with Sam.Gov. It appears the right key is in the `gsa-fac-dev` instance.

Might be related to #384. Blocking #401.

Per @tadhg-ohiggins, maybe temporarily disable Sam.Gov validations for now.

### Replicate:
- Start the SF-SAC form
- Input a UEI (like ZQGGHJH74DW7).
- Upon searching, it shows a 403

[2022-08-16 17:29] petermarks-gsa commented on #340
Next step: @petermarks-gsa to create implementation issue

[2022-08-16 17:43] #284 closed

[2022-08-16 17:59] petermarks-gsa commented on #401
Blocked by https://github.com/GSA-TTS/FAC/issues/438

[2022-08-16 19:13] geekygirlsarah commented on #438
Fixed through #439, unblocks #401

[2022-08-16 19:13] #438 closed

[2022-08-17 17:00] petermarks-gsa opened #441 "Design FAC transition site"
## Background from Census:
We’re in the process of updating our sites to accept Fy22 audits, UIE, etc, and was wondering if GSA has a landing page yet that we can link to, from our announcements/FAQs? To provide customers a place to go for updates about the FAC transition?

I realize you may not have much/anything posted to that location yet, but it would still be useful to have the link already a

[2022-08-17 18:03] petermarks-gsa commented on #441
cc @melchoyce @tadhg-ohiggins

[2022-08-17 18:20] petermarks-gsa commented on #340
@austinhernandez @melchoyce Upon reviewing this, I think there are a couple things worth clarifying before we create an implementation issue:

* This open question in the implementation notes seems important: "What is the role of the person who created the submission in the first place? does this need another field?"
* Regarding the open questions around error states, this question seems important

[2022-08-18 20:16] #352 closed

[2022-08-23 17:30] petermarks-gsa commented on #292
We're not going to address this right now in the UI, but have the backend fields to support this.

[2022-08-23 20:29] melchoyce commented on #289
Head's up, this has been updated with [new copy](https://docs.google.com/document/d/1rCdqfW5XSVBp3a768Z6Ql4a-g9s0EfxGKyH-4uD1SYc/edit#heading=h.x0twed3s3rwi) from @erinzstrenio:

![image](https://user-images.githubusercontent.com/2846578/186259256-ed0b4b1f-5ff4-4642-b6af-f3cfc7684ed9.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3341%3A15489)

[2022-08-24 16:33] petermarks-gsa opened #443 "Excel Generation functionality"
### Overview
Implement basic Excel template generation to be used first with the federal awards screen. Should be componentized to be used on other screens.

### Acceptance criteria:
Test case: blank form
* [ ] Go to screen with upload step (i.e. Federal Awards)
* [ ] Click "download worksheet" button
* [ ] The heading and button copy updates from “download” to “re-download,” and the step counter

[2022-08-24 16:58] petermarks-gsa commented on #443
cc @tadhg-ohiggins @geekygirlsarah @jasnakai

[2022-08-24 17:43] geekygirlsarah commented on #443
I feel like this is, at minimum, at least 4 stories:
* As a submitter, I should be able to download an Excel template... (front end)
* (same but backend)
* As a submitter, I should be able to upload my filled out template with fields...
* (same but backend)

I think this isn't one step but is in fact several steps and at different points (even if they're close) that one ticket doesn't really descr

[2022-08-24 18:14] petermarks-gsa commented on #443
@geekygirlsarah Agreed needs to be refined and broken up into multiple tasks, if not multiple stories. My intention of taking a rough stab at documenting high-level end to end functionality here is to make sure we've answered the technical unknowns in #328 to be able to refine / break up this work without additional research.

[2022-08-24 19:26] petermarks-gsa commented on #187
@melchoyce Can you please confirm:

1) [this figma link](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3136%3A18110) is the most up-to-date design?
2) The "With 2 options - DSF - Federal Awards" mockup at that figma link, with PDF + Excel file upload, is NOT what we're creating here?

[2022-08-24 19:44] austinhernandez commented on #187
Theres no 2 options anymore, that's how it was originally and thats now out of scope. i deleted it, now the link you shared is inactive. the link i shared above with the screenshots is up to date

https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3159%3A20568

[2022-08-24 19:57] petermarks-gsa opened #445 "SF-FAC audit meta section"
### Background
Throughout the screens in the SF-SAC flow, there is a shared heading (circled in red) that contains:
![Screen Shot 2022-08-24 at 1 10 28 PM](https://user-images.githubusercontent.com/100610443/186514000-b0cb068a-d9ee-453d-a5f1-b85cd2cc0794.png)

### Acceptance criteria
Shared UI that includes
- [ ] Title of the entity in the header
- [ ] Report ID
- [ ] Type of Entity with edit link

[2022-08-24 20:15] petermarks-gsa commented on #445
@melchoyce Can you please confirm the destination of the edit links described here and also provide a link to the most recent designs showing various states (valid/invalid UEI)

[2022-08-24 20:18] petermarks-gsa commented on #445
@heymatthenry @tadhg-ohiggins cc'ing you on this. From what I can tell on our federalist builds, we don't currently have this. I'm seeing a section with a different layout and non-dynamic data (attached). Please let me know if you think this is covered by another issue.
![Screen Shot 2022-08-24 at 1 16 21 PM](https://user-images.githubusercontent.com/100610443/186515148-0baad55a-e354-4224-8882-cc0

[2022-08-25 16:41] petermarks-gsa opened #446 "PDR UEI"

[2022-08-26 17:45] austinhernandez commented on #445
TBDDDDDDDD.

- the first mockup is redundant and i feel like it doesnt need to be the header on every page. the H1 text SHOULD be the page name, not the report title.
-  2nd mockup is an old because the secondary navigation on the left should be at the top of the page. weve removed version number as it was confusing to users and wont have the same iteration pattern as it did before.

we are experi

[2022-08-26 18:30] petermarks-gsa commented on #445
@austinhernandez Thanks for taking a look! In response:

Gotcha, so sounds like that design is not final. Is there a related design task to finalize this?

[The second image I posted](https://github.com/GSA-TTS/FAC/issues/445#issuecomment-1226246783) is actually a screen shot from the current application. This task is about updating it.

[2022-08-26 21:06] melchoyce opened #447 "As a user, I want to be able to enter my form data via web (in addition to Excel)"
Breakout issue of https://github.com/GSA-TTS/FAC/issues/274, https://github.com/GSA-TTS/FAC/issues/313.

This issue covers the design of:
- Federal Awards
- Award Findings
- Findings Text
- CAP Text
- Additional EINs
- Additional UEIs

And eventually:
- Notes to SEFA
- Secondary Auditors

### Background

- The existing Census FAC lets you upload an excel worksheet for each of these pages, and then

[2022-08-26 21:25] petermarks-gsa opened #448 "Federal Awards API Endpoints"

[2022-08-26 21:25] petermarks-gsa opened #449 "Excel uploading UX"
### Overview
Implement basic Excel template generation to be used screens like the federal awards screen. Should be componentized to be used on other screens.

### Background

Users need to be able to upload and download Excel files associated with their submissions. (See [ADR](https://github.com/GSA-TTS/FAC/blob/main/docs/architecture/decisions/0015-store-uploaded-excel-files.md#validation).)

##

[2022-08-26 21:28] petermarks-gsa opened #450 "Federal awards validation"

[2022-08-26 21:44] petermarks-gsa commented on #443
@geekygirlsarah FYI, I broke out uploading into its own story (#449)

[2022-08-26 21:53] petermarks-gsa commented on #449
@melchoyce @austinhernandez To confirm my understanding:

1. I assume the "replace" button in [this design](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3159%3A20649) will show a warning (copy needed?), then show upload file dialog but not just "remove" the file?

2. I assume that when the user returns to this screen after completing the step, they can replace the file.

[2022-08-26 21:54] petermarks-gsa commented on #450
cc @tadhg-ohiggins

[2022-08-29 16:23] timoballard commented on #355
@tadhg-ohiggins - are you able to pair with me on the third AC (updating migration plan)? Not familiar with this document so I could use some help in making the necessary updates.

[2022-08-29 16:50] petermarks-gsa commented on #391
Discussed at standup: Version column is not in json payload, @jasnakai moving forward on other things but need to clarify that.

[2022-08-29 17:54] petermarks-gsa commented on #340
@melchoyce @austinhernandez Here is a recap of clarity we got [from Census on 8/18](https://docs.google.com/document/d/1DxuyVOusBIIRrXCaOmmzQp-Q54bthuSirmwR4j4jTbc/edit#) and some next steps I'm proposing:

We learned that the current Census system does not designate a special role to the person who created the submission and does not allow you to change your own role.

**My for next steps is to d

[2022-08-29 18:00] heymatthenry commented on #401
@petermarks-gsa Some notes on testing in the implementation PR: GSA-TTS/FAC-Frontend#37

[2022-08-29 18:14] #355 closed

[2022-08-29 18:15] melchoyce commented on #445
We talked about this during our Design Sync today. I'll be exploring the different states and interactions within the audit meta section.

[2022-08-29 18:19] melchoyce commented on #449
Talked about this in design sync. We'll be using the USWDS file input component verbatim here:

https://designsystem.digital.gov/components/file-input/

[2022-08-29 18:53] petermarks-gsa commented on #340
Notes from discussion at design sync today:

* We're unsure if we want to move forward with either of the options I proposed to clarify role of submitter. Given that it's vague in the current FAC, we believe it may be okay to not display the submission users. We could still show the name of the submission creator user in other places of the app, just not in the access page. Per @austinhernandez, w

[2022-08-29 18:56] petermarks-gsa commented on #449
Also discussed at design sync: We do not have a design yet for downloading the uploaded file. While this is not part of the current Census product, we believe we need this as a way to see what you've already uploaded assuming we don't do a web form.

[2022-08-29 19:07] petermarks-gsa commented on #401
@heymatthenry As mentioned in PR, looks good! Closing.

[2022-08-29 19:07] #401 closed

[2022-08-30 14:47] heymatthenry commented on #399
Going to suggest this is at least a `L` rather than an `M`. This ticket is probably where we'll start integrating whichever client-side JS component framework we end up choosing, and will be a template for how we do hydration going forward.

[2022-08-30 15:31] geekygirlsarah opened #452 "Attach a DNS entry on fac.gov before 9/25/2022"
** DUE BEFORE SEPTEMBER 25, 2022! **

### Background

@jadudm says:

(See 🔒 https://gsa-tts.slack.com/archives/C1L58R804/p1661862909026119 )

### Acceptance Criteria (We'll know we're done when...)

- [x] A determination was made for what should be on the fac.gov site until a production-ready site is up
  - Per Matt J, a simple "coming soon, go to https://facweb.census.gov/" should suffice
- ~~fac

[2022-08-30 17:12] erinzstrenio commented on #394
Here's the updated page on Figma

<img width="606" alt="Screen Shot 2022-08-30 at 12 11 26 PM" src="https://user-images.githubusercontent.com/46569779/187499113-12cf461a-f954-44c0-ba0f-f689128fc930.png">

[2022-08-30 17:21] #394 closed

[2022-08-30 17:50] erinzstrenio commented on #371
We spoke to Mark Dixon at Census on 8/25 to clarify some of the terms used in the navigation and clarify which pages should stay on the Resources page and which are outdated ([notes here](https://docs.google.com/document/d/1DxuyVOusBIIRrXCaOmmzQp-Q54bthuSirmwR4j4jTbc/edit#heading=h.wxwlew1tfuhc))

We are adding some questions to the usability interviews to get more user perspective on the nav ([in

[2022-08-30 18:05] petermarks-gsa opened #453 "ADR - Decide on immediate versus long-term approach to changing form structure"
### Background from Jeffrey Holmes at Census:
When designing pages and supporting code put some thought into a long term plan on dealing with the more or less biannual form changes.   Currently people filing late/starting early mean we need to support multiple years on the input side,  with different questions or alternative specific wording being required depending on the audit year.

Different p

[2022-08-30 18:17] petermarks-gsa commented on #450
@melchoyce Heads up that @tadhg-ohiggins and I came up with a couple clarifying questions to discuss at design/eng sync.

[2022-08-30 18:30] melchoyce commented on #394
@petermarks-gsa In case you need to track this ^

[2022-08-30 18:43] petermarks-gsa commented on #313
Per discussion with @melchoyce, this is essentially done. Per #447, we are exploring putting it back in.

[2022-08-30 18:43] #313 closed

[2022-08-30 18:45] petermarks-gsa commented on #339
@melchoyce and @petermarks-gsa to discuss whether we can close this out and what next steps are.

[2022-08-30 19:04] petermarks-gsa commented on #402
Blocked #446.

[2022-08-30 19:04] melchoyce commented on #432
**Default:**
![image](https://user-images.githubusercontent.com/2846578/187521211-799eb09f-0907-409e-af2f-6243050f8d9c.png)

**Hover:**
![image](https://user-images.githubusercontent.com/2846578/187521236-c8fce7a0-0996-4a50-9d1e-50863d935166.png)

**Focus/Active:**
![image](https://user-images.githubusercontent.com/2846578/187521265-e9de3938-a5d4-4936-b10f-64c0f209a0cb.png)

@austinhernandez Do th

[2022-08-30 19:05] petermarks-gsa commented on #332
Per discussion today, sounds like this will be done once https://github.com/GSA-TTS/FAC/issues/391 is done. Will verify with runthrough.

[2022-08-30 19:07] tadhg-ohiggins commented on #332
This is also dependent on #399

[2022-08-30 19:10] petermarks-gsa commented on #396
@austinhernandez @melchoyce Sounds like this might be covered in another ticket? Maybe link as a breakout for clarity?

[2022-08-30 19:12] petermarks-gsa commented on #421
Next steps are covered by https://github.com/GSA-TTS/FAC/issues/340. Closing.

[2022-08-30 19:12] #421 closed

[2022-08-30 19:16] petermarks-gsa commented on #424
@jasnakai @tadhg-ohiggins Jason feels like this is doable for this sprint. Can we scope and estimate?

[2022-08-30 22:19] melchoyce commented on #449
![image](https://user-images.githubusercontent.com/2846578/187553679-27335d00-d7c7-4416-9d16-b1d4f2c8d022.png)

@austinhernandez How do you feel about this placement? I figured we'd want it outside of the dropzone.

[2022-08-30 22:23] melchoyce commented on #396
Related to https://github.com/GSA-TTS/FAC/issues/375, but extends outside of just Audit Start.

[2022-08-31 16:59] petermarks-gsa commented on #425
Verified fixed! Nice work @timoballard.

[2022-08-31 16:59] #425 closed

[2022-08-31 17:21] petermarks-gsa opened #454 "PDR - Multi-user editing"

[2022-08-31 20:33] tadhg-ohiggins opened #455 "Future-proofing the data model"
## The problem

The SF-SAC has changed over time, and will change again in future. Sometimes questions are added, sometimes questions are removed, and sometimes questions or their validation rules are changed.

Currently our approach, one monolithic data model that will contain all fields, is not amenable to operating on more than one version of the SF-SAC.

For example, in the past, organization

[2022-08-31 20:34] tadhg-ohiggins commented on #455
This is blocked because we want to revisit it once we have a viable data structure for the entire 2023 SF-SAC.

[2022-08-31 20:40] tadhg-ohiggins opened #456 "ADR for how to handle storing question copy as well as validation rules and answers in some viable data structure"
Breakout issue of #455

### Background

Question copy and validation rules change over time, so we need a structure to store those. Currently we're “storing” question copy only in the frontend, and we know that won't be sufficient for handling more than one year of the SF-SAC, which we will have to do.

### Acceptance Criteria (We'll know we're done when...)

We know our technical approach to:

-

[2022-09-01 16:27] petermarks-gsa commented on #456
@timoballard Chatted with @tadhg-ohiggins about this. Can you provide a beverage size estimate for this?

[2022-09-01 18:44] erinzstrenio opened #457 "FAQs page content audit"
### Background

The FAQs page on the Census FAC site ([link](https://facweb.census.gov/FAQs.aspx)) contains information that will be outdated once we launch the fac.gov. The old FAQs refer back to FAC Census links/workflow on the Census FAC site.

Every question on the FAQs page will need to be reviewed and potentially updated for users. We will review each question and decide:

- is this question

[2022-09-01 18:51] erinzstrenio opened #458 "Rethink new FAC Resources page"
### Background

We're designing a new FAC Resources page for the GSA FAC site. This will be an updated version of the [Census FAC Resources page](https://facweb.census.gov/Resources.aspx), which hasn't been updated in 20+ years and contains outdated info.

We're talking to Census, AICPA, auditees, and auditors about how to best rethink this page so it provides the most valuable resources to audito

[2022-09-02 14:15] timoballard commented on #456
@petermarks-gsa I think this is an `L`

[2022-09-02 17:52] melchoyce opened #459 "M1: Add icons in place of bullets on "Auditee information" page"
Breakout issue of #429. We can maybe do this one when doing copy updates to the page?

![image](https://user-images.githubusercontent.com/2846578/188199673-1e1afe45-3a55-4cd4-8c44-4a2d490ab3fa.png)
[Figma](https://www.figma.com/file/8REinLFKSMj7pwQ7JIEHGW/FAC-Sprint-11-prototype?node-id=2%3A3398)

### Tasks

- [ ] Add Spellcheck icon to first list item
- [ ] Add Verified icon to second list item

[2022-09-02 19:27] melchoyce opened #460 "Create assets and documentation for usability testing with Auditees"
Breakout issue of #150.

We don't know enough about the needs of auditees and have yet to talk with any directly.

We've started planning a usability testing research spike:

- [x] [Research plan](https://docs.google.com/document/d/1CSOj4lJIz2F7sGZ4riAwJYwnJjYwBqWRnlB4055XA94/edit#)
- [x] [Interview guide](https://docs.google.com/document/d/1BEt0p0aTPBZTjcE1KIybSn4-wKOYw5Peqx7STlrN6I4/edit#heading

[2022-09-02 19:31] melchoyce commented on #449
Update: We decided in cowork yesterday that we need to explore ways to make it more obvious a file has been uploaded, so another auditor can't come by and accidentally overwrite it. (Version control is currently out of scope.)

[2022-09-06 17:07] petermarks-gsa commented on #399
@heymatthenry Can you please update on progress here? Sounds like we might need to choose a new framework?

[2022-09-06 17:18] petermarks-gsa commented on #402
@tadhg-ohiggins to discuss with @heymatthenry

[2022-09-06 17:36] petermarks-gsa opened #462 "Front end for federal awards screen"
This issue is just frontend layout implementation. Functionality is defined in other stories in Milestone 3.

![image](https://user-images.githubusercontent.com/2846578/189215083-e34f955c-edb1-4b10-bd55-5befbaf032d6.png)
[Figma mockups](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4647%3A21220)

## Implementation Notes
- When a user downloads the worksheet:
  - The head

[2022-09-06 18:07] petermarks-gsa commented on #453
@tadhg-ohiggins @timoballard Could one of you take a stab at fleshing this out more?

[2022-09-06 18:15] petermarks-gsa opened #463 "Copy for federal awards error messages"
Breakout of https://github.com/GSA-TTS/FAC/issues/450

See [Census document](https://docs.google.com/document/d/1ZTkGARo5gZMN2oLmsOrxfILg7kPagFLz/edit)

[2022-09-06 20:34] heymatthenry commented on #399
@petermarks-gsa Yes, we're going to add a new library. This isn't going to be a huge change and won't affect any existing code. It's something we can sprinkle in as needed going forward. I have an ADR in progress: #464

Draft pull request for the Frontend code is: GSA-TTS/FAC-Frontend#44

[2022-09-08 13:39] heymatthenry opened #465 "ADR for front-end component library"
Given the increasing complexity the frontend, adding a library will speed development up and increase maintainability. The library should be able to handle things like:

* binding DOM elements to data
* reacting to changes in state
* (temporarily) storing remote data on the client-side

[2022-09-08 19:50] erinzstrenio opened #466 "Mock up new FAC Resources page"
Breakout issue of #377

### Background

We're designing a new FAC Resources page (#458) based on research with auditors and auditees.  Once we complete the research and content design work in #458, we can mock up the new FAC Resources page in Figma.

### Tasks

- [x] Mock up new page
- [ ] Peer review
- [ ] Write implementation notes

### Definition of Done

- [ ] Screens in Figma are ready to be

[2022-09-08 20:10] melchoyce commented on #449
Worked with Austin and Erin earlier today on finalizing the upload/download interaction on this page:

![image](https://user-images.githubusercontent.com/2846578/189215083-e34f955c-edb1-4b10-bd55-5befbaf032d6.png)
[Figma mockups](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4647%3A21220)

## Implementation Notes
- When a user downloads the worksheet:
  - The heading and

[2022-09-09 16:54] erinzstrenio opened #467 "Single Audit Checklist and Instructions needs to be updated"
Breakout issue of #458

### Background

The [FAC single audit checkist and instructions (PDF)](https://facides.census.gov/Files/2019-2021%20Checklist%20Instructions%20and%20Form_v2022.pdf)) is a detailed overview of how to fill out the form SF-SAC. It lives on [this page](https://facides.census.gov/InstructionsDocuments.aspx) of the FAC Census site.

We plan to link it on the Resources page and FA

[2022-09-13 14:56] heymatthenry commented on #399
@tadhg-ohiggins & I were talking about the piece of this ticket that covers showing errors from the server, and we agreed that it ought to be its own ticket. I'll make the ticket but there are some things I want to nail down first since I think that work may apply to more than just the SAC form.

That said, the outstanding tasks for this ticket are to:

- [ ] Wire up radio buttons to reflect previ

[2022-09-13 15:21] austinhernandez commented on #340
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4738%3A22029

Ok. We made a number of changes to this ticket because we _just_ figured out that the certifying officials are a required field on the submission access page during the new audit creation process.
![image](https://user-images.githubusercontent.com/23194720/189924991-6a1106f7-79b7-460c-9805-6e13584d9403.png)

Soo

[2022-09-13 15:58] geekygirlsarah opened #469 "Attach placeholder site on fac.gov"
Split off of #452

### Background

@jadudm says:

(See 🔒 https://gsa-tts.slack.com/archives/C1L58R804/p1661862909026119 )

### Acceptance Criteria (We'll know we're done when...)

- [x] A determination was made for what should be on the fac.gov site until a production-ready site is up
  - Per Matt J, a simple "coming soon, go to https://facweb.census.gov/" should suffice
- [x] fac.gov resolves to

[2022-09-13 16:00] geekygirlsarah commented on #452
This is done. As the PRs for `18f/dns` were reviewed/merged by @JJediny, I'm calling this done.

[2022-09-13 17:03] #328 closed

[2022-09-13 18:45] tadhg-ohiggins commented on #402
This needs to be rewritten to reflect the recent UEI PDR. Will assign to myself and then assign back to Matt.

[2022-09-13 18:49] petermarks-gsa commented on #455
We want to get #456 done and get familiar using this for FY23 before tackling this.

[2022-09-13 18:52] petermarks-gsa commented on #469
Per sprint planning discussion, we're blocked on response from Federalist.

[2022-09-13 19:01] petermarks-gsa commented on #462
@heymatthenry @jasnakai Assigning to you two to scope this.

[2022-09-13 19:03] petermarks-gsa commented on #453
We're considering this a duplicate of #455. Closing this.

[2022-09-13 19:04] #453 closed

[2022-09-13 19:24] melchoyce commented on #449
@petermarks-gsa The former:

Though if you upload a completely empty Excel document, that should also generate an error.

[2022-09-14 19:52] erinzstrenio opened #470 "User survey to auditors for FAC Resources page"
Breakout issue of #458

### Background

We're sending out a user survey to ~150 auditors to find out which resources are most helpful to them when submitting audits to the FAC. We'll need to go through PRA approval before sending out the survey.

The survey asks auditors: "How would you rate this resource...?" on a scale of "not at all helpful" to "very helpful." The survey asks them about each re

[2022-09-14 19:53] erinzstrenio commented on #470
Here's a link to the survey: https://docs.google.com/forms/d/1P5T1ExyXfKZWvHedSVcedm0wpJhjAW6u8XYMhlNXBHE/edit

And attached is the completed ICR form for PRA approval.
[FAC user testing - ICR for GSA A11 Section 280 Clearance.docx.pdf](https://github.com/GSA-TTS/FAC/files/9569494/FAC.user.testing.-.ICR.for.GSA.A11.Section.280.Clearance.docx.pdf)

[2022-09-15 02:13] austinhernandez opened #472 "Approval on vendor to lead admin work for usability testing"
Breakout issue of #150

### Background
We’re starting new rounds of usability testing with Auditees and don’t currently have the internal capacity to recruit, screen, and schedule participants. We’re working to hire a vendor to take care of the administrative side for us, so we can focus on refining our prototype and conducting the usability tests. This will also allow for easier/faster participan

[2022-09-15 02:19] austinhernandez opened #473 "Conduct usability tests with Auditees"
Breakout issue of #150

### Background
Discovery and usability testing with Auditee user groups (Tribal and non-Tribal) to understand the process of reviewing and certifying an audit submission.

### Acceptance Criteria (We'll know we're done when...)

- [ ] We have completed 8-9 usability tests with a mix of tribal and non-tribal Auditees

### Tasks

- [ ] #460
- [ ] Vendor has scheduled 8-9 usab

[2022-09-15 02:27] austinhernandez opened #474 "Synthesize and write up Auditee research"
Breakout issue of #150

### Background
We've completed usability testing with Auditee user groups and now need to review, synthesize, and document our findings.

### Acceptance Criteria (We'll know we're done when...)

- [x] We have documented research results in the wiki
- [x] We have documented any new user stories
- [x] We have documented auditee user roles, goals, pain points, and needs in the

[2022-09-15 13:46] erinzstrenio commented on #371
Closing out this ticket since we've made some changes to the IA [see this doc](https://docs.google.com/document/d/1WKIO45rufy81cgVKiCoR4g0KMBATd4rwCr3XgVgvr1s/edit) which have been updated in the mockups. We created new tickets for follow-up research on the nav with auditees in upcoming usability testing (#473) as well as redesigning the FAQs page (#457) and Resources pages (#458).

[2022-09-15 14:00] austinhernandez commented on #375
This is what we are calling the `Audit start page`, also sometimes referred to as the `report start page`. I am declaring this "done." Done meaning it is ready for usability testing with Auditees (#460)

[Figma link to this page in the prototype here](https://www.figma.com/file/8REinLFKSMj7pwQ7JIEHGW/FAC-Sprint-11-prototype?node-id=599%3A2351)

![image](https://user-images.githubusercontent.com/23

[2022-09-15 14:43] melchoyce commented on #466
Related: https://github.com/GSA-TTS/FAC/issues/377

[2022-09-15 14:44] melchoyce commented on #273
@MelissaBraxton Do you know if this was completed?

[2022-09-15 14:44] #256 closed

[2022-09-15 14:59] #248 closed

[2022-09-15 15:00] #45 closed

[2022-09-15 18:12] melchoyce commented on #462
Most recent designs: https://github.com/GSA-TTS/FAC/issues/449#issuecomment-1241182797

[2022-09-15 20:31] timoballard commented on #455
Preserving some notes that came out of the work on #456:

## Notes
- We can use separate models for the `SingleAuditChecklist` and the `SingleAuditChecklistReport` (submitted SACs)
- When a `SingleAuditChecklist` is submitted, it is translated into a `SingleAuditChecklistReport`
- The `SingleAuditChecklistReport` model does not vary by fiscal year - it is the same across all years to facilitate co

[2022-09-15 20:57] melchoyce commented on #340
Following up on this after our Census call:

We heard that yes, account creators have the same permissions as non-certifying auditees and auditors.

Pretty sure this is also yes? But let me know if I'm getting that wrong.

This was correct, and Mark mentioned we can't assume whether the account creator is an auditee or auditor, and therefore cannot assign them to a role automatically. He mentioned

[2022-09-16 17:40] #456 closed

[2022-09-20 16:40] timoballard commented on #455
@tadhg-ohiggins - possible candidates for SAC metadata (stable fields that will be part of the `SingleAuditChecklist` model, as opposed to being part of the JSON schema:
[code]

Questions:
- Why `fy_start` and `fy_end` instead of a single `fiscal_year`?

[2022-09-20 17:15] erinzstrenio opened #476 "As an (auditee or auditor) certifying official, I need to be able to revoke access from the account creator."
### Background

Per Mark Dixon's feedback in our Census call on 9/10 (see [meeting notes](https://docs.google.com/document/d/1DxuyVOusBIIRrXCaOmmzQp-Q54bthuSirmwR4j4jTbc/edit#heading=h.ie9w2176jkvz)), both auditee certifying official and auditor certifying official should be able to revoke access from the account creator.

It covers the following stories:

1. As an auditee certifying official or a

[2022-09-20 17:16] tadhg-ohiggins commented on #185
Moving to blocked on the basis that until #399 and #391 are done nobody is working on this.

[2022-09-20 17:18] tadhg-ohiggins commented on #343
Moving to blocked on the basis that until #399 and #391 are done, nobody will be working on this.

[2022-09-20 18:04] geekygirlsarah opened #477 "Fix UEI validation not returning all the info it should"
The address fields weren't propagating from SamGov to the saved SAC. This should make sure those fields make their way through to the saving of the SAC during creation.

Relates to [#468](https://github.com/GSA-TTS/FAC/pull/468), [#399](https://github.com/GSA-TTS/FAC/issues/399) and [FAC-Frontend/#44](https://github.com/GSA-TTS/FAC-Frontend/pull/44)

(Since this was a bug and made the PR before ma

[2022-09-20 18:05] geekygirlsarah commented on #477
Closing as PR was merged.

[2022-09-20 18:05] #477 closed

[2022-09-20 19:23] #465 closed

[2022-09-20 19:32] tadhg-ohiggins commented on #455
# 2022-09-20 Data Structure Discussion

Participants: @timoballard @geekygirlsarah @tadhg-ohiggins

## FAC-specific metadata

Data that the organization does not gather or produce, but is purely related to the submission process.

### Form version

Form version can theoretically change within a year, so we need to support that, but can also remain the same in successive years. This should start wi

[2022-09-20 21:34] timoballard commented on #450
FYSA https://github.com/GSA-TTS/FAC/issues/463#issuecomment-1252829478

[2022-09-21 19:48] geekygirlsarah opened #478 "Backend endpoint for data to generate Excel (placeholder)"
Breakout issue of #443

### Background

The FAC has to generate an Excel file for the user to download to fill in with their federal awards. This task is specifically for an API endpoint that the frontend will gather data for the Excel spreadsheet. (For now, this API endpoint won't return anything.)

Endpoint should be `/sac/edit/[report_id]/federal_awards`

### Acceptance Criteria (We'll know we'

[2022-09-21 19:49] geekygirlsarah opened #479 "Get the download button to work so that it generates a blank Excel sheet from an empty JSON object that it gets from an endpoint"
Breakout issue of #443
Blocked on #478

### Background

The FAC has to generate an Excel file for the user to download to fill in with their federal awards. This task is specifically for the download button that the user will click to get a blank Excel spreadsheet.

### Acceptance Criteria (We'll know we're done when...)

- [ ] Click download button, you should receive a .xlsx file
- [ ] The file

[2022-09-21 19:53] geekygirlsarah opened #480 "Update design of template Excel"
Breakout issue of #443

### Background

The FAC has to provide an Excel template file for the user to download to fill in with their submission data.

### Acceptance Criteria (We'll know we're done when...)

- [x]   We have an Excel file that contains fields for all of the required information.
- [ ]   We have a fully-defined mapping from those fields to our own models/schemas.
- [x]   We have the

[2022-09-21 19:57] geekygirlsarah opened #481 "Backend endpoint for JSON schema file"
Breakout issue of #443

### Background

The FAC has to generate an Excel file for the user to download to fill in with their federal awards. This task is specifically for an API endpoint that will provide a JSON schema file that the frontend and backend can use for validating data and generating Excel files.

The endpoint should be something like `/schemas/2023/federal_awards`.

### Acceptance Cri

[2022-09-21 20:04] geekygirlsarah opened #482 "Frontend generates the unfilled Excel file from that JSON Schema"
Breakout issue of #443
~Blocked on #478~
Blocked on #481

### Background

The FAC has to generate an Excel file for the user to download to fill in with their federal awards. This task is to generate the unfilled Excel file with validation that matches the JSON schema.

### Acceptance Criteria (We'll know we're done when...)

- [ ] Generates an Excel file with validation via call to external API (

[2022-09-21 20:08] geekygirlsarah opened #483 "Frontend generates the filled Excel file from that JSON Schema"
Breakout issue of #443
~Blocked on #478~
Blocked on #481, #482

### Background

The FAC has to generate an Excel file for the user to download to fill in with their federal awards. This task is to generate the filled Excel file with validation that matches the data from the API endpoint.

### Acceptance Criteria (We'll know we're done when...)

- [ ] Generates an Excel file with API-fetched data i

[2022-09-22 13:18] heymatthenry opened #484 "Display errors from API calls in frontend"
Ideally, the frontend should catch almost everything that might cause the API to throw an error through client-side validation. However, there are some server errors that are unavoidable, and the frontend needs to be robust to these errors and provide appropriate guidance to users. In particular, the main types of errors a user is likely to encounter are:

* `401`s if their Login.gov session has e

[2022-09-22 13:34] heymatthenry commented on #399
Broke out the error messaging piece into #484.

Some fields aren't yet being populated (particularly those whose data comes in from SAM.gov in step 2). Once those data make it into the JSON returned by `/sac/edit/:report_id`, they should ✌️just work✌️ and populate the relevant fields. Given that, this should be in good shape.

[2022-09-22 13:37] heymatthenry commented on #459
@erinzstrenio To @melchoyce's point above, is the copy in Figma up-to-date?

[2022-09-22 15:39] heymatthenry opened #485 "Let users edit newly-created audit"
#399 covered the implementation of viewing/editing/updating audits via the SAC general info form. That form loads the appropriate data based on a `reportId` query param. Step 3 of the pre-SAC flow will need to be updated to support this by:

- [x] determining the ID of the newly-created audit; and
- [x] appending that ID along with the query parameter as part of the redirect

[2022-09-22 16:09] tadhg-ohiggins opened #486 "Accept only UEI in pre-SAC flow, add backend SAM.gov"
### Background

In implementing #399, we realized the following about the information coming from SAM.gov:

*   We’re not storing all the fields we need.
*   We’re getting info from SAM.gov and then passing it to the form, which technically means the user could alter that somehow; we want that information to be coming from SAM.gov directly.

We should store only the UEI as part of that interaction

[2022-09-22 17:20] mogul opened #487 "[spike: 5 days] Evaluate LinkML for schema job suitability [revisit 11/1/2022]"
## Purpose

We want to know if LinkML is going to solve problems with managing schemas and using them in different contexts, but we're not sure if it's going to help.

Given above uncertainty, conducting prototyping is needed to provide factual knowledge to help us make a decision.

5 days of effort has been allocated and once compete, findings will be demonstrated and specific future actions will

[2022-09-22 18:21] timoballard opened #488 "Add `general_information` JSONField to SingleAuditChecklist model"
### Background
As part of the effort to [future proof our data model](https://github.com/GSA-TTS/FAC/issues/455), we need to add a new field to the `SingleAuditChecklist` model, called `general_information`. This field will be of type `JSONField`, and will store the following data, as discussed in #455:

[code]

We will need to retain the ability to filter `SingleAuditChecklists` based on fields i

[2022-09-22 19:05] timoballard opened #489 "Remove deprecated fields from SingleAuditChecklist model"
### Background
As part of #455, several fields/columns need to be removed from the `SingleAuditChecklist` model, as they are [migrating to the newly-created `sac_json` field](https://github.com/GSA-TTS/FAC/issues/488).

The fields to be removed from `SingleAuditChecklist` are:
- `auditee_fiscal_period_start`
- `auditee_fiscal_period_end`
- `audit_period_covered`
- `ein`
- `ein_not_an_ssn_attestati

[2022-09-22 20:57] #316 closed

[2022-09-22 20:58] #460 closed

[2022-09-26 14:29] erinzstrenio opened #491 "Figure out what to do about fiscal year dates on the SF-SAC and whether users will be able to change the year later in the form"
### Background

This question came up as a result of the [FAQs content audit](https://docs.google.com/spreadsheets/d/171VkiF0iPEo2xAVAfJDxdt1_B8VM_olhPvn-v5jrwsE/edit#gid=0) — see row 18.

[2022-09-26 14:38] erinzstrenio opened #492 "Figure out what to do when a user enters an EIN that's already been entered by another user for the same audit year"
### Background

This question came up as a result of the [FAQs content audit](https://docs.google.com/spreadsheets/d/171VkiF0iPEo2xAVAfJDxdt1_B8VM_olhPvn-v5jrwsE/edit#gid=0) — see row 19.

[2022-09-26 14:42] erinzstrenio opened #493 ""As a FAC user uploading the Federal Awards Worksheet, I need an error message telling me that the file is in the wrong format, corrupt, or otherwise unreadable.""
Breakout issue of #450

### Background

This question came up as a result of the [FAQs content audit](https://docs.google.com/spreadsheets/d/171VkiF0iPEo2xAVAfJDxdt1_B8VM_olhPvn-v5jrwsE/edit#gid=0) — see row 22.

[2022-09-26 14:44] erinzstrenio opened #494 "Figure out how to handle error messages that depend on different worksheets or sections"
Breakout issue of #450

### Background

This question came up as a result of the [FAQs content audit](https://docs.google.com/spreadsheets/d/171VkiF0iPEo2xAVAfJDxdt1_B8VM_olhPvn-v5jrwsE/edit#gid=0) — see row 23.

"We probably need an issue around handling errors that depend on , as I think this one does.
This can't be inline (I think) because it needs to check information that's non-local in order

[2022-09-26 14:54] erinzstrenio opened #495 "Turn Census PDF into a web page on fac.gov and edit/simplify content"
### Background

This question came up as a result of the [FAQs content audit](https://docs.google.com/spreadsheets/d/171VkiF0iPEo2xAVAfJDxdt1_B8VM_olhPvn-v5jrwsE/edit#gid=0) — see row 30.

"I cannot upload my audit. It tells me it did not pass the criteria, or was not the correct file type."

The answer for this FAQ currently links to the instructions for [Creating a Compliant PDF Single Audit Rep

[2022-09-26 16:32] petermarks-gsa commented on #399
@heymatthenry I see this is ready for review, but could not find a pull request associated with this. Is next step code review?

[2022-09-26 16:53] #472 closed

[2022-09-26 17:18] petermarks-gsa commented on #371
Tracking implementation in https://github.com/GSA-TTS/FAC/issues/280. Closing. cc @melchoyce @tadhg-ohiggins @mogul .

[2022-09-26 17:18] #371 closed

[2022-09-26 18:41] petermarks-gsa commented on #309
Dupe of https://github.com/GSA-TTS/FAC/issues/187 and related issues

[2022-09-26 18:41] #309 closed

[2022-09-26 19:09] petermarks-gsa opened #496 "M1 Enhancement: Add navigation links to pre-SAC step indicator"
Implementation issue for https://github.com/GSA-TTS/FAC/issues/432

### Background
There doesn't seem to be a clear way back, since I expect "cancel" to literally cancel the entire submission process.

### Design
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4609%3A21144

### Implementation notes
- When you hover over a previous step, an underline appears under the label

[2022-09-26 19:10] petermarks-gsa commented on #432
@melchoyce I started creating an implementation issue for this in https://github.com/GSA-TTS/FAC/issues/496. Do you have a figma link or any implementation notes?

[2022-09-26 19:16] petermarks-gsa commented on #414
@melchoyce Thinking this through, generating a full export of the submitted report in a useful format is potentially a large lift and is possibly more in line with the goal of the second (non-MVP) data dissemination release. Can we quantify the user impact of not being able to do this for MVP?

[2022-09-26 19:23] petermarks-gsa commented on #375
@austinhernandez A [previous design](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3136%3A18722) we scoped https://github.com/GSA-TTS/FAC/issues/212 against outlines seven alternate states of this screen. Is it possible to get the seven alternate states of this screen with the updated design or update the previous design?

[2022-09-26 21:38] melchoyce opened #497 "Support Alternative Compliance Examination Engagement (ACEE) audits"
### Background

A new type of audit is being introduced, called "alternative compliance examinations." This is for grants such as temporary COVID relief funds. Census is working to integrate this into their system for this upcoming year's audits, and we should start thinking about supporting it as well. This will likely need to be in our MVP.

See additional details in [our Census Call notes](http

[2022-09-26 21:42] melchoyce opened #498 "Allow certifying officials to reject audits"
### Background

During a recent Census call, Mark suggested allowing certifying officials to reject and send back audits for revision. They could potentially choose a reject option, then select who to notify about the rejection, and include a message about why they are not certifying the audit.

This would be a post-MVP feature.

### Acceptance criteria (We'll know we're done when...)

- [ ] Certi

[2022-09-27 13:57] petermarks-gsa opened #499 "Manage user access screen"
### Background

Covers the following stories:

1. As a user, I need to be able to change who has/modify users' access to a draft audit submission.

The following designs were produced in https://github.com/GSA-TTS/FAC/issues/340:

https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4034%3A19388

### Acceptance criteria (We'll know we're done when...)

- [ ] A user can add/chan

[2022-09-27 14:21] petermarks-gsa commented on #340
@melchoyce @austinhernandez I've captured this into an implementation ticket: https://github.com/GSA-TTS/FAC/issues/499. Closing as done. cc @tadhg-ohiggins @mogul

[2022-09-27 14:21] #340 closed

[2022-09-27 14:22] petermarks-gsa commented on #361
@melchoyce @austinhernandez From my reading of this, this issue is already covered by the following implementation issues:

https://github.com/GSA-TTS/FAC/issues/499
https://github.com/GSA-TTS/FAC/issues/212

Is that correct?

[2022-09-27 15:15] melchoyce commented on #361
I believe so!

[2022-09-27 15:32] heymatthenry opened #501 "Return report ID after completing pre-SAC flow"
When completing the last step of the pre-SAC flow, the front-end `POST`s to `/sac/accessandsubmission` and gets back a response that looks like:

[code]

As a consequence of #399, the SAC form needs a `reportId` query param in order to load the right data along with the form. This ID is not the `sac_id` above, but the longer report ID that we're using for access control, etc. (having the form of s

[2022-09-27 16:15] melchoyce commented on #432
Figma: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4609%3A21144

**Implementation notes:**
- When you hover over a previous step, an underline appears under the label.
- On focus, a solid outline appears around the entire step.
- Incomplete steps are not linked.

[2022-09-27 18:59] mogul commented on #339
@petermarks-gsa to review for closure

[2022-09-27 19:00] mogul commented on #402
@tadhg-ohiggins to revisit

[2022-09-27 19:14] #361 closed

[2022-09-28 16:00] heymatthenry commented on #485
This depends on the implementation of #501

[2022-09-28 17:09] tadhg-ohiggins commented on #501
This is in `api/views.py` in the `AccessAndSubmissionView` class.

[2022-09-28 19:02] petermarks-gsa commented on #432
@melchoyce Awesome, thanks. I created an implementation ticket for this enhancement and put it in the triage column: https://github.com/GSA-TTS/FAC/issues/496 Closing this design issue as done. cc @tadhg-ohiggins @mogul

[2022-09-28 19:02] #432 closed

[2022-09-28 19:14] petermarks-gsa opened #503 "Audit submission"
### Background
Implementation task for https://github.com/GSA-TTS/FAC/issues/339 that covers the following stories:

1. As a someone who has access to a draft audit submission, I need a way to submit my certified audit package to the FAC.

### Design
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3736%3A17737

### Acceptance criteria (We'll know we're done when...)

- [ ]

[2022-09-28 19:18] petermarks-gsa commented on #339
@melchoyce @mogul @mogul I've reviewed this and have created an implementation issue slated for Milestone 6: https://github.com/GSA-TTS/FAC/issues/503

[2022-09-28 19:18] #339 closed

[2022-09-28 19:27] #501 closed

[2022-09-28 19:39] #478 closed

[2022-09-28 19:48] geekygirlsarah commented on #479
#478 is closed so this is unblocked.

[2022-09-28 19:48] geekygirlsarah commented on #480
#478 is closed so this is unblocked.

[2022-09-29 19:29] tadhg-ohiggins opened #504 "[Placeholder] Helper text for tribal organizations on certification page(s)"
### Background
For tribal organizations, the audit PDF is not to be publicly available, but data from the SF-SAC is still publicly available, and this needs to be reflected in the logic, but also in the relevant helper text, including on the relevant certification pages. We should show this information only when submissions have selected `Indian Tribe or Tribal Organization` as their organization

[2022-10-03 16:56] mogul commented on #487
The LinkML folks have [opened an issue about emitting conditional rules in the JSONSchema output](https://github.com/linkml/linkml/issues/989). We'll hold off on LinkML for now and re-evaluate based on whether that has moved in a month.

[2022-10-03 17:50] #481 closed

[2022-10-03 17:51] melchoyce opened #506 "Explore the possibility of adding helper text to Excel worksheets"
Breakout issue of #457

### Background

While reviewing the existing Census FAC FAQ, @erinzstrenio, @tadhg-ohiggins and I audited this question:

We felt this information would be most helpful inline while someone was filling out the form, ideally in the relevant Excel worksheet, but we were unsure if adding helper text in a worksheet was even feasible. Can we explore this possibility?

### Accept

[2022-10-03 17:58] melchoyce opened #507 "How do users delete a submitted report?"
Breakout issue of #457

### Background

While reviewing the Census FAC FAQ, @erinzstrenio, @tadhg-ohiggins, and I came on this question:

We'll need to determine how users will be able to delete reports in our system as well.

We don't know yet from both a technical and policy perspective if anyone will be allowed to delete submitted reports.

### Acceptance Criteria (We'll know we're done when...

[2022-10-04 17:19] mogul commented on #491
The form the user is presented to fill out is dependent on the year they've selected. They wouldn't be able to change the year without potentially getting a completely different form. This will impact design; converting the issue to reflect that!

[2022-10-04 17:20] #491 closed

[2022-10-04 17:34] mogul commented on #280
Will hold off for now and re-review for consistency during Milestone 7.

[2022-10-04 17:35] mogul commented on #280
@melchoyce can you create a new issue that breaks out the breadcrumb implementation?

[2022-10-04 17:36] mogul commented on #496
Will revisit during a consistency pass around Milestone 7.

[2022-10-04 17:43] mogul commented on #507
@melchoyce will split this into two issues to cover the policy issue for submitted audits vs deleting your draft pre-submission.

[2022-10-04 17:49] #367 closed

[2022-10-04 17:51] mogul opened #509 "Milestone 2 review"
In order to ensure we have consistency with the intended design and functionality, the team should review the results of Milestone 2 and do end-to-end testing.

**Acceptance Criteria**

- [ ] We have a list of issues covering any needed remediations identified

[2022-10-04 21:48] melchoyce opened #510 "How do users delete a draft audit submission?"
Breakout issue of #457

### Background

While reviewing the Census FAC FAQ, @erinzstrenio, @tadhg-ohiggins, and I came on this question:

We'll need to determine how users will be able to delete drafts in our system as well.

We don't know from a technical and product perspective what is required yet. For example, who's allowed to delete a draft?

### Acceptance Criteria (We'll know we're done whe

[2022-10-04 21:49] melchoyce commented on #507
Created https://github.com/GSA-TTS/FAC/issues/510.

[2022-10-04 22:07] erinzstrenio commented on #457
Status of the FAQs audit: [this spreadsheet](https://docs.google.com/spreadsheets/d/171VkiF0iPEo2xAVAfJDxdt1_B8VM_olhPvn-v5jrwsE/edit#gid=0) is color-labeled with the status of each FAQ.

- Green = This info will still either live on as an FAQ or be included as helper text in the form. Most of these have updated text for the FAQ or helper text but some may still need to be drafted or reviewed.
- Y

[2022-10-05 18:15] tadhg-ohiggins commented on #420
From a discussion I had with @geekygirlsarah at dev huddle on 2022-10-05:

*   We need to know what the names of the cloud.gov (and cloud.gov Pages) organizations and spaces are in order to use them. We’ve asked Matt J for that information in Slack.
*   We will need to switch our dev space to whatever the new official FAC one is once we learn those details. This will require changing URLs for our

[2022-10-06 21:54] MelissaBraxton opened #512 "Analyze auditee research data"
**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [x] We've done some affinity mapping across relevant data and have identified themes from auditee research

**Tasks**
- [x] Create analysis template in Mural or Excel
- [x] Review interview notes and (if needed) videos
- [x] Pull relevant excerpts into analysis template
- [x] Look across excerpts and name themes.

[2022-10-06 22:01] MelissaBraxton opened #513 "Report out on auditee research / make auditee research insights actionable"
**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [x] We have an easily scannable artifact that communicates the most salient research insights and recommendations
- [x] New user needs statements are documented either in the story map or as new GH issues

**Tasks**
- [x] Dependent on #512
- [x] Write up summary of research insights (either a doc or a deck)
- [x] Present res

[2022-10-06 22:15] MelissaBraxton opened #514 "Conduct cognitive walkthrough workshop to evaluate current prototype"
### Background
Given the highly specialized nature of single audits and the FAC workflow, we'd like to enlist the help of SMEs to do an [cognitive walkthrough workshop](https://www.nngroup.com/articles/cognitive-walkthrough-workshop/) of the current prototype to help us catch usability and content issues that are very difficult for people without deep experience and domain specific subject matter

[2022-10-06 22:16] MelissaBraxton commented on #514
@melchoyce and @austinhernandez  - This is issue I put together based on our chat this afternoon. LMK what you think and feel free to edit/add to it as you see fit!

[2022-10-12 19:43] #150 closed

[2022-10-12 19:44] melchoyce commented on #151
Update: we weren't able to speak to any tribal auditees, but we're having Census keep an ear out for us.

[2022-10-12 19:44] #151 closed

[2022-10-13 16:56] mogul commented on #399
@jasnakai as Matt is out, would you be able to demo this at our review today?

[2022-10-13 17:18] tadhg-ohiggins opened #515 "Federal Awards submission data structure"
### Background

We need a data structure for Federal Awards, both the overall section and the individual award entries it contains.

We are using [JSON Schema](https://json-schema.org/) as our definition vocabulary for this, as part of trying to maintain a single source of truth that can be used by the Django backend, the web frontend, and the Excel frontend.

### Acceptance Criteria (We'll know w

[2022-10-13 20:06] #399 closed

[2022-10-13 20:08] tadhg-ohiggins commented on #402
@tadhg-ohiggins to pick up the task of revising this from Available.

[2022-10-13 20:10] tadhg-ohiggins commented on #332
@tadhg-ohiggins to verify that completion of the other issues means this is done (or identify remaining issues required).

[2022-10-13 20:15] mogul commented on #510
@tadhg-ohiggins will check if we have notes on the answer to this question from our last meeting with Census folks.

[2022-10-13 20:15] mogul commented on #510
Based on discussion, we'll icebox this for now.

[2022-10-13 20:19] tadhg-ohiggins commented on #510
From [2022-10-06 Census call](https://docs.google.com/document/d/1DxuyVOusBIIRrXCaOmmzQp-Q54bthuSirmwR4j4jTbc/edit#heading=h.84wds37cgwsu):

*   Who is currently allowed to delete drafts, using the manual email process?
    *   Mark: There's an internal FAC Manager 2.0 application; that allows deletion of in-progress submissions. Right now only supervisors can delete; there's an approval process.

[2022-10-13 20:22] mogul opened #517 "Census: Start directing people to the landing page"
### Background
Census is eager to start directing people to the new FAC.gov page so that they can begin bookmarking it for future use. We want to invest a little bit of effort in making people's first visit a valuable experience by refining the content and offering them an opportunity to participate in user research.

### Acceptance Criteria (We'll know we're done when...)

- [x] The landing page

[2022-10-13 20:36] tadhg-ohiggins opened #518 "Extra-schema activities"
## Acceptance criteria

- [ ]   We have an outline for how to handle data required for UI purposes that may not be strictly part of the schema—such as, potentially, program name, which is displayed to users once they enter valid program numbers but which they’re not supposed to enter directly.

## Tasks
- [ ]   Create the outline for handling related data that’s not necessarily part of the schema.

[2022-10-13 21:08] timoballard opened #519 "Static federal award entry JSON Schema"
## Acceptance Criteria

- [x] We have a static JSON Schema for individual Federal Award entries that works just for a case where the program numbers, names, etc. do not change
- [x] We have a static JSON Schema for the overall Federal Award section that works just for a case where the program numbers, names, etc. do not change.

[2022-10-13 21:10] timoballard opened #520 "Identify source for cluster information"
## Background
The cluster and/or state cluster entries in federal award entries need to be validated against a list of clusters. We need to figure out what the source of that information is, how to get it automatically, and how to insert it into our schema(s), first as a static list and later dynamically to accommodate changes in the source information.

## Acceptance Criteria

- [ ] We know where

[2022-10-13 21:14] timoballard opened #521 "We have the database model, or pieces thereof, that covers Federal Awards."

[2022-10-13 21:16] timoballard opened #522 "Processes for ingesting dynamic validation data"
## Acceptance Criteria
- [ ] We have dynamic processes for individual Federal Award entries that works for cases where the program numbers, names, etc. change.
- [ ] We have dynamic processes for the overall Federal Award section that works for cases where the program numbers, names, etc. change.

[2022-10-13 21:20] timoballard opened #523 "Process for sourcing dynamic validation data"
## Acceptance Criteria

- [ ] We know what all of the regularly-changing information is.
- [ ] We know how to get the changing information from SAM.gov automatically.
        The current source for the program names and numbers is at https://sam.gov/data-services/Assistance%20Listings/datagov?privacy=Public but the `AssistanceListings_DataGov_PUBLIC_CURRENT.csv` file is behind a license agreement

[2022-10-13 21:26] timoballard commented on #515
Closing after splitting this issue into separate, smaller issues

[2022-10-13 21:26] #515 closed

[2022-10-13 21:29] tadhg-ohiggins commented on #522
We can develop the processes for inserting some of the dynamic data without having that data, but this may become blocked later if we can't get access the data we're trying to get in #523.

[2022-10-13 22:01] MelissaBraxton commented on #517
@austinhernandez and/or @melchoyce  - here's a draft touchpoints research recruitment intercept. Would be great to have another pair of eyes on it!

https://touchpoints.app.cloud.gov/touchpoints/9412c559/submit

I'm thinking of going with the tab & modal option for implementing it but would welcome other thoughts if you have them.

[2022-10-13 22:55] MelissaBraxton commented on #517
Update: Our Census contact is on board with waiting until 10/17 or 10/18 until after touchpoints is up to share the url more broadly.

[2022-10-14 18:57] melchoyce commented on #517
Is that [this option](https://touchpoints.app.cloud.gov/admin/forms/76fb6507/example)?

[2022-10-14 19:03] MelissaBraxton commented on #517
Yep! But I was thinking the button text would be "Help us design the FAC!"

[2022-10-14 19:33] melchoyce commented on #517
I find the "tab that opens a modal instead of opening up a panel" pattern kind of weird from an interaction standpoint, but it's probably the pattern that works best of the options provided.

[2022-10-14 20:23] MelissaBraxton commented on #517
@melchoyce - Any copyedits, or do you 👍 for touchpoints to implement and test?

Based on our Slack exchange, it sounds like we're leaning away from other copy edits on the fac.gov page itself right now?

[2022-10-14 20:29] melchoyce commented on #517
What do you think about something like this:

[2022-10-18 14:29] heymatthenry commented on #479
There isn't currently a button to get working, so this issue arguably depends on #462.

[2022-10-18 14:48] MelissaBraxton commented on #517
Touchpoints is live.

We talked about holding off on additionally detailed copy for now.

There's one outstanding Q on whether we want to add the footer in the near term, but either way, Census has scheduled an announcement that will include the new URL for 10/20.

[2022-10-18 14:57] heymatthenry commented on #462
Calling this a `M`, with the understanding that all of the interactivity is covered elsewhere, such as: #443, #449, #450

[2022-10-18 16:42] MelissaBraxton opened #526 "Begin leveraging Census and GSA FAC web analytics"
### Background

Analytics data can help us understand how resources on the current site are being used. This issue

### Acceptance criteria (We'll know we're done when...)

- [ ] Members of the GSA and Census teams can access Census FAC site analytics.
- [ ] We have written guidance on meaningful metrics that will help us triangulate other data on how folks are using the site(s) and implications f

[2022-10-18 16:43] MelissaBraxton opened #527 "Update inventory of user stories"
Breakout issue of <story>

### Background

### Acceptance Criteria (We'll know we're done when...)

- [ ]
- [ ]

### Tasks

- [ ]
- [ ]

[2022-10-18 16:50] heymatthenry commented on #462
Hanging onto this one since it's related to #479 and removing @jasnakai.

[2022-10-18 17:08] geekygirlsarah opened #528 "Generated Excel documents should be reviewed by Design Team"
Breakout issue of...

This issue covers the design of Excel generated files.

### Background

This issue covers the design of what the Excel documents would look like as they're generated. This could be a review of Census's existing templates or it could be designing a new one from scratch. Either way, this should be done so that we can write the code to generate these in the best ways.

### Tasks

[2022-10-18 19:42] tadhg-ohiggins opened #530 "Determining how to handle Federal Award prefix/extension edge cases"
Breakout issue of https://github.com/GSA-TTS/FAC/issues/519

### Background

Based on discussion with Census we moved forward with consolidating `agency prefix` and `CFDA extension`  into a single value, `program number`, and wrote validation in JSON Schema that requires the entry for `program number` to be in an enumeration that we sourced from [SAM.gov](https://sam.gov/data-services/Assistance%2

[2022-10-19 16:42] melchoyce commented on #470
Hey @erinzstrenio, do you happen to remember if we have any email copy drafted already? I'm finally circling back to this.

[2022-10-19 17:56] melchoyce commented on #458
Just finished a round of auditee testing. For the most part, it felt like auditees were most concerned about:

- OMB guidance
- Help getting started with their first audit submissions
- Technical help (FAQs)

[2022-10-19 19:46] melchoyce commented on #528
@geekygirlsarah When would y'all like this done by?

[2022-10-19 20:01] geekygirlsarah commented on #528
No rush, but don't wait forever?

I can work around not having a design for now, but I know ultimately we probably can't call the excel generation tickets "done" until this is done as well.

[2022-10-20 18:17] melchoyce commented on #470
Surveys sent!

[2022-10-21 17:56] MelissaBraxton commented on #513
@melchoyce  - here's my draft wiki update to the auditee description [this page](https://github.com/GSA-TTS/FAC/wiki/User-roles-and-key-epics) if you want to take a look before I post!
https://docs.google.com/document/d/1d4MSX61WaRXxZTw2nW6KEzD09ff689JZO8wPDahjO1w/edit

[2022-10-24 18:35] tadhg-ohiggins opened #531 "Meta-issue for additional validation rules"
### Background

There are certain validation rules that we can’t express in JSON Schema, such as amount passed to subrecipients not exceeding the total amount expended for a federal award entry.

Creating a system for a single source of truth for all of these rules that can be used by all of the validation clients is sufficiently complicated as to be out of scope for MVP. For the moment, we will f

[2022-10-24 18:47] tadhg-ohiggins opened #532 "Additional validation for `federal_award_passed_to_subrecipients_amount`"
Breakout issue of https://github.com/GSA-TTS/FAC/issues/531

### Background

For each federal award entry, if `federal_award_passed_to_subrecipients` is Y, then `federal_award_passed_to_subrecipients_amount` must be an integer and must not exceed the number entered for `amount_expended`.

This requirement cannot be expressed in JSON Schema and so must be captured and performed elsewhere.

For MVP,

[2022-10-24 22:00] MelissaBraxton opened #533 "As a site visitor, I need consistent messaging to let me know I'm logging in to the correct place."
This issue addresses an insight from our recent research with auditees.

On the FAC homepage, the labels on the sign in buttons should be consistent. People found two sign in buttons named different things confusing.

### Acceptance criteria (We'll know we're done when...)

- [x] When the labels on the two sign in buttons on the FAC homepage say the same thing.

### Tasks

- [x] Design
- [x] Peer

[2022-10-24 22:06] MelissaBraxton opened #534 "As an auditor or auditee, I need to know whether the types of awards my entity got are subject to audit before I sign in to create a submission so that I don't start a submission when I don't need to."
This issue covers the design of content on the FAC homepage that helps folks better understand which types of awards are/are not subject to the single audit. The $750K threshold does not actually apply to all types of awards, and some folks wondered about this.

![image](https://user-images.githubusercontent.com/2846578/217334126-639b1fa1-92cd-4cc5-8391-66b1ab22af4f.png)
[Figma](https://www.figma.

[2022-10-24 22:09] MelissaBraxton opened #535 "As an auditee or auditor, I need the login process to be free of references to Census systems that are not longer relevant to my current task, so that I can proceed to logging in without confusion."
This issue covers the removal of reference to the Census Bureau at the login step. This confused some people. Even folks familiar with the FAC may not have been that aware that it’s been housed at Census.

### Acceptance criteria (We'll know we're done when...)

- [x] The login screen does not refer to the Census Bureau

### Tasks

- [x] Design
- [x] Peer review
- [x] Write implementation notes

#

[2022-10-24 22:17] MelissaBraxton opened #536 "Design refinements to the report home/audit start page"
This issue covers the refinement of the report home page. We need to be careful not to overly rely on button labels and states to communicate the submission process. Button states (primary, disabled, and locked) are trying to communicate too much about what submission entails. Auditees struggled to see what they could and couldn’t do next.

**User needs the refinements should address:**

- As an a

[2022-10-24 22:23] MelissaBraxton opened #537 "As an auditor, I need to know which audit submissions are most urgent to work on."
This issue covers the design of the default sort order for the table of records on the "my submissions" page. Currently it's ordered chronologically by report ID, but users think of the work more in terms of due dates / which report is coming due.

### Acceptance criteria (We'll know we're done when...)

- [x] Example

### Tasks

- [x] Design
- [x] Peer review
- [x] Write implementation notes

###

[2022-10-24 22:31] MelissaBraxton opened #538 "As a user, I'd like to know what kinds of notifications will be triggered by my actions so that I can avoid sending duplicative emails."
This issue covers the attention to how were contextualizing buttons that trigger an email notification. This came up in our research with auditees around the "certify" button on the certification page, but we should think about a consistent pattern that could be applied across all buttons that trigger notifications to provide a consistent experience for users and also save design/dev time.

### Ac

[2022-10-24 22:34] MelissaBraxton opened #539 "As an auditor certifying official, I need a way to certify my audit"
This issue covers the design of the certification page for auditors. We've designed an auditee cert page, but auditors need one too!

### Acceptance criteria (We'll know we're done when...)

- [x] When we've designed a way for an auditor certifying official to certify their audit.

![image](https://user-images.githubusercontent.com/2846578/198084275-9d392464-27f0-4efc-814f-a623cfddcb45.png)
[Figma

[2022-10-24 22:37] MelissaBraxton opened #540 "As a user on the manage access page, I need to understand what changing a user will do before I do it so that I don't accidentally change someone's access to the submission in a way I didn't intend."
This issue covers  refinements to manage access page based on auditee user research.

### Acceptance criteria (We'll know we're done when...)

- [ ] Example

### Tasks

- [ ] Design
- [ ] Peer review
- [ ] Write implementation notes

### Definition of Done

- [ ] Screens in Figma are ready to be handed off to front end
- [ ] ~All text has a contrast ratio of 4.5:1 with the background~ (Built into

[2022-10-24 22:43] MelissaBraxton opened #541 "Draft 18F > vendor onboarding plan + success scenarios"
### Background
Given that we will be welcoming a vendor to begin working alongside the 18F team soon, we want to make sure that we are ready to provide a smooth and easy onboarding experience for vendor designers and engineers and that the hybrid team is well prepared to work together!

### Acceptance Criteria (We'll know we're done when...)
- [ ] We have a prioritized list of tasks that we want t

[2022-10-24 22:44] MelissaBraxton opened #542 "Update design documentation in prep for vendor onboarding"
Breakout issue of <story>

### Background

### Acceptance Criteria (We'll know we're done when...)

- [x] When our design documentation is up to date
- [x] When a designer unfamiliar with the project can use our documentation to quickly get up to speed and start being productive

### Tasks

- [x] Update design onboarding doc
- [x] Update as-is WF model (melissa)
- [x] ~Update to-be WF model (melis

[2022-10-25 05:22] mogul opened #543 "Onboarding checklist for @LindsayYoung"
### Welcome to the team @LindsayYoung!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLnacyk-bDI/) in drive
- [x] Join the Slack channels in the project README
- [x] Review our [process documentation](https://githu

[2022-10-25 05:24] mogul opened #544 "Onboarding checklist for @pkigongo"
### Welcome to the team @pkigongo!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLnacyk-bDI/) in drive
- [x] Join the Slack channels in the project README
- [x] Review our [process documentation](https://github.co

[2022-10-25 05:26] mogul opened #545 "Onboarding checklist for @JeanMarie-TTS"
### Welcome to the team @JeanMarie-TTS!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLnacyk-bDI/) in drive
- [x] Join the Slack channels in the project README
- [x] Review our [process documentation](https://gith

[2022-10-25 15:27] melchoyce commented on #528
Looking at some of these templates, I honestly don't have a huge opinion on their styling. Overall, I think it would be nice to update the colors to match the website, and bump up the font size just a little. For example:

## Before

![Screen Shot 2022-10-25 at 11 13 56 AM](https://user-images.githubusercontent.com/2846578/197813371-e44afe87-06fd-4937-b48e-b092f78affff.png)
![Screen Shot 2022-10-2

[2022-10-25 15:57] geekygirlsarah commented on #528
I feel like lighter bg with darker fg is easier on the eyes, but all I have to do is change a hex code in my code and it's changed. I'd rather do whatever you all think is best.

[2022-10-25 16:21] melchoyce commented on #533
I went with the body button label, since people seemed to click on that one more:

![image](https://user-images.githubusercontent.com/2846578/197828912-7d421f76-447a-426d-b673-2b43478cd86e.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=4954%3A24052)

Pinging @MelissaBraxton for peer review.

[2022-10-25 16:53] melchoyce commented on #528
Alright, let's go for dark text on the lighter blue background then 👍

[2022-10-25 16:56] melchoyce opened #547 "Implement breadcrumb navigation"
Breakout issue of #280

### Background

Information architecture was refined in https://github.com/GSA-TTS/FAC/issues/371. Breadcrumb navigation was added, and needs to be implemented.

### Acceptance Criteria (We'll know we're done when...)

- [ ] Breadcrumb navigation is implemented

### Tasks

- [ ] Tasks to be broken down by a dev

[2022-10-25 17:27] melchoyce commented on #534
Suggestion from Shelley Goss at Census:

[2022-10-25 18:22] melchoyce commented on #537
@tadhg-ohiggins Do you know if we get the audit due date attached to the UEI?

[2022-10-25 18:37] MelissaBraxton commented on #535
Looking good! Peer review box checked!

[2022-10-25 18:42] #512 closed

[2022-10-25 18:56] MelissaBraxton opened #548 "Draft agenda in prep for auditor/agency user feedback on data collection"
### Background
We want to be well prepared to attend an upcoming mtg w/ auditors and agency users. We are planning to prep for this meeting in collaboration w/ our Census colleagues. This issue covers drafting an agenda for the mtg w/ Census but also how we'll recommend  framing the convo w/ auditors and agency folks.

### Acceptance Criteria (We'll know we're done when...)

- [x] We have a docume

[2022-10-25 19:30] tadhg-ohiggins commented on #537
We're certainly not getting it now. But if we have the organization's fiscal year end date, can we calculate their deadline from there? Am I right in thinking that the due date is connected to the organization's fiscal year dates?

[2022-10-25 19:46] timoballard commented on #518
@tadhg-ohiggins - One option is, for things like `ProgramNumber`, to move away from using `enums` and use `anyOf` instead, which would allow for an accompanying description with each entry:

[code]

[2022-10-25 20:10] melchoyce commented on #537
Yup:

[2022-10-25 20:47] melchoyce commented on #539
Looks like the auditor certification step is just one screen of checkboxes:

![image](https://user-images.githubusercontent.com/2846578/197878727-75817ab2-e7e7-420e-9306-df3199d723bd.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=5031%3A26952)

Pinging @MelissaBraxton for peer review.

[2022-10-25 21:08] tadhg-ohiggins commented on #537
So I think that we don't have access to when they receive the audit report, which would preclude us from figuring out when their deadline is, but maybe I'm forgetting somewhere that information is accessible.

[2022-10-25 22:12] MelissaBraxton commented on #539
@melchoyce A few quick Qs:

- Do we know if there's another page after this where they enter their name and role (a la the auditee flow)? If there is an additional "type your name to sign step" we might want to include the progress bar. What do you think?
- Do we want to make this consistent w/ the auditee version wrt to the ability to download and view their SF-SAC and audit report one last time

[2022-10-25 23:45] melchoyce commented on #539
There isn't, the Auditor flow only seems to have this one step.

Sure, I can add those back.

[2022-10-26 14:58] melchoyce commented on #537
Thanks, good to know. In that case, do you think fiscal year end date would be an okay proxy for displaying entries by urgency?

[2022-10-26 15:34] melchoyce commented on #539
Updated: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=5031%3A28048

[2022-10-26 16:01] melchoyce commented on #534
From Mark D:

[2022-10-26 16:31] melchoyce opened #549 "As a user, I need clear paths to specific kinds of resources from the homepage, so that I can get the info I need to proceed with my audit submission work."
As a user, I need clear paths to specific kinds of resources (including troubleshooting, help for first-time users, and OMB guidance) from the homepage, so that I can get the info I need to proceed with my audit submission work.

Related to #458.

### Background

Arose during usability testing with auditees.

### Acceptance criteria (We'll know we're done when...)

- [ ] The homepage includes more

[2022-10-26 16:34] melchoyce commented on #539
Agreed. Do we have an issue for that yet?

[2022-10-26 16:51] MelissaBraxton commented on #539
We do not!

[2022-10-26 16:58] melchoyce commented on #539
Thanks, I'll go ahead and make one then 👍

[2022-10-26 17:01] geekygirlsarah commented on #543
@LindsayYoung has off this week and will meet with me to start some onboarding on Monday the 31st.

[2022-10-26 17:22] melchoyce commented on #549
Started thinking about this. Here's a first draft:

![image](https://user-images.githubusercontent.com/2846578/198091771-0461ade1-bac1-471b-9b1e-1c21674369fa.png)
[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=5034%3A28311)

The resources linked are...

**New to FAC.gov?**
- [Get a UEI on Sam.gov](https://sam.gov/content/home)
- [Single audit checklist and instruc

[2022-10-26 17:40] melchoyce opened #550 "As a user, I want to know what happens after certifying my audit"
Breakout issue of #539 and related to #538.

This issue covers the design of a new confirmation state for auditors and auditees that would show after they submit their audit certifications and their final audit submissions.

### Background

In our auditee research, we heard that auditees are often unsure what happens next after certifying their audits, and after submitting their audits. We should

[2022-10-26 17:40] melchoyce commented on #539
Issue created: #550

[2022-10-26 19:33] melchoyce commented on #538
Working on getting a list of email notifications the current Census system sends out.

[2022-10-26 21:50] MelissaBraxton commented on #541
- [Transition plan overview deck](https://docs.google.com/presentation/d/1SRwuggyA_MMnDouSiOVaZKVNz6H81pLXRpgCVV6VqsU/edit#slide=id.g5ecdbbee9e_0_0)
- [Open Forest example](https://docs.google.com/document/d/1JsGH_7OkDMZhi6xOW0xVeCkNO8aLgUTIUpRLlnsERxk/edit#heading=h.r6832jge8q7b)
- [Firewood permitting example](https://docs.google.com/document/d/1K2eHmXZM1BhIPF48yMn6e-oDuJ2gcOs2v9eRmLHzryo/edit#h