[2022-03-11 22:17] MelissaBraxton opened #4 "Write project README"
**Background**

**We'll know we're done when...**
- [X] We have a project README that orients people to the project
- [X] The README is in a findable place

**Tasks**
- [X] Draft initial content
- [X] @jadudm reviews
- [X] @Jkrzy reviews
- [x] @MelissaBraxton reviews

[2022-03-11 22:18] MelissaBraxton opened #5 "Establish DevSecOps practices"
**Background**
As the effort begins, we'll document a few of the engineering focused assumptions and practices with which we'll start.

**We'll know we're done when...**
- [ ] We've added a README section summarizing our initial engineering tenets, practices, and assumptions

[2022-03-14 16:39] MelissaBraxton opened #13 "Document current team working practices in Wiki"
**Background**

**We'll know we're done when...**
- [x] **We've decided how we'll use the Github Wiki** - Peter Proposal: Don't have a ton of context, but the homepage of the wiki suggests it was created for the purpose of exposing information we want available to outside parties. My suggestion is to keep doing that, but also put documentation important to the team that is subject to change (i.e.

[2022-03-14 16:39] MelissaBraxton opened #14 "Set up prototyping in environment in Figma"
**Background**

**We'll know we're done when...**
- [x] We have a place in Figma where all designers can jam
- [x] Figma environment includes USWDS components and templates we think we may use

**Tasks**
- [X] Create Figma environment
- [x] Add/ upload USWDS components

[2022-03-14 16:58] MelissaBraxton opened #17 "Submission form: Articulate design hypothesis and research questions"
**Background**
Our assumption is that we can begin by prototyping the existing FAC interface and form in USWDS. That said, there are still many Qs about the best and most usable way to go about doing that. The purpose of this issue is to make sure that initial prototyping is oriented around out assumptions, most pressing research questions, and hypotheses that we can validate them in our first rou

[2022-03-14 19:09] Jkrzy opened #20 "Document how we'll use Github"

[2022-03-14 19:33] Jkrzy opened #21 "Foundational system visualizations"
**Background**

We've outlined the first-slice of functionality for an MVP. Let's begin documenting our understanding of the relationships between our MVP,  its users, and other systems.

Using the [C4 Model](https://c4model.com/), we'll begin with a Context diagrams (level 1).

**We'll know we're done when...**
- [ ] We've committed a Context diagram showing the MVP and its relationship with user

[2022-03-14 21:05] MelissaBraxton opened #23 "SPIKE: Explore UEI and implications for data submission, interface, and data model"
**Background**

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-03-15 20:42] MelissaBraxton opened #31 "Walkthrough min. viable roadmap and align on sprint 1/2 priorities."
**Background**

**We'll know we're done when...**
- [x] We have at least placeholders for sprint 1 and maybe 2 epics on the board.

**Tasks**
- [x] Walk through [roadmap](https://app.mural.co/t/gsa6/m/gsa6/1646336450605/6a77a27a287989f91e1c0dfbcf9be4dec6e49393?sender=melissabraxton2796) as a team.
- [x] Schedule time for Matt and Melissa to co-work
- [ ] Create new issue template for design/dev wo

[2022-03-16 21:54] MelissaBraxton opened #43 "Create initial design section of wiki"
**Background**
To onboard new design team mates, we want a handy design reference section of the wiki to help folks get up to speed and begin contributing quickly. also

**We'll know we're done when...**
- [x] A designer external to the project confirms that the wiki provides enough info for them to feel confident getting started.
- [ ]

**Tasks**
- [x] Distill phase 3 research into concise user r

[2022-03-16 21:57] MelissaBraxton opened #44 "Swimlane diagram for as-is workflow"
**Background**

**We'll know we're done when...**
- [x] We have a high level diagram of how information flows through the existing system.
- [x] We've identified knowledge gaps and aspects to validate

**Tasks**
- [x] Sketch out as-is WF
- [x] Link to from wiki

[2022-03-16 22:01] MelissaBraxton opened #45 "Determine styles"
**Background**
We will be using the USWDS, but we want to explore the extent to which it should align with the reimagined usa.gov styling.

**We'll know we're done when...**
- [ ] We document whether the new FAC should align with future usa.gov styling
- [ ] We have identified a style guide

**Tasks**
- [ ] Talk with usa.gov product design folks
- [ ] Review style guide(s)

[2022-03-17 22:02] MelissaBraxton opened #46 "Onboard Scott"
**Background**

**We'll know we're done when...**
- [x] Scott has access to all tools and context he needs to start picking up some initial work

**Tasks**
- [x] Add Scott to GH team
- [x] Make sure Scott can access Figma
- [x] Add Scott to 10x-federal-audit-clearinghouse
- [x] Add Scott to our Gdrive phase 3 and 4 folders
- [x] Add Scott to all relevant meetings

[2022-03-18 17:38] MelissaBraxton opened #50 "Mock up SF-SAC data submission for testing"
### **Background**
In order to test our [initial hypotheses](https://docs.google.com/document/d/1ZQ3Q8iJrdjRdsg9gEDmrzhLyCQSOoF2EzMiu9vPANLI/edit#) about building the current audit submission process using USWDS, we want to mock up how the SF-SAC form data entry process might look and feel and test it with auditors and auditees.

**Assumptions that impact what screens we mock**
- We will begin by

[2022-03-19 02:38] MelissaBraxton opened #51 "Mock new audit creation process"
**Background**

**We'll know we're done when...**
- [x] Users can enter min. information required to create a new audit record in the DB
- [x] Users are prompted to check whether they meet audit requirements before investing any effort in entering audit data
- [x] Users can specify the name and contac info for folks who need to have access to the submission
- [x] Users can associate their new audi

[2022-03-21 16:53] MelissaBraxton opened #53 "Recruit sprint 1 test participants (auditors)"
**Background**
The initial hypotheses we want to test are around Audit report and SF-SAC submission. To that end, we want to recruit auditees and auditors. We want to have completed all test sessions by 4/8.

**We'll know we're done when...**
- [x] We have scheduled research sessions with 6-7 auditors

**Tasks**
- [x] Ask Gil for list of contacts
- [x] Set up recruitment tracking spreadsheet
- [X]

[2022-03-21 16:55] MelissaBraxton opened #54 "Prepare research topline"
**Background**
We want to quickly synthesize what stood out from our sprint 1 research in a way that we can share it at our sprint 1 review mtg the week of 4/11.

**We'll know we're done when...**
- [ ] We have notes on what stood out looking across Sprint 1 sessions.
- [ ]

**Tasks**
- [x] Debrief with research observers.
- [ ] Note observations

[2022-03-21 16:56] MelissaBraxton opened #55 "Conduct sprint 1 tests sessions"
**Background**

**We'll know we're done when...**
- [ ] We've conducted test sessions w/ 6-8 auditors.
- [ ] We've documented our sessions via notes in shared drive
- [ ] recordings are stored in PII folder

**Tasks**
- [ ]
- [ ]

[2022-03-21 18:54] MelissaBraxton opened #58 "Data dissemination discovery sprint: Agency users"
**Background**
We want to better understand the experience of agency audit resolution officials (how they use single audit data, how they resolve single audits, what their needs are, etc) so that we can ensure that the new FAC meets their needs.

**We'll know we're done when...**
- [ ] We have the data we need in order to accurately represent agency users' single audit service experience (service

[2022-03-21 18:57] MelissaBraxton opened #60 "Onboard Abby"
**Background**

**We'll know we're done when...**
- [x] Abby has access to all tools and context they need to start picking up some initial work

**Tasks**
- [x] Add Abby to GH team
- [x] Add Abby to 10x-federal-audit-clearinghouse
- [x] Add Abby  to our Gdrive
- [x] Add Abby to all relevant meetings

[2022-03-21 20:36] #20 closed, assigned to nobody

[2022-03-22 20:41] #21 closed, assigned to nobody

[2022-03-23 11:13] #4 closed, assigned to jadudm, Jkrzy

[2022-03-23 12:20] #5 closed, assigned to Jkrzy

[2022-03-23 17:01] MelissaBraxton opened #64 "Recruit audit resolution officials for discovery research"
**Background**

**We'll know we're done when...**
- [x] We have interviews with 6-8 agency audit resolution officials on the books
- [x] Participants represent a relevant range of experience (this will determine the number of folks we want to recruit)

**Tasks**
- [x] Talk to QSMO to better understand range of experience among audit resolution officials
- [x] Refine recruitment criteria
- [x] Set

[2022-03-23 17:59] #44 closed, assigned to nobody

[2022-03-23 17:59] #14 closed, assigned to nobody

[2022-03-23 18:21] #43 closed, assigned to MelissaBraxton

[2022-03-23 18:21] #60 closed, assigned to nobody

[2022-03-23 18:21] #46 closed, assigned to MelissaBraxton

[2022-03-25 19:27] jadudm opened #67 "Increment: Create a new audit"
At the end of this increment, a user will be able to:

- [ ] Auditees can enter SF-SAC data for FY'22
- [ ] UEI is validated against SAM.gov [#120, #104, #23]
- [ ] Auditors and auditees can upload, attach/link relevant documents
- [ ] Tribal entities can assert that their submission will not be publicized/will not be public
- [ ] ~Auditee can acknowledge statement that their submission will follo

[2022-03-25 19:33] MelissaBraxton opened #68 "Increment: Submit an audit package"
**Background**
By the end of this increment, auditors and auditees should be able to submit a complete audit package.

**We'll know we're done when...**
- [ ] Auditors can upload audit reports for FY22
- [ ] Auditor can agree to auditor statement
- [ ] Auditor can submit audit for processing
- [ ] Auditor can certify
- [ ] Auditee can certify
- [ ] "Certify" workflow (certifying triggers start of

[2022-03-25 21:37] MelissaBraxton opened #69 "Finalize research protocols / green light testing!"
**Background**

**We'll know we're done when...**
- [x] We have everything we need to run user research sessions

**Tasks**
- [x] Finalize research protocol
- [x] Create note taking template
- [x] Check that mocks are wired for testing

[2022-03-25 21:39] MelissaBraxton opened #70 "Create clickable prototype for testing"
**Background**

**We'll know we're done when...**
- [x] We have a clickable prototype that we can use to address our sprint 1 research Qs
- [x] We've confirmed that participants will be able to access it.

**Tasks**
- [x] Review final research protocol
- [x] Decide on prototyping tool (e.g., Figma or InVision?)
- [x] Move mocks from FAC playground to clean prototyping space
- [x] Wire up / make cl

[2022-03-25 21:40] MelissaBraxton opened #71 "Run test sessions!"
**Background**

**We'll know we're done when...**
- [ ] We've conducted all of our scheduled research sessions for sprint 1.
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-03-25 21:51] MelissaBraxton opened #72 "Mock more filter options in new audit creation"
**Background**
We heard from our Census colleagues that auditors will likely want to filter their lists of audits in multiple ways. To test this hypothesis, we want to mock up more complex filters that we can put in front of sprint 1 test participants.

**We'll know we're done when...**
- [x] We have mocks to facilitate conversation with auditors on more complex filtering options.
- [ ]

**Tasks**

[2022-03-28 22:12] MelissaBraxton opened #73 "As-is workflow model"
**Background**

**We'll know we're done when...**
- [x] We have a visual representation of users tasks and how information flows through the current system
- [x] We've validated that our representation is accurate

**Tasks**
- [X] Sketch out WF based on knowledge and current knowledge
- [x] Augment/update, based on what we learn in talking with users.
- [ ] Cognitive walkthrough w/ SMEs

[2022-03-29 17:08] Jkrzy opened #74 "System architecture research and proposal"
We'll know we're done when:

We've proposed and selected foundational architecture decisions, as ADRS, including:

- [ ] PaaS
- [ ] database
- [ ] Backend language/framework
- [ ] Frontend language/framework

[2022-03-29 17:10] jadudm opened #75 "Write up initial engineering increment issues"
**Background**

https://app.mural.co/t/gsa6/m/gsa6/1648473984918/c51774a717cb4409251ce35b22ed9b9cdbcec1ad?sender=matthewjadud7136

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-03-29 17:11] #31 closed, assigned to jadudm, MelissaBraxton

[2022-03-29 17:11] MelissaBraxton opened #76 "Establish relationship w/ recruiting firm for participant compensation"
**Background**

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-03-29 17:12] MelissaBraxton opened #77 "Create full stack design/engineering issue template"
**Background**

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-03-29 17:16] Jkrzy opened #78 "Data model research & proposal"
We'll know we're done when we've researched, proposed, and accepted an initial data model to capture the major functional components we're expecting to handle:

- [ ] SF-SAC
- [ ] A PDF single audit package

[2022-03-30 17:57] Jkrzy opened #81 "Add onboarding documentation for new backend developers"
**Background**
We know we're building in python and Django!

Let's start building out our README with broad outline of how a developer can familiarize themselves with Django and cloud.gov

I'd recommend:
* Working thru the [Django Tutorial ](https://docs.djangoproject.com/en/4.0/intro/tutorial01/)
* Deploying a python application to Cloud.gov, maybe https://github.com/cloud-gov/cf-hello-worlds/tre

[2022-03-30 17:58] NicholasKramer opened #82 "Compliance workflow and documentation"
Introducing compliance documentation early will make the ATO smoother.

Possibly using the [Compliance Template](https://github.com/GSA-TTS/compliance-template) as a guide to our workflow.

We'll know we're done when we've researched, proposed, and accepted an initial compliance documentation workflow.

[2022-03-30 18:09] #74 closed, assigned to Jkrzy

[2022-03-30 18:21] Jkrzy opened #83 "Setup local python development environment"
**Background**

Add onboarding documentation such that a new developer can establish a local development environment using either Docker OR local development. Where possible we'll reference existing guidance to do things like: Onboarding w/ the GSA-TTS Docker Hub org

**We'll know we're done when...**
- [x] We have a `Local Development` section in the documentation which a developer has used to ru

[2022-03-30 18:35] Jkrzy opened #84 "Setup initial Django project"
**Background**

Let's establish a file structure and Django project to begin development. We value idiomatic Django and will use the `startproject` [django-admin command](https://docs.djangoproject.com/en/4.0/ref/django-admin/#django-admin-startproject) to create our project.

As part of this, we'll propose a directory structure for the repo and names for our Django project and first Django applic

[2022-03-30 18:46] Jkrzy opened #85 "Deploy to cloud.gov"
**Background**

Once we've got a Django project [#84], it needs to run on Cloud.gov. Implement and document our initial cloud.gov setup by deploying our skeleton Django project to cloud.gov.

**We'll know we're done when we have...**
- [ ] Our Django project is running on cloud.gov and we've documented the process surrounding it.

**Tasks**
- [ ] Document the cloud.gov organizations we'll use incl

[2022-03-30 20:38] Jkrzy opened #86 "Create Django model for SF-SAC"
**Background**
_Depends on #84_

Capturing SF-SAC responses is a core function of the clearinghouse. We'll create one or more Django models to represent it in our application.

The SAC form is gnarly, let's build momentum by starting with `Part 1: General Information`.

To reason about our schema we'll dive into:
* [The SF-SAC instructions and form](https://facides.census.gov/Files/2019-2021%20Che

[2022-03-30 21:01] Jkrzy opened #87 "Add ADR for initial architecture of our backend API"
**Background**
In discussions this week, the engineering team decided to move forward with implementation of an API using [Django-rest-framework](https://www.django-rest-framework.org/)

**We'll know we're done when...**
- [ ] We've created an ADR for our decision to implement an API using [Django-rest-framework](https://www.django-rest-framework.org/)

[2022-03-30 21:07] Jkrzy opened #88 "Serve SF-SAC data via the API"
**Background**
_Depends on #86 and #87_

We'll start our API implementation with a narrow slice, providing an endpoint by which users can `GET` existing SF-SAC records.

**We'll know we're done when...**
- [ ] We can find out how to programmatically retrieve SF-SAC records via API documentation
- [ ] We can submit a GET request to an application deployed on cloud.gov and receive SF-SAC data in the

[2022-03-30 21:08] #78 closed, assigned to nobody

[2022-03-30 21:45] #76 closed, assigned to nobody

[2022-03-31 13:13] Jkrzy opened #89 "Select a tool for CI/CD"
**Background**

As a developer, I need our test suite to run automatically against `main` so that we can reduce the risk of regressions.

To do that, we'll select a CI/CD tool which can be used with this current repository to execute one or more test suites as well as deploy to cloud.gov

**We'll know we're done when...**
- [x] We've accepted an ADR for a CI/CD implementation
- [x] We've successfu

[2022-03-31 18:07] MelissaBraxton opened #91 "Research spike: bulk data upload patterns"
**Background**
Users need to be able to upload bulk data as part of filling out the SF-SAC form. Currently this is handled by users downloading and uploading specific excel templates from/to the FAC, but this comes with a lot of potential problems / complications both technically and from a UX perspective. We want to research alternative options for meeting this need, including how to represent an

[2022-03-31 20:11] #83 closed, assigned to Jkrzy

[2022-03-31 21:13] #75 closed, assigned to Jkrzy

[2022-04-01 13:41] Jkrzy opened #94 "Onboarding checklist for MattH"
### Welcome to the team @heymatthenry!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmL

[2022-04-01 15:59] jadudm opened #95 "Onboarding checklist for @brentryanjohnson"
### Welcome to the team  @brentryanjohnson!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__E

[2022-04-01 18:13] #81 closed, assigned to NicholasKramer

[2022-04-01 20:37] #85 closed, assigned to Jkrzy

[2022-04-04 20:07] #50 closed, assigned to sreuber

[2022-04-05 15:31] petermarks-gsa opened #103 "FAC API government user research"
**Background / notes**
https://docs.google.com/document/d/1L6XkC0xzqDGE8F9rE-u6hK6QRGE1dulzSj9ouHmbrd8/edit#

**Tasks**
- [x] Interview folks at HHS
- [x] Interview folks at department of ed

[2022-04-05 18:56] Jkrzy opened #104 "Validate UEIs"
## Background
As a user I can enter an UEI and receive feedback on the validity of the value so that I can be sure I've entered the correct UEI.

**Note**

- UEIs are [specifically structured](https://www.gsa.gov/about-us/organization/federal-acquisition-service/office-of-systems-management/integrated-award-environment-iae/iae-systems-information-kit/uei-technical-specifications-and-api-informatio

[2022-04-06 15:40] MelissaBraxton opened #105 "RESEARCH SPIKE: Discovery with agency users (audit resolution officials)"
**Background**
We dont know enough about the needs of folks who rely on FAC data to resolve audit findings. We need to do some discovery research to understand their needs and how we might meet them in the new FAC. This work will compliment the API user discovery #103. And we are recruiting users for this research via #64.

**We'll know we're done when...**
- [x] We have conducted research with ag

[2022-04-06 15:54] #58 closed

[2022-04-06 15:56] MelissaBraxton opened #106 "Synthesize auditor research"
**Background**

**We'll know we're done when...**
- [x] We have documented any new user stories
- [x] We have documented auditor user roles, goals, pain points, and needs in the design wiki

**Tasks**
- [x] Set up air table
- [x] Pull quotes
- [x] Tag quotes
- [x] Write up summary
- [x] Write up new needs statements
- [x]  Mel shares with @brentryanjohnson and @sreuber for review.
- [x] Write up u

[2022-04-06 16:23] #86 closed, assigned to Jkrzy

[2022-04-06 16:58] Jkrzy opened #107 "Run Django test suite automatically"
## Background
As a contributor to this repository I need our test suite and code quality tooling to run automatically so that I can be confident my proposed changes meet our quality standards and do not unexpectedly impact functionality.

**Notes**
* We've settled on Github Actions in https://github.com/GSA-TTS/FAC/issues/89
* We'll continue to build out CI as we add linting, security scanning, ac

[2022-04-06 17:16] Jkrzy opened #108 "Establish python code quality tooling, configuration, documentation, and implementation"
## Background
As a contributor to and reviewer of code within this repository I need code quality tooling to run automatically so that I can  focus on functional changes and implementations.

We can break these into separate tasks/issues. For implementation, we'll look to existing TTS documentation and patterns used on previous/current projects for guidance.

**We will implement tooling to cover t

[2022-04-06 19:43] Jkrzy opened #109 "Propose an ADR for frontend static-site builder"
**Background**
In discussion, we've selected 11ty as the static site generator to build our initial front end on Federalist.

We need to document this decision as an ADR in the repository.

**We'll know we're done when...**
- [ ] We've written and committed an ADR describing our selection of 11ty

[2022-04-06 19:47] Jkrzy opened #110 "Record a decision for where the front end code will live"
**Background**
We currently have one repository, this one, will we include the front end code here as well or in another repository?

Let's write an ADR, pointing to the new repository if necessary.

**We'll know we're done when...**
- [ ] We've written and committed an ADR for version control of the FAC front end. If not this repository, we've created a new one and configured teams access to it.

[2022-04-06 19:53] Jkrzy opened #111 "Initial 11ty project setup"
**Background**
We've selected 11ty as our builder, we'll now establish a foundational project, configuration, templates, and packages.

** Notes **
Use of USWDS is a `standard`, we'll implement it here

**We'll know we're done when...**
- [x] A developer is able to build the initial 11ty site and  see USWDS components/resources

[2022-04-06 19:56] Jkrzy opened #112 "Research on content management workflows"
**Background**
We need a better understanding of how, who, and when content on the FAC front end will change.

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-04-06 19:59] Jkrzy opened #113 "Establish Federalist build pipeline for the front end"
**Background**
Once we've tackled #110 & #111 we'll need to integrate with Federalist and establish builds.

**We'll know we're done when...**
- [x] The `main` branch, and preview branches are being built by Federalist
- [ ] We've updated the onboarding documentation such that new developers have Federalist access

[2022-04-06 20:04] Jkrzy opened #114 "Initial frontend implementation of homepage"
**Background**
In 11ty, implement our current mock-up of the FAC front page.

<Insert picture of mock>

**We'll know we're done when...**
- [x] Users can find where they would log in
- [x] Users can understand what the site is for

**Tasks**
- [x] Design refine mocks based on Sprint 1 user research.
- [ ] Design/Content collaborate on error message mocks, attach to issue.
- [ ] Design attach refin

[2022-04-06 20:05] Jkrzy opened #115 "Initial frontend implementation of screening/eligibility questions of SF-SAC"
**Background**
Implement SF-SAC screening questions from our Figma mock-ups.

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-04-07 15:12] Jkrzy opened #117 "Research Spike: Can Distiller or other help us populate our environments with public FAC data?"
**Background**
Can we leverage something that already exists to pull SF-SAC data to populate local or deployed development environments with test data?

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-04-07 20:37] #87 closed, assigned to Jkrzy

[2022-04-07 20:38] #88 closed, assigned to Jkrzy

[2022-04-08 20:46] #64 closed, assigned to sreuber

[2022-04-08 21:15] MelissaBraxton opened #119 "Record PDR for whether to continue to require EIN or replace it UEI before users can create a new audit record in the DB"
**Background**
To create a new audit, users need to specify which entity it is attached to it. Basically, they enter an ID, which pulls up a list of entities attached to the ID in a database, and then they choose/confirm that the ID matches the entity they intend before they can create a new audit record.

Currently, they enter EIN and its validated against the FAC legacy DB. Users select from ent

[2022-04-11 17:46] jadudm opened #122 "Confirm eligibility at start of new audit submission"
**Background**

Eligibility confirmation is currently mocked as a single page. It covers the following stories:

1. As an auditor or auditee creating a new audit, I need to check that audits are required for my entity type so that I can determine whether my entity is required to submit an audit.
2. As an auditor or auditee creating a new audit, I need to check that my entity spent at least $750K i

[2022-04-11 18:25] #70 closed, assigned to MelissaBraxton, sreuber

[2022-04-11 18:26] #53 closed, assigned to sreuber

[2022-04-11 20:49] jadudm opened #123 "Onboarding checklist for @geekygirlsarah"
### Welcome to the team  @geekygirlsarah!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqW

[2022-04-12 14:38] #77 closed, assigned to nobody

[2022-04-12 14:56] MelissaBraxton opened #126 "Create a new audit submission based on valid entity data"
## Background
When users are creating a new audit, they are guided to enter an ID number (likely the [UEI](https://sam.gov/content/entity-registration), sam.gov, pending PDR in #120) that is then checked against a database. They need to see what is returned from that database and confirm that it is the correct entity for which they want to create a new submission.

(The UEI being the ID in questio

[2022-04-12 14:57] MelissaBraxton opened #127 "Validate dates as part of creating a new audit submission record"
**Background**

We need to make sure people are not trying to submit audit reports for years prior to FY22.

It covers the following stories:

1. As an auditee or auditor creating a new audit, I need the fiscal period dates to be validated so that subsequent data I enter is what's required for that year.

**We'll know we're done when...**
- [x] When a user who enters dates outside of FY 22 is barr

[2022-04-12 14:59] MelissaBraxton opened #128 "Audit submission access page"
**Background**

In the future, non-federal users will have to log in via login.gov.

It covers the following stories:

1. As an auditor or auditee, I need to be able to specify who will need to certify my new audit (who will "check the box" at the end)
2. As an auditor or auditee, I need to be able to specify who should have access to my new audit
3. As a user, I need information on what will happ

[2022-04-12 16:23] MelissaBraxton opened #129 "Compensate Sprint 1 research participants"
**Background**
We Just got approval from TTS Ops to compensate research participants.

**We'll know we're done when...**
- [ ] We've sent giftcards to all sprint 1 participants

**Tasks**
- [ ] Email participants to let them know about compensation and ask them their preference for email of snail mail compensation
- [ ] Update participant tracking sheet to communicate to Djemila batches of partici

[2022-04-12 16:56] #107 closed, assigned to nobody

[2022-04-12 17:07] NicholasKramer opened #130 "Use CI to automatically build and deploy to Cloud.gov"
We should use Github Actions to automatically build and deploy to Cloud.gov when new builds are pushed.  The steps will be to:

- [x] Setup a cloud.gov service account
- [x] Use encrypted secrets (repository secrets?)
- [x] Create Github workflow

Any thoughts, comments, objections?

## We'll know we're done when
* When a new commit is made to `main`, we see Actions  automatically deploy the lates

[2022-04-12 17:16] #89 closed, assigned to NicholasKramer

[2022-04-12 17:24] NicholasKramer opened #131 "When a PR is submitted, Github actions executes our Django test suite and prevents merging until the suite passes."

[2022-04-12 17:34] #131 closed, assigned to nobody

[2022-04-12 19:33] #111 closed, assigned to heymatthenry

[2022-04-12 20:05] #54 closed, assigned to MelissaBraxton

[2022-04-12 20:29] MelissaBraxton opened #133 "Create artifacts for agency audit resolution official research"
**Background**

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-04-15 18:01] Jkrzy opened #135 "As a user I can authenticate with Login.gov"
**Background**
We're using Login.gov to authenticate

**Stories**

1. As an Auditee or Auditor I know how and where I need to authenticate so that I may submit new and modify existing single audit packages.

**Acceptance Criteria (We'll know we're done when..._**
- [ ] When a user can authenticate with login.gov and be associated with a Django user account
- [ ] For a user who has authenticated wi

[2022-04-18 13:20] #130 closed, assigned to NicholasKramer

[2022-04-18 14:32] #94 closed, assigned to jadudm

[2022-04-18 17:29] NicholasKramer opened #137 "Organization Type Endpoint"
- [ ] Create an organization type endpoint that will support a GET request and return the list of valid organizations and their descriptions.

_Originally posted by @NicholasKramer in https://github.com/GSA-TTS/FAC/issues/122#issuecomment-1101589273_

[2022-04-18 18:06] #55 closed, assigned to MelissaBraxton, sreuber

[2022-04-18 18:31] #84 closed, assigned to Jkrzy

[2022-04-18 18:47] #123 closed, assigned to jadudm, geekygirlsarah

[2022-04-19 12:39] #137 closed, assigned to NicholasKramer

[2022-04-19 17:10] #95 closed, assigned to jadudm

[2022-04-19 17:19] MelissaBraxton opened #140 "Synthesize and write up sprint 2 research"
**Background**

**We'll know we're done when...**
- [x] We have documented research results in the wiki.
- [x] We've documented any new user stories on the story map

**Tasks**
- [x] Synthesize research
- [x] Write up summary
- [x] Write up new user needs statements add to Mural
- [x] Post roles goals and needs statements in wiki

[2022-04-19 17:24] MelissaBraxton opened #141 "Initial take on data dissemination functionality"
**Background**

<<background>>

It covers the following stories:

1. As an ...

**We'll know we're done when...**
- [ ] When a user can ...

**Tasks**
- [ ] Design designs all the things
- [ ] Engineering engineers all the things

**Definition of Done**

- [ ] Meets technical definition of done
- [ ] Meets acceptance criteria
- [ ] PO approved
- [ ] Usability tested
- [ ] FE test suite updated to

[2022-04-20 00:31] austinhernandez opened #143 "Documenting accessibility — roles and responsibilities"
**Background**

As a product team we need to ensure that accessibility becomes an essential and integral part of design and development. 508-compliance is mandatory for launch. By starting projects with accessibility in mind and creating a process for documenting user interaction and accessibility requirements we can build more inclusive products and avoid costly, last minute accessibility fixes.

[2022-04-20 18:03] #133 closed, assigned to sreuber

[2022-04-20 20:04] NicholasKramer commented on #104
Sharing our proposed approach to validating UEIs: @Jkrzy and I contemplated a layered approach to UEI validation where we followed the UEI spec to validate locally before verifying with the SAM.gov API.  The following checks can be performed locally, and if they pass, finalize verification by reaching out to the SAM.gov API:

* The Unique Entity ID is a 12-character, alphanumeric value that adhere

[2022-04-20 20:15] jadudm commented on #104
Makes sense to me. Saves us from sending complete randomness to the API. And, the proposed local checks are light/straight-forward. I don't think this level of decision requires an ADR, if that's part of the question.

[2022-04-20 20:18] Jkrzy commented on #128
🤔 Thinking about assumptions here

* At this point in the flow, the Names/Emails being specified **are not** linked directly to User Accounts in the FAC.
* At **some time in the future** we expect a person associated with a given email would authenticate via Login.gov and then be automatically associated with an `SF-SAC` created here.

[2022-04-20 22:09] MelissaBraxton commented on #128
Yes, that matches my thinking @Jkrzy.

[2022-04-20 22:25] MelissaBraxton opened #145 "Auditee information page - Content explaining UEI"
**Background**

We are working on the auditee info page in #126. This issue is focused on the content users see on that page.

It covers the following stories:

1. As an auditee or auditor creating a new audit, I need in-context information on the auditee information page about what a UEI is and where I get it so that I know what number to put in.
2. As an auditee or auditor creating a new audit,

[2022-04-20 22:51] MelissaBraxton commented on #135
Q relevant to log in and where we decide to implement the login button on the front end -

In the current FAC, all **data submission** and **getting submitted data** tasks require logging in. Will that need to be the case with our system? Or is it possible we could make it so that folks wont need to sign in to get the data?

[2022-04-21 10:41] jadudm commented on #135
Thoughts, mostly.

*Obtaining* data from the FAC... currently, you don't need to log in. That would represent a change from the existing system. I can visit [https://facdissem.census.gov/](https://facdissem.census.gov/) and search without logging in.

So, if the question is "can a member of the public obtain FAC data without logging in," the current system says **yes**. If our workflow currently s

[2022-04-21 14:52] MelissaBraxton commented on #122
@Jkrzy

Conditions that should trigger an error:

Q1. IF entity type is **none of the above**
Q2. IF answer is **no**
Q3. IF answer is **no*

In the current system, and error is thrown the moment someone selects one of those radio buttons--it doesn't wait until they try and "continue."

[2022-04-21 16:57] Jkrzy commented on #122
With #146 I believe the backend portion of this is complete

[2022-04-21 17:08] MelissaBraxton commented on #135
Apologies! I think I was confusing sam.gov login requirement to get data w/ the FAC. You're right that folks dont log in to get FAC data.

Agree that the Login button is not in the right place (it was there on the mocks purely as a research probe), and it's something we need to sort out as part of the Login story, but it's connected to us also getting concrete on the overall IA, which @brentryanjo

[2022-04-21 17:23] #129 closed

[2022-04-21 17:44] brentryanjohnson opened #147 "Map and test information architecture and navigation"
**Background**
The presentation of information on the current FAC is inconsistent, as the top-level navigation changes depending on which part of the system the user is interacting with. The functions of submitting and accessing audit information have specific naming conventions ("Internet Data Entry System" and "Image Management System," respectively), although the homepage navigation refers to t

[2022-04-21 19:22] heymatthenry commented on #122
@Jkrzy & @MelissaBraxton Are we aiming to match the functionality of the current system? As it stands, we're relying on the server for the validation & to provide the error messages (as implemented in #146. ty!). So if we want users to see those errors before submitting, we're going to have to call the API every time an onchange event fires.

Alternatives to this would be to either:

* do the vali

[2022-04-21 20:41] NicholasKramer commented on #104
With #142, I think we've got a foundation to validate UEI's locally and being work validating with SAM.gov.

I'm going to write a new issue to validate UEI’s with [SAM.gov](http://sam.gov/)

[2022-04-21 20:42] MelissaBraxton commented on #122
Thanks @heymatthenry  - What are the implications of running the validation on the client side? That's my preference from a UX perspective.

The thing that's nice about the existing functionality is that users find out as soon as the trigger an invalid criteria so they could potentially not waste any time answering the other Qs. It also helps us in error message design. If they are checking agains

[2022-04-21 20:57] NicholasKramer opened #148 "Validate UEI's and return entity data from SAM.gov"
**Background**

We need to validate UEI's that pass local validation with [SAM.gov](http://sam.gov/).

We have a piece on the backend for local validation, which confirms that the UEI meets the standards we can reasonably validate locally, but now we need a component that can validate the UEI against SAM.gov.

It covers the following stories:

1. As a user I can enter a UEI and receive feedback on

[2022-04-21 20:58] NicholasKramer commented on #104
New issue to validate UEI's with SAM.gov: #148

[2022-04-21 20:59] Jkrzy commented on #122
We lose a bit of maintainability in that we'd need to update changes in error messaging/logic in both places, in this eligibility case I think that's OK.

So long as we're intentional about where we're OK duplicating that work to provide a better user experience, I think this is a reasonable approach.

[2022-04-21 21:00] jadudm commented on #122
One implication of having it on the client-side is that we will end up with duplication of logic: the API *must* validate the data, because it cannot trust its inputs (even if they come from our frontend).

I was trying to estimate, with 40K submissions/year, what the load might look like if we fired off an API event for every... `onfocus` event (perhaps instead of `onchange`?). Either way, I don'

[2022-04-21 21:35] MelissaBraxton commented on #128
One new need statement from sprint 1 research to discuss:

As an auditor or auditee creating a new audit submission, I need the submission access page to make it clear whether I need to enter my own contact information to get access to the submission.

My hunch is that folks creating a new submission should get access automatically without having to enter their info. Edge case - if they are _also_

[2022-04-21 22:07] MelissaBraxton commented on #106
New user needs statements are here in [this sheet](https://docs.google.com/spreadsheets/d/1q6xhXy0NKzMublqtVoVHYUT0s--CTwa8LBmbRqhpFBg/edit#gid=0). I have not crosswalked this with Mural. @jadudm and @Jkrzy would love your thoughts on how you'd like to inventory stories. I love the Mural, but there's a lot of manual work there as the number of stories grows...

[2022-04-21 22:40] brentryanjohnson opened #149 "Research process for adding and editing FAC content"
**Background**
Most of the content on the Federal Audit Clearinghouse is instructional or regulatory, often in PDF format. How is content selected, created, approved, and published to the FAC? Who and how many people are responsible for reviewing and approving content for the FAC? How is feedback collected for evaluating content?

**We'll know we're done when...**
- [ ] We've interviewed content m

[2022-04-22 01:15] #113 closed

[2022-04-22 01:16] #115 closed

[2022-04-22 01:16] Jkrzy commented on #114
Closed by https://github.com/GSA-TTS/FAC-Frontend/pull/1

[2022-04-22 14:04] ryanwoldatwork commented on #112
Happy to support with service design pertaining to data flow.

[2022-04-22 15:45] brentryanjohnson commented on #149
Closing in favor of #112

[2022-04-22 15:45] #149 closed

[2022-04-22 16:37] MelissaBraxton opened #150 "Research spike: Discovery + usability testing planning with Auditees"
**Background**
We don't know enough about the needs of auditees and have yet to talk with any directly.

My hope is that we can schedule 1 hour test sessions with auditees and spend half the session observing/understanding how they work and then the other half actually testing the data submission side of things (creating a new audit, entering SF-SAC "general info" form data).

Aiming to schedule t

[2022-04-22 16:47] MelissaBraxton opened #151 "Recruit auditees for user research"
**Background**
This is recruiting users for research covered in #150.

**We'll know we're done when...**
- [x] We have interviews with 8 agency auditees on the books
- [ ] At least 3 of the participants work with tribal auditees and/or organizations that serve historically underrepresented groups.

**Tasks**
- [x] Email auditor contacts for connections to their auditees
- [x] Refine recruitment cr

[2022-04-22 20:06] MelissaBraxton commented on #106
Wiki updated [here](https://github.com/GSA-TTS/FAC/wiki/User-roles-and-key-epics)

[2022-04-22 20:06] #106 closed

[2022-04-22 21:29] MelissaBraxton commented on #73
Updated the model. Aim to walk through w/ Mark D. on Monday 5/2. Then we can close this out.

[2022-04-24 18:36] joffemd opened #153 "Use SAM Entity Data to Clean Entity Types in FAC's General Info"
When users download GENyy.zip or Summary Reports associated with individual audits, one of the output fields they see is "Type of Entity".  Unfortunately, the data in this field is often incorrect.

For example, in 2021, Gem County (Idaho) has an entity type of 888 (Unknown), but it should be 100 (County).  The Employer ID for this entity is 826000299.

But it is correctly classified in the SAM En

[2022-04-25 16:56] #104 closed

[2022-04-25 19:03] Jkrzy commented on #119
Closing this w/ merge of #120

[2022-04-25 19:03] #119 closed, assigned to jadudm, MelissaBraxton

[2022-04-25 19:27] Jkrzy commented on #122
With https://github.com/GSA-TTS/FAC-Frontend/pull/5 we're doing these checks on the client side as well as server side.

I did a check w/ Accessibility Insights, looks good for an initial a11y scan.

I took a pass through the issue checklist, but need eyes from others outside of engineering. cc: @jadudm @MelissaBraxton

[2022-04-25 19:48] NicholasKramer commented on #148
Proposed UEI validation and processing flow:

- We'll reach out to the SAM.gov API upon UEI entry only as part of the serializer validation.
- We'll be using V3 of the SAM.gov API:  https://api.sam.gov/entity-information/v3/entities? gathering data in the JSON format.
- We'll be using the SAM.gov API data to validate the UEI.  There is quite a bit of information we may also use.  TBD.

[2022-04-25 21:00] joffemd opened #154 "Single Audit Database Download Formats"
On the existing FAC, when a user Downloads the Complete Single Audit Database at https://facdissem.census.gov/PublicDataDownloads.aspx, the downloaded files are pipe delimited.

This delimiter is not directly supported by Excel and so the files are somewhat more difficult to import than they could be.

I recommend supporting comma separated values (csv) and tab separated values (tsv) as alternativ

[2022-04-26 11:18] jadudm commented on #122
For conversation:

Issue #153, from the community, references entity types. In the original FAC, users entered this information. However, from a consumer of the data's perspective, this field can often be misreported by the auditor/auditee.

This is in light of the fact that SAM.gov encodes the entity type.

For discussion. From "path of least disruption" and "we can't casually change the SF-SAC"

[2022-04-26 13:56] #109 closed

[2022-04-26 16:26] petermarks-gsa opened #156 "Define API rate limiting behavior"
Background: API rate limiting is a best practice in APIs. We think we'll want a couple different classes of API users: government users with high limits and public users with more modest limits.

Open questions:
* What tool/framework do we want to use for rate limiting? api.data.gov? Something else?
* How will our authentication scheme relate to rate limiting?

[2022-04-26 16:39] petermarks-gsa opened #157 "Implement API authentication and rate limiting"
**Background**: API rate limiting is a best practice in APIs.

**Requirements**:
* Use api.data.gov as our framework
* Provide:  classes of API users: government users with high limits and public users with more modest limits.

**Open questions**:
* How will our authentication scheme relate to rate limiting?
* What is the onboarding to using a new key?
* Where do we store regular API user versus p

[2022-04-26 18:33] NicholasKramer opened #158 "Request a SAM.gov System Account"
**Background**

Break-off from issue #126

We need a component that can validate the UEI against SAM.gov.  In order to do that, we need a SAM.gov system account.

Documentation on how to request a SAM.gov system account:  https://www.fsd.gov/gsafsd_sp?id=gsafsd_kb_articles&sys_id=f8426db91b594d9006b09796bc4bcb52

**Tasks**
- [x] Create a SAM.gov account
- [x] Follow the steps in the [knowledgebase

[2022-04-26 18:38] NicholasKramer commented on #158
Initial work:  I've created a SAM.gov account under my login.gov identity and requested an Entity Display Viewer Role.  After getting the role, I can request the System Account.

[2022-04-27 14:20] #110 closed, assigned to nobody

[2022-04-27 14:26] Jkrzy opened #159 "Add Accessibility scanning to CI/CD pipelines"
**Background**
As a developer, I need accessibility scans to be automated for each pull request so that I can easily surface opportunities to improve the overall usability of my code.

**We'll know we're done when...**
- [ ] On each pull-request, an accessibility tool inspects our user interfaces and reports all failures/issues

[2022-04-27 14:39] Jkrzy opened #160 "Map data available from sam.gov API to Auditee Info mocks"
**Background**
For #126 we are validating UEIs and returning data from the sam.gov API.

Engineering will collaborate here with content and design to understand and document the endpoints/data available from SAM.gov and how they can be best leveraged for the `Auditee Info` step towards creating a SIngleAuditChecklist.

References: [SAM.gov API documentation](https://open.gsa.gov/api/entity-api/)

[2022-04-27 14:53] Jkrzy commented on #126
Checking my understanding since this was written a few weeks ago....

* UEI's are associated with single entities
* Users must provide a [valid](#104 ) UEI to proceed
* For a given UEI, we'll never be able return more than a single associated Entity name from sam.gov
* Users won't be able to edit data fields returned by sam.gov

If ☝️ is true, the only user modifiable input on this page _should_ b

[2022-04-27 15:58] jadudm commented on #126
This feels correct, @Jkrzy.

Also, see #153. It suggests that the entity type is also encoded in the SAM.gov data, which is interesting. (Because we ask the user for entity type, but technically, we should be able to get valid entity type from sam.gov?)

And, yes. We have to have the UEI. A question I have is (two, perhaps?):

1. Can someone "skip" this page and do it later, but they can't complet

[2022-04-27 18:44] Jkrzy commented on #160
Picking this up and translating the SAM.gov docs, data dictionary, and API responses to a google sheet for us to collaborate with

[2022-04-27 19:48] Jkrzy commented on #160
Proposal for mapping after reviewing data dictionary and FIGMA mock-up.

I only see two fields we need immediately.

SAM.gov field | FAC field
---| ---
legalBusinessName| Auditee name
ueiSAM| UEI

Other fields considered:

**Field Name:** Fiscal Year End Close Date
**Definition:** The date the entity's accounting period closes. When entering the information on the
web site, you must enter as MM/DD

[2022-04-27 19:51] Jkrzy commented on #160
We'll need to use the `FOUO` API endpoint to support validation of entities which have opted out of inclusion in the public dataset.

**Field Name:** No Public Display Flag
**Definition:** The field indicates whether an entity has chosen to opt-out of their registration being
displayed in SAM public search results. Opting out may result in a reduction in Federal
Government business opportunities,

[2022-04-27 20:01] Jkrzy commented on #160
@NicholasKramer, @geekygirlsarah, does this look right to you given what you've seen implementing #148?

@sreuber, does only pulling `Auditee Legal Name` from SAM feel right to you given the current mock-ups and research?

[2022-04-27 20:04] Jkrzy commented on #127
In #160 I looked across all the FY dates available from sam.gov. Ready to chat when you all are @MelissaBraxton, @austinhernandez!

[2022-04-28 13:02] sreuber commented on #160
Yes, auditee legal name should be sufficient.

[2022-04-28 14:01] Jkrzy commented on #160
Thanks @sreuber! We'll use this as input for #148

[2022-04-28 14:01] #160 closed

[2022-04-28 19:26] petermarks-gsa opened #164 "Implement and document api key management for sam.gov"
High level: Need to document how we authenticate with SAM.gov API. Need patterns around API key storage and patterns.

May be blocked by https://github.com/GSA-TTS/FAC/issues/158

**A story for this could be described as...**

As a developer, I need to know how to get a SAM.gov API key and add it to the project so that I can run or deploy the code to be able to access the SAM.gov API.

**We'll kno

[2022-04-28 19:27] petermarks-gsa opened #165 "Design failure state if SAM.gov API is unreachable"
**Background**: There may be cases where SAM.gov's API fails and we are unable to match UEI's. If we're unable to reach SAM.gov, what do we tell the user?

**We'll know we're done when:**

- [x] We have a design and copy for this failure state documented somewhere and linked in #126 and/or #180

[2022-04-28 19:50] petermarks-gsa opened #166 "Mock up how a user will choose or confirm the particular entity they want to proceed with"

[2022-04-28 20:02] petermarks-gsa opened #167 "Confirm with SAM.gov folks that the data we auto-populate are public data"
**We'll know we're done when:**
We understand what, if any, special handling needs to take place for Entities which have opted out of public display.

Tasks
- [x]  Connect with someone at SAM.gov to understand this.

[2022-04-28 20:04] petermarks-gsa opened #168 "Create SAC object in database given validated user input from the frontend"
Background: In https://github.com/GSA-TTS/FAC/pull/152 we implemented a pathway to create an SF-SAC instance from the combined API calls of a user navigating through the form intake steps.

Depends on #128

Goal is to fine-turn the implementing from https://github.com/GSA-TTS/FAC/pull/152 to meet the needs of the frontend as developed as part of https://github.com/GSA-TTS/FAC/issues/128

Open ques

[2022-04-28 20:05] petermarks-gsa opened #169 "API endpoint for UEI to entity name lookup"
### Background
User's enter a UEI as part of the intake process to create an SF-SAC. We validate that UEI on both the client and server side.

Once validated the browser should display the associated LegalName, as provided by SAM.gov, to the user for confirmation.

### Tasks (not necessarily definitive list)
* [ ]   The backend validates UEIs against the validation rules (see [Validate UEIs and re

[2022-04-28 20:08] petermarks-gsa opened #170 "Front end entity selection UI"

[2022-04-28 20:10] petermarks-gsa commented on #126
I attempted to break up this story into sub tasks to make it more actionable and achievable. Here’s my thinking behind this approach:

- Clarify exactly who from design and engineering is accountable for each part. Previously only Austin was assigned this ticket when it has engineering parts.
- Encourage discussion and clarification of each individual piece in their own ticket. Threads at the stor

[2022-04-28 20:16] NicholasKramer commented on #158
Current progress: waiting for account approval.  Once my account is approved, I can request a System Account.  I'm using my personal API key in the repository for testing - this will change once a System Account is approved.

[2022-04-29 12:13] Jkrzy commented on #108
@tadhg-ohiggins, I'm going to take the linting piece here

[2022-04-29 13:49] Jkrzy commented on #167
From #160 we know we're only bringing in an Auditee's Legal name which is available via the public API.

I propose that we use this issue to better understand entities what, if any, special handling needs to take place for Entities which have opted out of public display.

<img width="784" alt="Screen Shot 2022-04-29 at 9 48 30 AM" src="https://user-images.githubusercontent.com/3485564/165957614-b7

[2022-04-29 13:52] Jkrzy commented on #159
Thanks for tackling the frontend piece of this @heymatthenry! I'll pick-up the Django side.

[2022-05-02 15:33] MelissaBraxton commented on #140
@sreuber  - is this in progress?

[2022-05-02 16:13] sreuber commented on #140
Wanted to discuss further, we had some hiccups.

[2022-05-02 17:45] #105 closed

[2022-05-02 17:55] MelissaBraxton opened #176 "RESEARCH SPIKE: Naming the FAC url"
**Background**

<<background>>

It covers the following stories:

1. As an ...

**We'll know we're done when...**
- [ ] When a user can ...

**Tasks**
- [ ] Design designs all the things
- [ ] Engineering engineers all the things

**Definition of Done**

- [ ] Meets technical definition of done
- [ ] Meets acceptance criteria
- [ ] PO approved
- [ ] Usability tested
- [ ] FE test suite updated to

[2022-05-02 18:00] Jkrzy commented on #108
In today's stand-up, there were no objections to the use of Black and it's default settings.

[2022-05-02 18:35] #176 closed

[2022-05-02 18:36] jadudm commented on #176
OMB is providing guidance.

[2022-05-02 18:54] #51 closed

[2022-05-02 18:55] #69 closed

[2022-05-02 18:55] #71 closed

[2022-05-02 18:55] #72 closed

[2022-05-02 20:11] MelissaBraxton commented on #122
@austinhernandez  - How's this one going? Any updates to add?

[2022-05-02 20:13] MelissaBraxton commented on #128
@Jkrzy and @austinhernandez  - Is the checklist here up to date? Wanting to get a clear sense of where this is at before we head into backlog grooming tomorrow.

[2022-05-02 20:14] #103 closed

[2022-05-02 20:24] MelissaBraxton commented on #13
@jadudm  - do we want to hand this off to @petermarks-gsa based on our discussion earlier today?

[2022-05-02 20:30] jadudm commented on #13
That sounds good to me. I've made some headway, but they're things he will
essentially be leading, so it makes sense to handoff.

On Mon, May 2, 2022 at 4:24 PM Melissa Braxton ***@***.***>
wrote:

[2022-05-03 17:07] MelissaBraxton commented on #73
Rescheduling the walkthrough with Mark D.

[2022-05-03 17:27] petermarks-gsa commented on #168
@Jkrzy to relay questions in slack into here. This might be slightly bumped down the user flow.

[2022-05-03 17:30] petermarks-gsa commented on #169
@geekygirlsarah  to take a look at this. @Jkrzy's suspicion is that we already have this in place and will draft up a "when this is done"

Main question: What is specific the expectation around this being done?

[2022-05-03 17:38] MelissaBraxton commented on #166
I think we can archive this. There should be no need to select among multiple entities returned since we're pulling the single canonical entity name from sam.gov.

[2022-05-03 17:39] geekygirlsarah commented on #169
@Jkrzy If you're looking at this, feel free to compare "done" to #148 .

[2022-05-03 17:41] petermarks-gsa commented on #122
@heymatthenry and @austinhernandez to pair on this. We think this is very close to being done.

[2022-05-03 17:54] petermarks-gsa commented on #143
Next step: @austinhernandez to do an accessibility workshop to talk about roles and responsibilities as a team. Look out for it on the FAC calendar!

I moved this to the backlog, but we want to bite off chucks of this to be done sprint by sprint.

[2022-05-03 17:56] #166 closed

[2022-05-03 18:28] petermarks-gsa commented on #91
Per backlog grooming, I've adjusted the acceptance criteria and am closing this.

[2022-05-03 18:28] #91 closed

[2022-05-03 20:52] Jkrzy commented on #168
In #152 we implemented a pathway to create an SF-SAC instance from the combined API calls of a user navigating through the form intake steps.

I'd like to move this issue to be a task of #128, focused on fine tuning the implementing from #152 to meet the needs of the frontend as developed as part of #128

[2022-05-03 21:53] austinhernandez opened #180 "Update mockups to reflect the findings in Auditors research report"
**Background**

In reviewing the tickets / sprint tasks from [the research report for on the Auditors user group (in Sprint Adirondack)](https://docs.google.com/document/d/1iuulBIkgRPeQKIinTN23B2pIOx17zvhzKe_2KwbxBCA/edit#heading=h.g1j9nc6gmfe) it became evident that many of the findings were dependencies that required more information and a holistic design approach. Also, in synthesizing prelimin

[2022-05-03 21:55] tadhg-ohiggins commented on #169
These are what occur to me as engineering sub-tasks (which may or may not constitute sub-issues):

* [ ]   The frontend validates UEIs against the validation rules[^1].
* [ ]   The backend validates UEIs against the validation rules (see [Validate UEIs and return entity data from SAM.gov](https://github.com/GSA-TTS/FAC/issues/148) ).
* [ ]   The backend takes UEIs and returns data about them, incl

[2022-05-04 11:37] jadudm commented on #180
Related to the complexity of flows, etc. (and looking for @Jkrzy to chime in here)...

It may not be true that federal users access the system via login.gov? They may be using MAX/SecureAuth, because that brokers a number of federal identity services that can leverage a PIV/CAC. I can't remember where that conversation landed, however.

[2022-05-04 14:52] MelissaBraxton commented on #180
The Login.gov user story is specific to auditors and auditees, so not federal users.

[2022-05-04 15:22] petermarks-gsa commented on #169
I think this looks sufficiently defined and have removed the "needs refinement" label.

@tadhg-ohiggins I think that looks like a good task list. I think the backend ones are appropriate for this issue and the front end tasks are better for https://github.com/GSA-TTS/FAC/issues/126. I've updated descriptions of both issues.

[2022-05-04 15:23] petermarks-gsa commented on #170
@MelissaBraxton I've added refinement here. Can you please review? I've included a mock from the "Sprint 1 Mocks" Figma board in "FAC Playground". Is that the most up to date area for mocks?

[2022-05-04 15:37] MelissaBraxton commented on #170
@petermarks-gsa  - The image above is not the latest.

Here is the mock we tested in sprint 1 (replaced the lorem ipsum w/ an actual explanation, but @austinhernandez and @brentryanjohnson are refining this.
<img width="418" alt="Screen Shot 2022-05-04 at 8 35 43 AM" src="https://user-images.githubusercontent.com/20651166/166717844-b2f7c932-36e2-4bba-915c-85773092663d.png">

Also, wondering if thi

[2022-05-04 15:47] geekygirlsarah commented on #169
Looks good to me (@Jkrzy and @tadhg-ohiggins lists)

[2022-05-04 20:27] #159 closed

[2022-05-04 20:31] austinhernandez commented on #143
Brainstorm with the team about documentation on this Mural: https://app.mural.co/t/gsa6/m/gsa6/1650474235148/d244da85899b0469d94591cfeb0fcccbbc4edf21?sender=austinhernandez5199

Notes for the meeting here:
https://docs.google.com/document/d/1af7W0Dh_AqeRTBmVKISP794pojBRwk66jzgU3UfJluc/edit

Need to come up with an action plan, but there was a lot to unpack in terms of responsibilities. Big call ou

[2022-05-04 20:34] MelissaBraxton commented on #127
Great! Let's put this on the agenda for tomorrow's design/eng sync.

[2022-05-04 21:48] MelissaBraxton commented on #126
Added note to reflect that #166 is closed/deprecated.

[2022-05-04 22:02] MelissaBraxton commented on #180
Added checklist/links to relevant stories already on the board. @petermarks-gsa - thinking we can co-work on writing the new issues for remaining sprint 1 insights when we meet on 5/5.

[2022-05-04 22:23] MelissaBraxton commented on #122
@austinhernandez and @heymatthenry There is one refinement needed here from sprint 1 research:

- [ ] As an auditor or auditee submitting a new audit, I need to understand that  “US based” is  inclusive of the US territories (Puerto Rico, Guam, US Virgin Islands, Northern Mariana Islands).

May also be something @brentryanjohnson can help with, since it's primarily a content change)?

[2022-05-05 15:08] petermarks-gsa commented on #170
@MelissaBraxton Closing the loop on our Slack discussion on design, we acknowledged that this Figma board is currently the definitive source for design even though the copy is not final:

https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=1867%3A9370

Regarding this work being covered elsewhere, I've replaced the front end checkbox in #128 with a link to this ticket, s

[2022-05-05 16:12] MelissaBraxton opened #185 "General information - SF-SAC data entry"
**Background**

This story covers the front end and back end implementation of the **general information page** of SF-SAC form data entry. We have mocked this and tested our mocks in sprint 1 research, but as of 5/5, refinements are in progress [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2464%3A10748).  You can find where this sites in the story map [here

[2022-05-05 16:22] MelissaBraxton opened #186 "ADR for how we are enabling bulk data upload"
**Background**
Much of the design and dev work on the AF-SAC form data entry is dependent on us having a clear sense of how we are enabling users to bulk upload data. We need to decide how we will do this in order to unblock the rest of SF-SAC form data entry work.

**We'll know we're done when...**
- [ ] We've reviewed [Matt's spike](https://github.com/GSA-TTS/FAC-xlsx-validator) and evaluated wh

[2022-05-05 16:26] MelissaBraxton opened #187 "Reference document: Implement Federal Awards screen"
## Background

This issue covers the front end and back end implementation of the SEFA page of SF-SAC data entry. You can find this in the story map [here](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1647626680995).

**Stories**

1. As an auditee, I can enter or edit information on my federal awards and have it populate my SEFA so that I can comp

[2022-05-05 17:45] jadudm opened #188 "Onboarding checklist for @jhansen-flexion"
### Welcome to the team  @jhansen-flexion!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For @jhansen-flexion**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DB

[2022-05-05 17:51] geekygirlsarah commented on #148
Given ticket #170 exists to do the front end implementation of this, I think the task "Front end implementation to perform validation and render error message(s)" can be removed, and since it's the backend only for this ticket, the "usability testing" and "FE test suite updated to test the form " criteria can be removed.

[2022-05-05 18:23] tadhg-ohiggins commented on #127
We will need a table of dates for which specific versions of the SF-SAC are/were valid. (This is a future, not MVP, issue, but should be considered architecturally for the MVP.)

[2022-05-05 18:27] petermarks-gsa commented on #167
@jadudm A next step for this that we've discussed is finding a contact at SAM.gov to talk to about this issue. Do you have one?

[2022-05-05 18:43] petermarks-gsa commented on #165
@MelissaBraxton Is any other refinement needed for this task? Seems like a pretty narrow one.

[2022-05-05 18:55] petermarks-gsa opened #189 "Storyboard federal access to the database"
Some work in progress here: https://app.mural.co/t/gsa6/m/gsa6/1651144252291/7d8687fa6bc82d090cb227ad3b87d0d8f22a3358?sender=ua4d37dfba3f1e69e09078790

We'll know we're done when

- [ ] There are stories on the main story mural board, ready to be translated into github.

[2022-05-05 18:59] Jkrzy commented on #148
Thanks @geekygirlsarah, coming out of our conversation earlier this afternoon.

I'm going to self-assign this one and take it through a round of testing to confirm the validation and API calls here are working as expected before moving it to done.

[2022-05-05 19:13] Jkrzy commented on #148
Functionality works as expected testing locally and on the deployed cloud.gov dev instance! Thanks @tadhg-ohiggins, @NicholasKramer, @geekygirlsarah!

I think there's some opportunities to refine this in terms of the shape of the response to the client and logging would be particularly helpful, but let's tackle those in new issues.

[2022-05-05 19:14] #148 closed

[2022-05-05 19:57] Jkrzy opened #190 "Implement logging framework"
**Background**
As a developer, we need to be able to log events such as unexpected errors, authentications, data modifications, etc.

We'll configure Django's logging framework to play nicely with Cloud.gov's log ingestion and include documentation so developers know how and where to include logging statements.

**We'll know we're done when...**
- [ ] We can see log entries created by our applicat

[2022-05-05 20:23] MelissaBraxton opened #191 "Interview Census processors"
**Background**
This issue is to fill in knowledge gaps we have re: the human-in-the-loop part of processing and publicizing FAC submissions. We're have time scheduled with Census processors on 5/11, and this issue covers planning and facilitating that conversation and documenting what we learn.

**We'll know we're done when...**
- [x] Our workflow model includes an accurate representation of what

[2022-05-05 21:21] MelissaBraxton commented on #151
Drafting instructions/process for Melissa Avalos [here](https://docs.google.com/document/d/16UpgQbFOh5F9RLkTGHEsgHyTBC_O65y6nZSiFOvxHjg/edit#heading=h.5pa9w461cm0n). Will assign her to this issue once she has TTS GH access.

[2022-05-05 21:52] MelissaBraxton commented on #150
@austinhernandez, @sreuber, and @brentryanjohnson - Shell of a research plan is [here](https://docs.google.com/document/d/1J8TlQXs05g6NTWnT9uBPG4dw9NsZZpca6z3ItLEaSrQ/edit#). Feel free to pile on the research Qs we can go back and prioritize and organize these around scenarios/script the actual protocol later on.

[2022-05-05 22:03] MelissaBraxton commented on #191
Drafting Qs [here](https://docs.google.com/document/d/1ApHaC5_daADSJzrUnWk4P6Oe-OYmJd6570ZmBiJWCk4/edit#).

[2022-05-09 16:45] petermarks-gsa commented on #13
@jadudm This is ready for review. Also flagging Jenna, but don't know her github.

[2022-05-09 17:35] petermarks-gsa commented on #167
I have asked the following to meredith.whitehead@gsa.gov (Mimi):

We're pulling over entity information to show to the user when they give us an EIN. We're wondering what, if any, special handling needs to take place for Entities which have opted out of public display (noPublicDisplayFlag is set). Are we allowed to show information for an entity flagged tayt way? Do we need to provide some sort of

[2022-05-09 18:23] petermarks-gsa commented on #167
@Jkrzy Does the below response from Mimi answer your question?

Good afternoon, Peter. Thanks for reaching out. Let me share a few things which might help. The Taxpayer Identification Number (TIN) can be either an Employer Identification Number (EIN) or a Social Security Number (SSN) in SAM.gov depending on the entity type (e.g. sole proprietors and single member LLCs taxed as disregarded entities

[2022-05-09 18:26] Jkrzy commented on #108
Thanks @tadhg-ohiggins, appreciate you annotating the original issue w/ PRs!  This looks good!

[2022-05-09 20:02] petermarks-gsa commented on #158
Per my conversation with @NicholasKramer, I got his confirmation email and escalated this to Memi.

[2022-05-10 13:43] MelissaBraxton commented on #73
Yep!

[2022-05-10 13:44] Jkrzy commented on #167
Thanks @petermarks-gsa!  Since we learned that the `noPublicDisplay` flag applies **only** to searching at SAM.gov, we don't need any special handling here.

[2022-05-10 14:31] geekygirlsarah commented on #170
@heymatthenry From #148 / #169: the API you need to call will be `/sac/ueivalidation`.

The input:
`uei`: string for the UEI to look up (can be upper or lower case)

The output (valid):
[code]

The output (invalid):
[code]
(errors being an array of one or more strings with error messages in them:
`"SAM.gov API timeout"`
`"SAM.gov API error - too many redirects"`
`"Unable to make SAM.gov API reques

[2022-05-10 14:37] geekygirlsarah commented on #169
I believe this ticket can be closed because:
* "The backend validates UEIs against the validation rules" This appears done in #148.
* "The backend takes UEIs and returns data about them, including their valid/invalid status and, if valid, the value of their LegalName property" There is no `LegalName` property but there's `legalBusinessName` and `dbaName`, which the former would be the main legal n

[2022-05-10 14:37] #169 closed, assigned to geekygirlsarah

[2022-05-10 16:09] MelissaBraxton opened #195 "To-be task flow model for audit submission and search/download"
**Background**
Now that we've completed initial research with primary users who submit data and access audit submissions, we would benefit from an abstract representation of the sequence/screens we're building and how they'll enable users to complete those high level tasks.

**We'll know we're done when...**
- [ ] We have documented to-be task flows for data submission and data search/download

**

[2022-05-10 18:03] petermarks-gsa commented on #165
Flagging this as needs refinement as we need to know what the user's options are here. @MelissaBraxton am I correct to assume that the user cannot move forward in the flow with an unverified UEI?

[2022-05-10 18:17] brentryanjohnson opened #197 "Document content strategy artifacts and findings"
I'm rolling off the FAC project, so I'd like to write some documentation about _all things content and FAC_...so far.

Documentation should include:

## Current state
- [ ] Summary of current-state content
- [ ] Content audit and explanation of fields

## Vocabulary
- [x] Definition of FAC terms
- [ ] Voice and tone considerations
- [ ] Information architecture considerations

## Questions
### Leg

[2022-05-10 18:41] petermarks-gsa commented on #165
@MelissaBraxton Thanks for this explanation.

@brentryanjohnson Please let us know if you need further information.

[2022-05-10 20:35] brentryanjohnson commented on #165
Does the UEI have a specific, predictable format? Is it alphanumeric? Numeric only? A specific number of characters?

Ideally, I'd like to write conditional copy based on error type (e.g., format vs. api).

[2022-05-10 21:24] brentryanjohnson commented on #147
Here's a draft high-level nav:

## Main nav (persistent)

- Submit an audit
- Find an audit
- Resources
  - _I'd like to make this more specific...Data sheets? Templates?_
- FAQs
- Contact us

## Utility nav (persistent)
- Language
- Login

[2022-05-10 21:26] #164 closed

[2022-05-10 22:08] MelissaBraxton commented on #165
The Unique Entity ID is a 12-character, alphanumeric value that adheres to the following rules:
- The letters “O” and “I” are not used to avoid confusion with zero and one.
- The first character is not zero to avoid cutting off digits that can occur during data imports, for example, when importing data into spreadsheet programs.
- Nine-digit sequences are not used in the identifier to avoid collis

[2022-05-10 23:04] brentryanjohnson commented on #165
Will we be able to detect on user interaction if the API isn't working?

[2022-05-11 13:14] petermarks-gsa commented on #165
@brentryanjohnson Yes, ye'll know from the response code or lack of the response if the API is unreachable.

[2022-05-11 13:28] #13 closed

[2022-05-11 13:28] #167 closed

[2022-05-11 13:29] #108 closed

[2022-05-11 15:27] brentryanjohnson commented on #165
I've written some draft error copy. I tried to keep the messages as simple as possible; we can add more detail later if needed. I don't know if it's realistic to use conditionals to generate different copy, but ideally we'd help the user narrow down the source of the error as much as we can. Let me know your thoughts!

## If format error:
We don’t recognize the UEI you entered. The UEI should be 1

[2022-05-11 19:03] geekygirlsarah commented on #157
After discussing with @Jkrzy and @NicholasKramer, we decided this might still be a valid issue but not really feasible to work on at this time, so I'm unassigning and moving back to the backlog for the future.

[2022-05-11 20:12] sreuber commented on #140
@MelissaBraxton Updated research report. Where in the wiki is it posted? And are we good with the user stories to add to the Mural?

[2022-05-11 20:40] tadhg-ohiggins opened #199 "Investigate using Django reversion module"
**Version control at the database level**

We may need to track all changes to SAC forms in progress, and reversion may be the right library to use. Audibility and logging are major considerations here.

We might want to support user-level reversion (we would not remove any data from the actual versioning we store).

**We'll know we're done when...**
- [ ] We've decided whether or not to use rever

[2022-05-11 21:11] tadhg-ohiggins commented on #168
While working on this issue Joe and I discussed the possible ways to handle form status; I'm including some of the

## Some definitions

<dl>
<dt>Intake form data</dt>
<dd>Preliminary data about the audit submission, including UEI, email addresses of users, year of submission</dd>
<dt>SAC full validation</dt>
<dd>The SAC model in our system must allow incomplete/invalid submissions so that in-prog

[2022-05-11 23:01] MelissaBraxton commented on #195
Draft is [here](https://app.mural.co/t/gsa6/m/gsa6/1652305949991/446f978a7539634e7cf9288ca1f9c0bf35e0a38f?sender=melissabraxton2796)

heads up @austinhernandez and @sreuber if you want to take a look in advance of next week's design sync.

[2022-05-11 23:12] MelissaBraxton commented on #191
Started documenting insights by revising the processing section of the user story map[ here](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1649157562604)

[2022-05-12 14:31] petermarks-gsa commented on #168
@tadhg-ohiggins @Jkrzy Thanks for the thought you put into this. Looping in this story's "shepherd" @MelissaBraxton to discuss. I have a couple questions:

1. Regarding the "Possible SAC statuses" list, I'm not aware of an equivalent status in the current FAC. Is that the case?

2. In the current data model, I see various date fields which seem to in effect capture the status milestone at a certai

[2022-05-12 14:49] petermarks-gsa opened #200 "Front end "audit submission access" UI"
**Background**: The third step of the create new audit flow is "audit submission access" where auditee / auditor contacts are entered.

**Acceptance criteria**:

- [x] #204
- [x] "Add another contact" creates a new row
- [x] There is a way to delete a row of bypass validation if you leave a new row blank
- [x] Email fields have client-side validation for valid email format

**Design**: ([current d

[2022-05-12 15:29] petermarks-gsa commented on #165
@brentryanjohnson Sounds like this is ready for review? Suggesting @MelissaBraxton or @austinhernandez as a reviewer. Moving this to "ready for review" and removing "refinement needed". CC @jhansen-flexion

[2022-05-12 16:40] tadhg-ohiggins opened #201 "[backend] How many times should we try to reach the SAM.gov API?"
**Background**
Related to #165; we currently just make one attempt to get UEI info from SAM.gov and have no policy on number of retries, so we should discuss that.

**We'll know we're done when...**
- [ ] We've decided on the retry number/policy.

[2022-05-12 16:41] Jkrzy commented on #127
Coming out of a bit of research in the weeds, here's what we've learned.

- For every Entity, [SAM.gov](http://sam.gov/) tracks a Fiscal Year End Date. This is a MONTH/DAY value. We should use this in the same way we’re using Legal Entity Name
- The earliest possible END of a FY is 01/01 and the last possible is 12/31
- Using FY21 as an example, This means a fiscal year may run from 01/02/2020 - 0

[2022-05-12 17:00] tadhg-ohiggins opened #202 "Determine possible statuses for SAC submission"
**Background**
Discussion of #168 brought up the need to figure out what the possible statuses for a SAC submission are.

**We'll know we're done when...**
- [x] We have a list of the possible statuses.
- [x] We know what needs to be true in order to trigger a status change.
- [ ]  ~~We know how to determine the status of an existing SAC record with legacy date-based fields.~~ Moved to #209.

**Ta

[2022-05-12 17:17] tadhg-ohiggins commented on #202
The current FAC workflow is included in [this diagram](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?sender=melissabraxton2796)

We have some [relevant user research](https://docs.google.com/document/d/1iuulBIkgRPeQKIinTN23B2pIOx17zvhzKe_2KwbxBCA/edit#) [internal team only].

[2022-05-12 17:21] tadhg-ohiggins commented on #202
A relevant comment from [user research](https://docs.google.com/document/d/1iuulBIkgRPeQKIinTN23B2pIOx17zvhzKe_2KwbxBCA/edit#) [internal team only]:

[2022-05-12 17:26] tadhg-ohiggins commented on #168
Conversation about the statuses has moved to a separate issue, #202.

[2022-05-12 17:47] NicholasKramer commented on #158
I now have access to the System Accounts workspace through a system manager role, and have drafted a request for a new FAC system account.

The draft request can be found [here](https://sam.gov/workspace/system/new/3996) (requires a System Manager role to access).  Currently waiting for Joe and Matt J to receive the System Manager role to add them to the System Account request.

There are addition

[2022-05-12 18:41] petermarks-gsa opened #203 "Bulk data upload - design discovery"

[2022-05-12 18:57] tadhg-ohiggins commented on #168
While the question of what the statuses will be and the way in which a submission can move between them is still open, for this issue I'll proceed with having `status` as a property of a submission, and I'll use a set of statuses that we can change in future.

[2022-05-12 19:20] petermarks-gsa commented on #202
@tadhg-ohiggins Thanks for taking the initiative and breaking this off! After our meeting today, I have a better understanding for how status is being communicated to the user and your intentions behind changing the data model. I understand the goal is to move away from a bunch of individual date fields, but to still have the date data recorded with each status change. I added the following to-do

[2022-05-12 19:48] Jkrzy opened #204 "Form renders as designed"

[2022-05-12 22:10] MelissaBraxton commented on #165
LGTM, with one small tweak to this one (revision in bold):

_## If API isn’t working:
We can’t connect to SAM.gov to confirm your UEI. We're sorry for the delay. You can continue, but we'll need to confirm your UEI before **your audit can be certified.**_

I know I've made it passive voice, but the FAC isn't the one certifying the audit--it's certifying auditee and auditor certifying officials who

[2022-05-12 22:14] MelissaBraxton commented on #126
## If format error:
We don’t recognize the UEI you entered. The UEI should be 12 characters and a combination of letters and numbers.

## If API is working, but UEI isn’t recognized:
We don’t recognize this UEI. You can continue for now, but you’ll need to come back to this. [Find out how to get a UEI](#).

## If API isn’t working:
We can’t connect to SAM.gov to confirm your UEI. We're sorry for t

[2022-05-12 22:33] MelissaBraxton commented on #127
@brentryanjohnson your error message above looks good to me! I went ahead and checked off the design task.

[2022-05-13 12:48] jadudm commented on #186
For clarity:

1. Electron is secondary to the ADR. I think we just need to decide/document that we are committed to consuming XLSX templates. The Electron piece is a red herring, because it suggests a desktop application. I would make that a separate ADR.
2. The second question, in terms of schema, should instead be "are we using SheetJS Community Edition" as our library for parsing and processing

[2022-05-13 15:00] austinhernandez commented on #114
Just wanted to check in with engineering on this. Is something like this feasible with search?

<img width="1253" alt="Screen Shot 2022-05-13 at 11 00 00 AM" src="https://user-images.githubusercontent.com/23194720/168311614-73c06a4e-f92a-42cf-b189-f829c1c2c63c.png">

[2022-05-13 15:27] MelissaBraxton commented on #186
This sounds great to me! With this added clarification, I think this is really close to done.  @geekygirlsarah, since I know this is your first ADR, I think all that needs to happen is  declaring that we will:

- Commit to ingesting a set of templates that are closely modeled on the existing templates provided by Census,
- Use SheetJS as our parsing library, and
- Use the CSF as defined by the She

[2022-05-13 17:17] heymatthenry commented on #127
@MelissaBraxton This is what I'm doing for other validation errors on that same form (though we can do whatever you think works, and the error messages are obviously placeholders.): <img width="458" alt="image" src="https://user-images.githubusercontent.com/6290/168334681-00f0ecc1-e5ee-4025-9a8b-abb21232e3a4.png">

[2022-05-13 17:43] MelissaBraxton commented on #127
Cool! Tagging in @austinhernandez to weigh in when there's time.

[2022-05-13 18:41] geekygirlsarah commented on #186
I read over this issue, reviewed [FAC-xlsx-validator](https://github.com/GSA-TTS/FAC-xlsx-validator), and reviewed the npm libraries the app uses. After this, I think we can declare:
* We can commit to ingesting a set of Excel templates similar to the current existing ones at Census
* Use SheetJS as a parsing library
* Use the [Common Spreadsheet Format](https://github.com/sheetjs/sheetjs#common-s

[2022-05-13 19:19] sreuber commented on #195
@MelissaBraxton Just have a few comments in the Mural re: the pages listed.

[2022-05-13 21:44] tadhg-ohiggins commented on #202
## 2022-05-13 statuses conversation

*   Melissa Braxton
*   Tadhg O'Higgins

Should we remove the distinction between CREATED and IN PROGRESS? We don't see a useful difference between them, we should probably just make it IN PROGRESS as soon as it's been created.

We think that “ready to be certified” should be a thing but we're not sure we want to show it to users.

How do we reflect to the user

[2022-05-13 22:07] MelissaBraxton commented on #202
Draft WF model that starts to map statuses to work is[ here](https://app.mural.co/t/gsa6/m/gsa6/1652460935988/b240919b310e05f897c6452815fe5a07cad3eaea?sender=melissabraxton2796).

[2022-05-13 22:15] MelissaBraxton commented on #203
I'm getting into this as part of [this to-be WF](https://app.mural.co/t/gsa6/m/gsa6/1652460935988/b240919b310e05f897c6452815fe5a07cad3eaea?sender=melissabraxton2796) I'm working on that also addresses #202.

[2022-05-13 22:16] MelissaBraxton commented on #195
Thanks! I addressed Scott's comments, so now the remaining task is to review at our design sync on 5/17.

[2022-05-13 22:17] MelissaBraxton commented on #150
We are going to hold off on this for a few weeks. Moving back to the backlog.

[2022-05-13 22:23] MelissaBraxton commented on #127
@heymatthenry Ryan's error text re: dates is ready to go. See also #165  which lays out the error message content for the rest of this page.

[2022-05-16 16:06] MelissaBraxton commented on #185
Without that story, we will need to ask users to re-enter audit period dates. What will we do if those dates they enter on the general info page do not match the dates we validate on that auditee info page?

That story is about carrying those dates forward and preventing duplicate data entry and possible discrepancies between audit period dates if users are asked to manually enter those dates at m

[2022-05-16 16:27] MelissaBraxton commented on #114
cc: @Jkrzy, @tadhg-ohiggins, and @heymatthenry to weigh in.

[2022-05-16 16:53] NicholasKramer commented on #158
To follow-up, I requested a System Account with Joe and Matt J as System Managers, with Matt J also listed as the security POC.  The request is now in process with no estimate of how long it will take - I will keep this issue updated with progress.

[2022-05-16 18:40] petermarks-gsa commented on #185
@MelissaBraxton Oh, I think I misunderstood the story. I re-read and now I understand it's talking about carrying over data from a previous form in the same year, not a different audit year. I'll undo the strike through. Sorry for the confusion on my end.

[2022-05-16 19:10] #73 closed

[2022-05-16 20:13] MelissaBraxton commented on #185
@sreuber We shouldn't need dummy data for this task--it's about mocking the form in its empty state.

To move story 2 forward, we need to finalize **which fields** on this page will be auto-populated by SAM.gov. We mocked auto-populating the fields that SAM.gov has available in what we tested in Sprint 1, but we should propose which fields we think should be auto-populated moving forward, and then

[2022-05-16 20:18] MelissaBraxton commented on #202
One change:
We need to let users proceed to **in progress** even if the UEI they enter cannot be validated in SAM.gov. They should be able to enter data, but they won't be able to move from **in progress** to **submitted** until they've entered a valid UEI.

[2022-05-16 20:22] tadhg-ohiggins commented on #202
@MelissaBraxton thanks! I updated the above comment to reflect that info.

[2022-05-16 20:34] #140 closed

[2022-05-16 21:54] tadhg-ohiggins opened #209 "Document how to derive status from legacy SAC records"
### Background
At some future date we may have to support displaying information about legacy records in our interface. This may include displaying the status of one of these legacy records, and thus we need to know how to translate legacy SAC information into one of the status values we have in our models.

### We'll know we're done when:
* [ ]   We have a list of all of the relevant fields in th

[2022-05-16 22:04] tadhg-ohiggins opened #210 "Provide extra API fields to support legacy expectations"
### Background
Our API may have to provide derived values corresponding some of the fields in the legacy model in order to allow consumers of our API to recreate all of the values they currently expect. We anticipate that this will not require adding any fields to our database models, but that it will require custom code to figure out what these derived values should be.

### We'll know we're done

[2022-05-17 16:31] MelissaBraxton opened #212 "Implement audit start page"
**Background**
This story is to design and develop the audit start page. This is the page that's specific to each audit submission from which users navigate to different things they want/need to do with that audit submission. You can find this in the story map [here.](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1649159658815).This covers the navi

[2022-05-17 16:42] MelissaBraxton opened #213 "Design and implement Notes to SEFA page"
**Background**

This story covers the design and implementation of the **notes to SEFA** page. We mocked and tested this page in sprint 1 and did not recommend any refinements for the MVP. You can find this in the story map [here](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1649156963527). Current mocks are [here](https://www.figma.com/file/1bNnc

[2022-05-17 16:47] MelissaBraxton opened #214 "Implement Audit Information screen"
## Background

This story covers the design and implementation of the **Audit info** page. We mocked and tested this page in sprint 1 and did recommended this very small refinement, which doesn't need to be mocked and can be handled as part of front end implementation: Remove the second tier bullets (a., b., c., etc.). People said that these letters are not useful.

You can find this in the story

[2022-05-17 16:52] NicholasKramer commented on #127
Regarding fiscalYearEndCloseDate, do we need to do any backend validation of the MONTH/DAY value?  Or just pass it along?  Is it possible to validate this if we aren't given the year and need to accept Biennial audits?

[2022-05-17 16:55] MelissaBraxton opened #215 "Implement Award Findings page"
## Background

This story covers the design and implementation of the **award findings page**. This is currently scoped as a pace where auditors download and upload an Excel template. TBD how we want to split off Excel template design and implementation from this issue.

This is dependent on #185.

It covers the following stories (likely will need to break this up into more than one issue):

1. As

[2022-05-17 17:37] heymatthenry commented on #128
@MelissaBraxton Are there any required fields here? Seems like they all could be required, but as it is the mocks don't mark any as such. @SSPJ has been working on building this out so I just want to make sure he's got all the info he needs for that.

[2022-05-17 17:42] MelissaBraxton commented on #128
Yes, they are all required. Good catch!

[2022-05-17 17:55] petermarks-gsa opened #216 "Back End - SingleAuditChecklist model updates to store SF-SAC General Information section data"
Breakout task for https://github.com/GSA-TTS/FAC/issues/185

**Background**
The current `SingleAuditChecklist` model contains fields covering Auditee and Auditor Information. We need to review the current implementation to ensure we're able to receive and store all fields present in the SF-SAC form and our current mock-ups.

- [ ] Enumerate form fields present on our [current mock-up of the Genera

[2022-05-17 17:55] petermarks-gsa opened #217 "Front End - SF-SAC General Information"
Breakout task for https://github.com/GSA-TTS/FAC/issues/185

**Tasks:**
- [ ] develop the entire form (potentially break up if this is too much)
- [ ] Navigate form through left menu anchor links

**Acceptance Criteria:**
from [implementation notes](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2464%3A10748)

Done, aside from auto populated aspects:
- [x] Fiscal p

[2022-05-17 17:58] petermarks-gsa opened #218 "Come up with an approach for progress and form page saving"
Background
We need a mechanism to manage page state of form progress

<img width="254" alt="Screen Shot 2022-05-17 at 2 01 46 PM" src="https://user-images.githubusercontent.com/100610443/168879891-9912d5ca-494d-4c1c-a45f-6ea78503365b.png">

Acceptance criteria
- [ ] We've come up with a model (or extension of the SAC model) to manage state
- [ ] We've found a way to surface that via the API to sho

[2022-05-17 18:27] MelissaBraxton commented on #122
I went ahead and made the content tweak [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=1862%3A15765).

@heymatthenry  - what else needs to happen before we call this done?

[2022-05-17 19:38] heymatthenry commented on #122
@MelissaBraxton I made that change in GSA-TTS/FAC-Frontend#11 so if that's the last piece of this that's outstanding, then we can call it good when that lands.

[2022-05-17 20:23] MelissaBraxton commented on #128
Heads up, @heymatthenry  - @sreuber has some minor content refinements to suggest here. I think he's planning to work on it tomorrow 5/18.

[2022-05-17 20:35] Jkrzy commented on #216
Once we tackle this slice, we can use this issue as a template to complete model updates for the remaining SF-SAC Sections.

[2022-05-17 20:45] Jkrzy commented on #216
@MelissaBraxton, In reviewing the SF-SAC form and instructions I noticed the "Secondary Auditors" question and addendum on the bottom of the General Info section.

I don't see this reflected in the current mock-up and wanted to confirm if we needed to implement that functionality or not.
<img width="343" alt="Screen Shot 2022-05-17 at 4 44 37 PM" src="https://user-images.githubusercontent.com/3485

[2022-05-17 21:13] MelissaBraxton commented on #216
Tagging @sreuber as you work on #185 - We do need this. I think it was an oversight and needs to be added.

We will also need to build logic in here to toggle lock/unlock of the **secondary auditors** page of the SF-SAC.

[2022-05-17 21:37] MelissaBraxton opened #219 "Decide how we handle submission processing"
**Background**
We talked with Census processors and learned about their work and role in processing FAC submissions. GSA will need to determine how we handle processing as we go forward. Considerations and recommendations are[ here](https://docs.google.com/document/d/1ApHaC5_daADSJzrUnWk4P6Oe-OYmJd6570ZmBiJWCk4/edit#).

[2022-05-17 21:42] MelissaBraxton commented on #145
@petermarks-gsa I think we need to prioritize this work and refine the issue so that it can be picked up, since I believe the auditee info page is in progress.

[2022-05-17 21:44] MelissaBraxton commented on #127
Flagging for @Jkrzy, I think?

[2022-05-17 21:51] MelissaBraxton commented on #185
FYI, @sreuber - with this note, I went ahead and checked off the first task.

Expected save behavior:

**Record (but don't save) changes as they're made, but then prompt users to save or discard any unsaved changes if they try to navigate away from the page.**

We will cover the design and implementation of the prompt to save or discard unsaved date in a new issue.

[2022-05-17 21:56] MelissaBraxton opened #220 "Design form page save/discard data prompt"
**Background**

This issue covers the front end design and implementation of functionality that helps users save forms in progress.

Desired behavior:

Record (but don't save) changes as they're made, but then prompt users to save or discard any unsaved changes if they try to navigate away from the page.

It covers the following stories:

1. As an auditor or auditee inputting submission data, I ne

[2022-05-18 14:50] heymatthenry commented on #126
@MelissaBraxton The server is responsible for looking up & validating the UEI, so the first two error messages need to be implemented on the server-side and returned to the front-end via the API (cc: @Jkrzy @geekygirlsarah). I'll implement the last one on the front-end now and tack it onto #170.

[2022-05-18 14:52] heymatthenry commented on #126
To be clear, the part where the server does those validations and returns an error message that the front-end displays is all implemented already—all this requires is a change to the text.

[2022-05-18 14:54] MelissaBraxton commented on #191
Documented takeaways and recommendations in #219.

[2022-05-18 14:54] #191 closed

[2022-05-18 15:02] MelissaBraxton commented on #145
Yep! I also refined it a bit so I think it's ready to pick up and could be moved into available if you agree.

[2022-05-18 16:17] MelissaBraxton opened #221 "Mock SEFA page of the SF-SAC"
**Background**

This issue covers design mocks for the SEFA part of the SF-SAC and is the first task as part of the larger story to implement the SEFA page (#187). Current mocks are [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2464%3A11167)

**We'll know we're done when...**
When the page design has:
- [ ] ~A way for users to enter SEFA data into a web for

[2022-05-18 16:21] MelissaBraxton commented on #221
I think this is halfway done. Current mocks don't have web form fields for SEFA data. Those need to be added.

[2022-05-18 16:36] MelissaBraxton commented on #185
Taking @sreuber off since the design work is now done. Other remaining work is covered in other stories that have other folks assigned.

[2022-05-18 16:45] MelissaBraxton commented on #127
@Jkrzy  - We think you're the one who has the best picture of how we're doing this date validation to be able to unblock this. Can you answer these Qs, please?

Do we want we want return the FY end date from SAM.gov?  I was thinking we may not since it's only a month/day value? Either way, what kind of validation do we need to implement here?

[2022-05-18 17:03] #202 closed

[2022-05-18 17:35] #165 closed

[2022-05-18 17:36] MelissaBraxton commented on #122
@heymatthenry and @petermarks-gsa you want to take one last look and then close out this issue once https://github.com/GSA-TTS/FAC-Frontend/pull/11 has been merged?

[2022-05-18 18:11] heymatthenry commented on #122
Just merged ✅

[2022-05-18 18:11] #122 closed

[2022-05-18 19:01] sreuber commented on #128
@heymatthenry @MelissaBraxton I placed a line of text over the Cancel & Create buttons. I asked in Slack what type of e-mail is sent to perhaps be a little more specific but perhaps this language is fine. Mockup I'm working from is [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=1906%3A8483).

"The above contacts will receive an e-mail once this audit is crea

[2022-05-18 19:16] MelissaBraxton commented on #128
Sounds good to me! All we need now is some content that helps folks know they need to include their own contact info to get access.

[2022-05-18 19:33] sreuber commented on #213
Mocks for Notes to SEFA, including the interaction for the add notes, are complete. Annotations/instructions included in the comments on the Figma file.

[Notes to SEFA default
](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2464%3A11229)
[Notes to SEFA add note
](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2555%3A11913)
[Notes

[2022-05-18 22:08] MelissaBraxton commented on #151
Moving this back to the backlog until we're ready to push this round of research forward.

[2022-05-18 22:45] MelissaBraxton commented on #145
I crossed out the two tasks re: adding a UEI explanation. The first place UEI appears in the flow is in the "my submission access page, which is currently being mocked [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2443%3A11491). I added a comment to the mock to include a glossary link or other def of UEI on that page for consideration when we are ready to t

[2022-05-18 23:00] MelissaBraxton commented on #127
@NicholasKramer  - It's my understanding that the remaining work here will be done when your PR#206 is merged. @heymatthenry can you take a look and see confirm whether the front end task can be checked off?

[2022-05-18 23:08] MelissaBraxton opened #222 "Mock remaining SF-SAC form sections"
**Background**
This iss covers the design work to mock up the remaining sections of the form SF-SAC. We don't yet have issues that cover the implementation of these pages, so I've added the creation of new front/back end engineering issues that should follow this work as a task below.

**We'll know we're done when...**
We have initial design mocks that depict how users will enter data into the fol

[2022-05-19 15:27] #126 closed

[2022-05-19 16:44] petermarks-gsa opened #223 "Back end - Date picker"
Breakout of https://github.com/GSA-TTS/FAC/issues/127

We'll know we're done when
Date picker validates that given dates are in the appropriate year. For MVP, we only care about FY22.

[2022-05-19 16:44] petermarks-gsa opened #224 "Date picker - front end"
Breakout of https://github.com/GSA-TTS/FAC/issues/127

We'll know we're done when
Date picker validates that given dates are in the appropriate year. For MVP, we only care about FY22.

[2022-05-19 16:46] petermarks-gsa commented on #223
@NicholasKramer Can you please link your PR to this when you get a chance?

[2022-05-19 16:54] NicholasKramer commented on #223
https://github.com/GSA-TTS/FAC/pull/206

[2022-05-19 18:19] #17 closed

[2022-05-19 18:39] Jkrzy opened #226 "A user can progress to the Auditee Information step"
## Background

As an auditee, I want to be able to access the `Auditee Information` page  so that I can provide the information necessary begin the SF-SAC.

## Accept Criteria:

**Given** that I entered my information on the first step, [Submission Criteria Check form](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/site/gsa-tts/fac-frontend/audit/new/step-1/), and was determ

[2022-05-19 19:04] heymatthenry commented on #145
@MelissaBraxton The tooltip is implemented in GSA-TTS/FAC-Frontend#16. Couple of notes:

There's no link to SAM.gov since: 1) the USWDS tooltip component doesn't support any formatting inside the tooltip; and 2) if you were to stop hovering over the button to go click the link the tooltip would disappear.

Also there's no line break. Again this is a function of using the stock USWDS tooltip.

If e

[2022-05-19 19:30] petermarks-gsa opened #227 "Issue creating / organizing documentation"
https://github.com/GSA-TTS/FAC/pull/225

[2022-05-19 20:14] Jkrzy opened #228 "A user can progress to the Audit Submission Access Page"
## Background

As an auditee, I want to be able to access the ` Audit Submission Access` page  so that I can provide the information necessary for collaborators to access my SF-SAC once it is in-progress.

## Accept Criteria:

**Given** that I entered a known UEI and valid date range on  information on [the Auditee Info page](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/si

[2022-05-19 20:32] Jkrzy opened #230 "A user knows for which date ranges we're accepting SF-SAC submissions"
## Background
As an auditee, I want to know that the date range covered by the SF-SAC I'm beginning are accepted by the FAC so that I can begin the submission process in the right system.

## Context
In https://github.com/GSA-TTS/FAC/issues/127#issuecomment-1125207616 we researched and confirmed the date ranges for which we'll initially accept SF-SAC submissions.

The earliest date is for a bienni

[2022-05-20 20:10] MelissaBraxton opened #231 "Document "where things stand" for research and design"
**Background**
With the Design Lead rolling off the project, we want to make sure knowledge is not lost, the team is resilient and can easily onboard additional designers as needed. We are aiming for a document like [this](https://docs.google.com/document/d/1VcitXr5MZ1J6_EcMk4WSJYtz6VchxtigxsSliaCE49k/edit):

**Acceptance Criteria (We'll know we're done when...)**
- [x] We have a document that lay

[2022-05-20 20:22] MelissaBraxton opened #232 "UX flow diagram for to-be FAC"
This is a sub part of #231

**Background**
We need a UX flow diagram that depicts the high level IA, and the flow of  interactions and screens that enable people to accomplish their tasks. This work will bridge and build on what we already have documented in our [task flow model ](https://app.mural.co/t/gsa6/m/gsa6/1652460935988/b240919b310e05f897c6452815fe5a07cad3eaea?sender=melissabraxton2796)an

[2022-05-20 20:23] MelissaBraxton commented on #232
Draft is [here.](https://app.mural.co/invitation/mural/gsa6/1652991266114?sender=melissabraxton2796&key=7c1e42e0-c5aa-49aa-b1fe-9c243971d54f)

[2022-05-23 15:02] #227 closed

[2022-05-23 15:16] MelissaBraxton commented on #232
The diagram is not ready for prime time, BUT! Yes, we need to let people manually enter their name and dates if they choose to proceed to enter data with a UEI that is not found in SAM.gov. However, they will not be able to submit their audit report until they have entered a valid UEI.

[2022-05-23 15:27] petermarks-gsa commented on #127
@heymatthenry @NicholasKramer Checking in here to see if we can consider this done after https://github.com/GSA-TTS/FAC/pull/206 is merged.

[2022-05-23 15:40] heymatthenry commented on #127
@petermarks-gsa Once #206 lands and the API gives back the info described in that PR (which AFAICT is just waiting on someone to merge it), I'll then need to implement the error message on the front-end for the case when the dates provided are outside of the correct FY.

[2022-05-23 15:42] heymatthenry commented on #127
Actually let me clarify something. The behavior described in #230 is based on the _beginning_ of the user's FY, but right now the API returning the FY end date (per #206). Am I missing something?

[2022-05-23 20:42] NicholasKramer opened #233 "Add submission status to SAC model"
Breakout issue of #211

**Background**
Add submission statuses to the SAC model.
Approved statuses: `In Progress`, `Submitted`, `Received`, `Available`.

**Acceptance Criteria (We'll know we're done when...)**
- [ ]  Submission statuses added to the model

[2022-05-23 21:36] petermarks-gsa commented on #223
@NicholasKramer Saw this got merged. Good to close this issue out?

[2022-05-23 21:38] NicholasKramer commented on #223
Yes, closing issue!  We can look at this again if the fiscal year end date doesn't cover it.

[2022-05-23 21:38] #223 closed

[2022-05-23 21:38] petermarks-gsa commented on #127
I'm going to re-open this per QA process for stories.

@heymatthenry - Is the front end for this done? If so, is there a way to get a fancy federalist preview link to check it out?

[2022-05-24 14:14] petermarks-gsa commented on #213
Flagging that this story is in progress, but no one is assigned to it, so I'm moving this back to "available"

[2022-05-24 14:23] petermarks-gsa commented on #218
@heymatthenry Flagging this for your awareness and general clarification.

[2022-05-24 15:53] petermarks-gsa commented on #127
@heymatthenry Hmmm. When I choose a date in 2019, I'm not seeing the following mentioned in the acceptance criteria:

[2022-05-24 17:00] petermarks-gsa opened #234 "Specific accessibility acceptance criteria for stories"
**Background**: We opened this issue as it's unclear what should be accessibility tested manually and what's done automatically.

**Conversation with @heymatthenry about current automated CI checks:** Ax Core, HTML code sniffer, lighthouse (including accessibility audit) - This catches pretty much anything that should be wrong with the markup (correct use of ARIA, contrast ratios)

**Specific acce

[2022-05-24 17:36] petermarks-gsa commented on #186
@tadhg-ohiggins Tagging you to review

[2022-05-24 17:45] petermarks-gsa commented on #186
@geekygirlsarah Next step is to formalize this in a md file and PR into https://github.com/GSA-TTS/FAC/tree/main/docs/architecture/decisions

[2022-05-24 18:05] petermarks-gsa opened #235 "Approach for storing state of pre-SAC user flow"
**Background**: Joe's previous implementation: https://github.com/GSA-TTS/FAC/pull/152

**5/31 decision**: Store pre sac info on the json blob in the user model. We may refine later.

**Acceptance criteria**:
* Endpoint for a logged in user to submit information pre-SAC so that the front end can communicate to back end.

Note: We don't need to have login to get this done as a proof of concept

[2022-05-24 18:12] petermarks-gsa opened #236 "Review design onboarding documentation and make tickets for gaps"

[2022-05-24 18:12] petermarks-gsa opened #237 "Review engineering onboarding documentation and make tickets for gaps"

[2022-05-24 18:57] petermarks-gsa commented on #213
@MelissaBraxton Okay to remove "needs refinement" here? Seems like this is fairly spec'ed out.

[2022-05-24 19:42] austinhernandez opened #238 "Design "My audit submissions" page"
**Background**

Design screens and empty state for creating a new audit or editing one that already exists
It covers the following stories:

1. [As an auditor or auditee I need to choose existing or create new audit.](https://app.mural.co/t/gsa6/m/gsa6/1647625636085/7825fa5ead63ebb1b65eefab5ea20d24a8ab7c59?wid=0-1647625748037&sender=austinhernandez5199)

**We'll know we're done when...**
- [x] Cre

[2022-05-24 21:46] MelissaBraxton opened #241 "As an auditor or auditee, I need to be able to create a new audit submission even if I don't have a valid UEI."
**Background**
On the auditee info page (preview it on Federalist [here](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/preview/gsa-tts/fac-frontend/mh-validate-fy-date-127/audit/new/step-2/)), We need to iterate on some of the error handling.

This issue covers the business process and front end design aspects of this work.

Users should be given an option to proceed with a

[2022-05-24 21:47] MelissaBraxton commented on #127
@heymatthenry - One note from our design sync:

The error that pops up when they enter dates outside the current range should direct them to Census for older submissions. Something like:

We also talked about how we want to use the FY end date that we can pull from SAM.gov, but I'm thinking we should address that in [this issue ](https://github.com/GSA-TTS/FAC/issues/241)where we explore modals fo

[2022-05-24 22:14] MelissaBraxton commented on #241
@petermarks-gsa or @heymatthenry  - New issue based on today's design sync. Thoughts on prioritizing and further refining this welcome!

[2022-05-24 22:24] MelissaBraxton opened #242 "Make sam.gov server-side errors understandable to FAC users"
Breakout issue of <story>

On the audittee information page, there are some errors returned via the sam.gov API that may not be that understandable to FAC users. We need to refine the content so that users seeing errors from the sam.gov API will understand how to recover.

We are aware of the following error messages that we'll need to refine, but there may be more:

 - When a user enters only 9 d

[2022-05-24 22:25] MelissaBraxton commented on #242
@heymatthenry and @petermarks-gsa  - Welcome thoughts on refining this issue when the time comes!

[2022-05-24 22:27] MelissaBraxton commented on #241
Starting point for error messaging to show in the modal for 2 types of errors. Note that error messages for these types of errors are currently handled **on the server side.**

**If API is working, but UEI isn’t recognized:**
We don’t recognize this UEI. You can continue for now, but you’ll need to come back to this. [Find out how to get a UEI](https://github.com/GSA-TTS/FAC/issues/126#).

**If AP

[2022-05-24 22:31] MelissaBraxton opened #243 "Refine the auditee info page"
Breakout issue of <story>

**Background**
Some refinements to consider that came up in the course of reviewing the [auditee info page](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/preview/gsa-tts/fac-frontend/mh-validate-fy-date-127/audit/new/step-2/) as part of #127

- How much effort is it to make it so that the form will not accept users entering more than 12 characters

[2022-05-24 22:33] MelissaBraxton commented on #141
Based on this[ PDR](https://github.com/GSA-TTS/FAC/blob/main/docs/product/decisions/0004-P-migration-plan.md), this shifts down on our priority list.

[2022-05-24 23:32] austinhernandez commented on #114
@heymatthenry — let's just go with this homepage for v1 and what we will show the auditee user group for the next round of usability testing.

uncertain things:
- the logo is a placeholder cuz idk what this thing is gonna be called
- the navigation is a best guess v2 from the first round shown to users and will be dependent with #147
- content is really rudimentary, subject to change
- how much of

[2022-05-25 14:23] #180 closed

[2022-05-25 14:26] austinhernandez commented on #141
initial wireframes for search, sort and filter on figma:
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2443%3A10893

[2022-05-26 13:57] heymatthenry commented on #128
@petermarks-gsa Here's the PR that was merged so you can see the functionality.

[2022-05-26 14:07] petermarks-gsa commented on #200
@heymatthenry Just took a look at the federalist preview of this. It meets the current acceptance criteria, but I noticed an issue that I think needs addressing:

There is not currently a way to delete a row or bypass client side validation if you leave a new row blank. This means if you fill out 12 inputs, but create a new row perhaps by accident, you are stuck and must refresh the page to fill o

[2022-05-26 16:07] petermarks-gsa commented on #234
@heymatthenry ask I discussed this (see description for notes) and I have updated the [story issue template](https://github.com/GSA-TTS/FAC/issues/templates/edit) to specify what manual checks are needed. Tagging @MelissaBraxton and @austinhernandez to review this.

[2022-05-26 16:41] MelissaBraxton commented on #234
This sounds good as a starting point. Are we clear on who does this testing and when and how it happens in the story lifecycle?

[2022-05-26 16:48] austinhernandez commented on #143
### As a group, we decided that _everyone_ is responsibility for:

- Creating inclusive and accessible that meet a wide-range of human experiences
- Raising accessibility concerns early and often
- Using the USWDS components where ever possible to minimize the
- [Doing their part of the accessibility checklist](https://accessibility.18f.gov/checklist/)
- If subject matter expertise does not exist

[2022-05-26 16:50] MelissaBraxton commented on #213
This is one of the SF-SAC pages. Since sprint 5 is focused on the pre-SF-SAC part of the journey, we may want to move this back to the backlog.

[2022-05-26 17:17] austinhernandez commented on #238
@sreuber will talk to legal dept!

[2022-05-26 17:20] austinhernandez commented on #238
@petermarks-gsa can you create an engineering task for this?! it's done being designed

[2022-05-26 17:20] #238 closed

[2022-05-26 17:51] austinhernandez commented on #143
@MelissaBraxton to add to wiki for process documentation
@petermarks-gsa consider where this goes for onboarding and acceptance criteria (#234)

[2022-05-26 18:13] petermarks-gsa opened #244 "Front end - "My audit submissions" page"
Background: This has been designed in a previous task (https://github.com/GSA-TTS/FAC/issues/238) and now needs front end engineering.

[2022-05-26 18:16] petermarks-gsa commented on #238
@austinhernandez Tracking implementation in https://github.com/GSA-TTS/FAC/issues/244

[2022-05-26 18:23] petermarks-gsa commented on #234
@MelissaBraxton Per our accepted [agile process](https://github.com/GSA-TTS/FAC/blob/main/docs/agile-process.md), I the PM will be the one doing this testing on each story before moving to done. I saw Austin closed this. Do you think there needs to be more refinement or are we good here?

[2022-05-26 18:23] austinhernandez commented on #234
One thing I am not sure is caught is to test content scaling since we are primarily relying on browser controls

[2022-05-26 18:25] petermarks-gsa commented on #234
@austinhernandez What specific content scaling test cases are you thinking will be helpful? Like "Test with 120% browser scaling" or "Test with 80% browser scaling"? Also, is it fair to assume that we are essentially not officially supporting mobile for new audit submissions?

[2022-05-26 18:28] petermarks-gsa commented on #213
@MelissaBraxton Good flag, moving to backlog.

[2022-05-26 18:34] austinhernandez commented on #234
From https://webaim.org:
- For WCAG 2.0 - Zoom to 200%
- For WCAG 2.1 - Adjust viewport to 1280 pixels wide and zoom to 400%. Avoid horizontal scrolling unless required for the content (e.g., a data table or map).
- Text-only zoom (Recommended) - In Firefox, choose View > Zoom > Zoom Text Only. Zoom to 130-150%

I can't imagine a case for mobile for upload, but even on the current IMS it works on

[2022-05-26 18:36] austinhernandez commented on #234
I also added some acceptance criteria examples on #143 that I copied here that I would love other designer feedback on:

**Acceptance criteria examples for design ticket**
- [ ]  All text has a contrast ratio of 4.5:1 with the background
- [ ]  Interaction are documented if they deviate from USWDS components
- [ ]  The needs of someone navigating the site with the use of a screenreader or keyboard

[2022-05-26 18:44] heymatthenry commented on #200
@petermarks-gsa I implemented this in GSA-TTS/FAC-Frontend#18

[2022-05-26 20:09] MelissaBraxton commented on #234
LGTM!

[2022-05-26 20:29] petermarks-gsa opened #245 "Transition SAM.gov credential to Tadhg's personal account"
Per https://github.com/GSA-TTS/FAC/issues/158, we do not yet qualify for a SAM.gov "System Account" need to transition SAM.gov credentials away from Nick's personal creds and to Tadhg's.

[2022-05-26 20:33] petermarks-gsa commented on #158
@NicholasKramer @tadhg-ohiggins Per communication with [james.tsujimoto@gsa.gov](mailto:james.tsujimoto@gsa.gov)), we will not be able to get a system account set up until we have a completed ATO, which could be months from now. In the meantime, let's focus on transitioning the SAM.gov credentials away from Nick's creds and to Tadhg's (tracking in https://github.com/GSA-TTS/FAC/issues/245)

Moving

[2022-05-26 22:31] MelissaBraxton commented on #236
Drafting [here.](https://docs.google.com/document/d/1EILl0nZr59T4PFJJMtFbmnQDJPksgzIFPuoFDN0bk0g/edit#)

[2022-05-26 22:34] MelissaBraxton commented on #231
Drafting [here.](https://docs.google.com/document/d/1EILl0nZr59T4PFJJMtFbmnQDJPksgzIFPuoFDN0bk0g/edit#). My thought is that this work should cover #236 , but let me know if there's something else you want to see in terms of scope, @petermarks-gsa!

[2022-05-27 13:31] petermarks-gsa commented on #231
@MelissaBraxton Thanks, just took and look and think this draft fleshed out should cover it.

[2022-05-27 13:39] petermarks-gsa commented on #236
@MelissaBraxton This seems duplicative to #231. Closing as "not planned".

[2022-05-27 13:39] #236 closed

[2022-05-27 16:50] heymatthenry commented on #127
@petermarks-gsa Ok I think I finally got my arms around this. Because we don't know whether the entity is on an annual or biannual schedule, the most we can say is that we know the submission is invalid if the start date is before 1/1/2020. So we show an error directing them to legacy FAC in that case, otherwise we let them go forward. By similar reasoning, we also can't currently do anything with

[2022-05-27 16:55] petermarks-gsa commented on #127
@heymatthenry Yep, that all sounds right!

[2022-05-27 16:55] MelissaBraxton commented on #127
@heymatthenry - This all sounds right to me too! I think we can close this out then?

[2022-05-27 17:05] #186 closed

[2022-05-27 18:09] #216 closed

[2022-05-27 18:31] geekygirlsarah commented on #235
@petermarks-gsa any idea where Joe may have documented things he was working on, and I can go take a look?

[2022-05-27 18:49] petermarks-gsa commented on #235
@geekygirlsarah I just reached out to Joe via slack.

[2022-05-27 19:06] geekygirlsarah commented on #218
For the record, @NicholasKramer and I looked into this, and heard that @tadhg-ohiggins determined there shouldn't be a way of saving state, it's generated from the data that is completed. (i.e. we don't save they're on page 3, we look at the data to see they've completed data for page 2 so they're on page 3.) But this might require more conversations from past thoughts from Tadhg/Joe, so it's bloc

[2022-05-27 19:21] petermarks-gsa opened #246 "Back end - Audit submission access page"
**Background**

From parent issue #128:

In the future, non-federal users will have to log in via login.gov.

It covers the following stories:

1. As an auditor or auditee, I need to be able to specify who will need to certify my new audit (who will "check the box" at the end)
2. As an auditor or auditee, I need to be able to specify who should have access to my new audit
3. As a user, I need info

[2022-05-27 19:25] petermarks-gsa commented on #235
@geekygirlsarah Do you need further clarity given Joe's response?

[2022-05-31 12:08] jadudm commented on #218
I think I've had conversations with Joe and Tadhg about this.

If we maintain an actual tracker of where they are (a row or other space in the store that says "Matt has completed the following fields," or "Matt is on Page 3"), then we need to make sure that *never* gets out of sync with the data in the DB. It is, fundamentally, state derived from my actual (not-necessarily-stepwise) completion of

[2022-05-31 13:29] petermarks-gsa commented on #127
@heymatthenry Checking in on this, it seems like this is not necessarily ready for review as you're actively work on a subtask (https://github.com/GSA-TTS/FAC/issues/224). Is that correct?

[2022-05-31 13:56] heymatthenry commented on #127
@petermarks-gsa Good call. I think I meant to move #224 to `Ready to Review` rather than this one.

[2022-05-31 15:14] MelissaBraxton commented on #218
If we are talking about happens when they log back in to pick up working on an unsubmitted form, it's safe to assume #1 above (Always starting on the first page) is the behavior we should build in to start.

Multiple people could be working on these and will have entered bits of data on any number of pages...

[2022-05-31 16:32] petermarks-gsa commented on #224
@heymatthenry Is there a pull request or federalist link I could review this at?

[2022-05-31 16:38] MelissaBraxton opened #247 "Create a service blueprint depicting customer support touchpoints and needs"
**Background**
GSA will be providing customer support for the FAC. We need to better understand current customer support processes and design the future state of customer support services that GSA will provide.

**Acceptance Criteria (We'll know we're done when...)**
- [x] We have a service blueprint that depicts the current state of customer support
- [x] The service blueprint is stored in a plac

[2022-05-31 16:41] heymatthenry commented on #224
@petermarks-gsa Sure is: [Federalist build](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/site/gsa-tts/fac-frontend/audit/new/step-2/)

[2022-05-31 16:45] MelissaBraxton opened #248 "Test information architecture"
Breakout issue of #147 to cover testing the draft IA created in #147.

**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [x] We have documented the results of testing the IA with users
- [ ] ~We have documented any refinements to the IA needed~

**Tasks**
- [x] Create a tree test in Optimal workshop to test the draft IA
- [x] Get PRA clearance: Fill out this PRA clearance [

[2022-05-31 16:47] MelissaBraxton commented on #147
Refined this to focus on initial IA draft. Created https://github.com/GSA-TTS/FAC/issues/248 as a breakout issue to cover testing.

[2022-05-31 16:48] #147 closed

[2022-05-31 17:28] petermarks-gsa commented on #226
Blocked on https://github.com/GSA-TTS/FAC/issues/235

[2022-05-31 17:46] petermarks-gsa commented on #212
@MelissaBraxton We could use more detailed design specifications, especially as it relates to dynamic data?

Decision: We think the design elements of this could start.

[2022-05-31 17:55] petermarks-gsa commented on #237
@geekygirlsarah Next step reach out to someone at TTS not on this project (18F?) and ask them if it seems easy to get going on?

Note: Let's focus on backend here as front end recently went through this process.

[2022-05-31 17:57] #188 closed

[2022-05-31 17:58] petermarks-gsa opened #249 "Look into need for revised submissions in V1"
we are talking about the SAC revision process, not the form data. If someone has already submitted a SAC and was approved, but something needs to be changed, what happens? What are backend considerations.

[2022-05-31 20:35] MelissaBraxton commented on #145
I'm thinking this is done? Or at least ready for review, based on https://github.com/GSA-TTS/FAC-Frontend/pull/16. What do you think, @petermarks-gsa and @heymatthenry ?

[2022-05-31 21:47] petermarks-gsa commented on #127
@heymatthenry So this looks almost completely done. However, I used the new accessibility QA checklist being discussed in https://github.com/GSA-TTS/FAC/issues/234 and found that the year isn't legible when viewed at 400%, which is a standard Austin proposed. Do you think 400% scale is realistic to fully support?

[2022-06-01 16:59] petermarks-gsa commented on #234
Conversation at standup today:

@heymatthenry - For [this issue](https://github.com/GSA-TTS/FAC/issues/127), it's an issue with a USWDS component

@MelissaBraxton - Post in accessibility channel and reach out to Robert Jolly

[2022-06-01 17:56] petermarks-gsa opened #251 "Determine whether we should let users submit/certify without valid EIN"
Background from chat with @MelissaBraxton and @heymatthenry :
- Need to decide whether user's can submit/certify  in SAC flow without a valid UEI
- Current FAC experience: No UEI. They can submit/certify without valid EIN, does not check against any authoritative EIN source.
- Currently we validate UEI's via SAM.gov, but there may be a more authoritative source

Acceptance criteria:
- [ ] We've ev

[2022-06-01 18:35] #245 closed

[2022-06-01 21:22] petermarks-gsa commented on #234
Recap of conversation with Robert Jolly at design sync, who is experienced in accessibility matters:

[USWDS only supports WCAG 2.0 AA](https://designsystem.digital.gov/documentation/developers/#accessibility), not WCAG 2.1. Recommendation is to shoot for WCAG 2.0 AA, but raise WCAG 2.1 issues with USWDS. I've gone ahead and changed this line to:

- [ ] Text scaling - Adjust viewport to 1280 pixel

[2022-06-01 21:22] #234 closed

[2022-06-01 22:08] MelissaBraxton commented on #232
@jhansen-flexion or @petermarks-gsa ready for your review! Whichever of you gets to it first, feel free to assign yourself! :)

[2022-06-02 13:56] #127 closed

[2022-06-02 15:15] heymatthenry commented on #114
@petermarks-gsa FYI for QA purposes, the V1 homepage won't have the search/filter functionality, hence what's implementened in GSA-TTS/FAC-Frontend#21 doesn't match the screen above in that one regard.

[2022-06-02 17:10] MelissaBraxton commented on #251
Possible action items from our conversation:

- [ ] Document our contingency plan and/or back up plan for:
  - [ ] people experiencing UEI issues
  - [ ] If we get to August and there’ still a big backlog of folks experiencing UEI issues
- [ ] Get service level agreement from SAM.gov re: our API as far as availability including at least a point of contact that we can reference for cases like this.

[2022-06-02 18:23] MelissaBraxton commented on #221
Based on recent discussion w/ @petermarks-gsa re: testing a hypothesis around not including web form data entry as part of the MVP, this is ready for review[ here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2837%3A12888).

[2022-06-02 18:32] MelissaBraxton commented on #222
Recommend deleting the last task from this issue and added a task for PO review. We are going to want to test these with users before we create any new engineering issues here. We will further specify expected behaviors as a part of writing up engineering issues.

Links to form section mocks:

[Award findings](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2837%3A1

[2022-06-02 18:42] MelissaBraxton opened #253 "Recruit auditors to test SF-SAC form mocks"
**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [x] We have interviews with 7-9 auditors on the books
- [x] Auditors represent a range of experience including work with small entities and non-profits

**Tasks**
- [x] Set up appointment slots following [these instructions](https://docs.google.com/document/d/16UpgQbFOh5F9RLkTGHEsgHyTBC_O65y6nZSiFOvxHjg/edit#)
- [ ] ~Articul

[2022-06-02 18:47] petermarks-gsa commented on #232
@MelissaBraxton I'm finding this diagram really helpful to compare to the designs to flesh out a story. I just did that for the SEFA page and left a clarifying question in mural. I think realistically we'll keep coming back to this as we define stories, so I don't think makes sense for me to review the entire diagram thoroughly right this moment. I'm going to suggest calling this done!

[2022-06-02 18:49] MelissaBraxton commented on #232
Sounds good to me!

[2022-06-02 18:55] #232 closed

[2022-06-02 18:57] petermarks-gsa commented on #222
@MelissaBraxton Sounds good on scratching "Collaborate with PM and at least one engineer to write new issues that cover the front and back end implementation of these pages."

[2022-06-02 19:58] MelissaBraxton opened #255 "Mock modals and alt states for SF-SAC form pages that involve worksheets"
**Background**
We've mocked SF-SAC form pages involving the use of Excel worksheets in their empty state, but we have yet to design error states and modals that users will encounter on these pages. A lot of these will be the same, since they all follow the same pattern. We'll want to mock these and include them in testing with auditors in sprint 6.

Note, this does not cover the work of designing

[2022-06-02 20:01] MelissaBraxton opened #256 "Plan and conduct sprint 6 research with auditors"
**Background**
We need to put our first iteration mocks of the SF-SAC form in front of auditors.

**Acceptance Criteria (We'll know we're done when...)**
- [x] We have conducted research with auditors

**Tasks**
- [x]  Articulate research qs and design hypotheses
- [x]  Write research plan
- [x] Prepare artifacts for testing (wire up clickable prototype)
- [x] Create schedule of who will facilitat

[2022-06-02 20:21] petermarks-gsa commented on #217
@MelissaBraxton  Yes, this issue just covers the general information form.

[2022-06-03 16:13] MelissaBraxton commented on #253
Removed tasks re: screening, as we have a pre-vetted list from our partners at AICPA.

[2022-06-03 16:59] MelissaBraxton commented on #231
Wiki updates are [here](https://github.com/GSA-TTS/FAC/wiki/Design-documentation)

[2022-06-03 17:05] #231 closed

[2022-06-03 17:05] petermarks-gsa commented on #114
@heymatthenry This is ready to close now that https://github.com/GSA-TTS/FAC-Frontend/pull/21 has been merged?

[2022-06-03 17:13] MelissaBraxton commented on #222
With removing the last acceptance criteria here and the creation of #255, Can we call this done?

[2022-06-03 17:13] MelissaBraxton commented on #221
@petermarks-gsa - With the creation of #255, is this done?

[2022-06-03 19:17] heymatthenry commented on #114
@petermarks-gsa As far as I'm concerned! If/when we ever revisit the filters etc. We can start a new issue.

[2022-06-03 22:27] MelissaBraxton commented on #247
Drafting [here.](https://app.mural.co/t/gsa6/m/gsa6/1654206591049/9273bb1523718b513273882f38c0b50bc3d54c24?sender=melissabraxton2796)

[2022-06-06 16:01] geekygirlsarah commented on #218
I can look this back over and let you all know.

[2022-06-06 17:52] #145 closed

[2022-06-06 18:06] petermarks-gsa commented on #221
@MelissaBraxton Yes, we can consider this done.

[2022-06-06 18:06] #221 closed

[2022-06-06 18:10] petermarks-gsa commented on #222
@MelissaBraxton Yep, let's call this done.

[2022-06-06 18:10] #222 closed

[2022-06-07 15:16] #82 closed

[2022-06-07 15:28] #190 closed

[2022-06-07 17:36] petermarks-gsa commented on #246
This is blocked by https://github.com/GSA-TTS/FAC/issues/168

[2022-06-07 17:37] MelissaBraxton commented on #241
Edited to reflect that we won't really be using FY end date validation from SAM.gov right now.

[2022-06-07 17:47] geekygirlsarah opened #257 "Onboarding checklist for @jasnakai"
### Welcome to the team @jasnakai!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLnacy

[2022-06-07 17:48] geekygirlsarah opened #258 "Onboarding checklist for @timoballard"
### Welcome to the team @timoballard!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [ ] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [ ] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLn

[2022-06-07 22:07] austinhernandez opened #259 "Design the Login.gov / you are now leaving FAC page screens"
Breakout issue of #135

**Background**

- [x] As a user, I need to know that I need to login to the system to access secure information
- [x] As a user, I need to consent to the redirect and understand the implications of falsifying information on a government site
- [x] As a system, authentication is done through login.gov which requires a redirect to a login.gov sign-in/sign-up page.

**Acceptan

[2022-06-07 22:18] austinhernandez commented on #259
We'll be using a similar flow to the [Trusted Traveler Programs page](https://ttp.dhs.gov/), except without step 2 confirming Global Entry vs TSA Pre✅

Example of user flow on [DHS Trusted Traveler Programs](https://ttp.dhs.gov/):
1. click on "Get Started" under Global Entry column
<img width="1186" alt="Screen Shot 2022-06-07 at 5 58 13 PM" src="https://user-images.githubusercontent.com/23194720/

[2022-06-07 22:26] austinhernandez commented on #259
1. Click on "submit an audit" in the header
<img width="933" alt="Screen Shot 2022-06-07 at 6 23 34 PM" src="https://user-images.githubusercontent.com/23194720/172493272-529fcb14-777c-4393-b90e-c93a25d12d1e.png">

2. Modal with redirect and usage warning/information
<img width="621" alt="Screen Shot 2022-06-07 at 6 19 15 PM" src="https://user-images.githubusercontent.com/23194720/172492905-44dcb66

[2022-06-07 22:30] austinhernandez opened #260 "Design audit report start page CTAs"
Breakout issue of #212 and #264

**Background**
- In addition to designing #264, this ticket will contain information for the additional states for all the pages from the [in the Primary CTAs section (overview here on Mural)](https://app.mural.co/invitation/mural/gsa6/1654109929324?sender=austinhernandez5199&key=93f016dc-f3d6-41c9-a2b9-0b8f72b0926a)

Original screen
![Screen Shot 2022-02-02 at 10

[2022-06-08 17:12] geekygirlsarah commented on #257
I think @jadudm said he'd add you to the FAC group.

[2022-06-08 17:12] geekygirlsarah commented on #258
I think @jadudm said he'd add you to the FAC group.

[2022-06-08 19:57] MelissaBraxton commented on #256
Draft shaping up [here](https://docs.google.com/document/d/1xdaiEGTyslc0vOQ2eBy-51j3KQq_ewtouevrpJtfELQ/edit#).

[2022-06-08 20:58] jasnakai commented on #257
Thank you! I'll reach out if I have any questions.

[2022-06-09 00:32] jadudm commented on #257
Added to the google group and sent invites to the repositories. Asked for drive addition, so that should happen.

[2022-06-09 14:46] petermarks-gsa commented on #200
@heymatthenry Acceptance criteria on this looks good to me. I did notice that you don't see the immediate validation if you leave a field blank on the "add additional contact form", but see that it validates upon trying to submit the form which I personally feel is sufficient. Marking as done.
![Screen Shot 2022-06-09 at 10 44 33 AM](https://user-images.githubusercontent.com/100610443/172875795-7e

[2022-06-09 14:46] #200 closed

[2022-06-09 14:48] petermarks-gsa commented on #128
@heymatthenry Going to consider this in progress and not ready for review as the backend work linked here is not done quite yet.

[2022-06-09 18:59] tadhg-ohiggins opened #262 "Add report ID to SAC data model"
## Background
The current version of the FAC provides “report IDs” for submissions. These are primarily for users to communicate with customer support.

## Acceptance Criteria (We'll know we're done when...)
* [ ]   We have a format for unique identifiers for this use case.
* [ ]   We have a way to generate them.
* [ ]   We have a field in the SAC data model for them.
* [ ]   We autogenerate then

[2022-06-09 19:08] tadhg-ohiggins commented on #262
The current version uses a six-digit number:
![image](https://user-images.githubusercontent.com/2626258/172925191-d12ca012-2eaf-4c71-956d-5eb46e0056b7.png)

[2022-06-09 19:39] petermarks-gsa commented on #259
@austinhernandez Following up on outstanding questions:

Got a live demo of this:
    - Insert your id card via usb reader
    - Click PIV link
    - Chrome auth menus
    - Then they’re in!

Sounds like we change the logo and the top and "help text" (circled below). It sounds like we can change the destination of the "forgot password" link to go to our help text, but it doesn't sound like other l

[2022-06-09 19:56] austinhernandez commented on #260
Meeting notes
- Auditee and auditor certification don't need to be in sequential order

Completion status is not particularly explicit on the Report Home page
- If there are any Xs on report home page, it is marked as "incomplete" on the my audits page
- Current status
 - in progress (break these into 2 sub-statuses which are essentially: in progress: audit report uploaded and in progress: audit r

[2022-06-09 20:01] tadhg-ohiggins commented on #168
Now that statuses are represented in the model, we can consider this issue closed.

[2022-06-09 20:01] #168 closed

[2022-06-09 20:32] austinhernandez commented on #260
Question added to the [Census call agenda here](https://github.com/GSA-TTS/FAC/issues/260)

[2022-06-09 23:39] MelissaBraxton commented on #241
Screen shot of draft revised flow:
<img width="720" alt="Screen Shot 2022-06-09 at 4 13 42 PM" src="https://user-images.githubusercontent.com/20651166/172960332-f57435b8-bcc8-47fa-a331-60c7c37130c7.png">

1st iteration mocks are [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2552%3A11276)

Would love feedback from @austinhernandez and @heymatthenry.

More in

[2022-06-10 15:19] austinhernandez commented on #220
Question for @heymatthenry: If the browser is closed by quitting the application will the modal be triggered? Also, since we talked about using browser controls as default for accessibility, is this a case where we would want to do that as well? Like a standard browser popup?

<img width="931" alt="Screen Shot 2022-06-10 at 11 16 42 AM" src="https://user-images.githubusercontent.com/23194720/17309

[2022-06-10 15:33] austinhernandez opened #264 "Design audit report start page"
**Background**
Breakout issue of #212
Related page / follow up work in #260

Original screen on FAC
![Screen Shot 2022-02-02 at 10 50 2](https://user-images.githubusercontent.com/23194720/173101042-b8230626-8c29-4bf4-bed2-0bab2de7d39f.png)

**Tasks**
- [x] Set up meeting between Dev + Design
- [x] Walkthru current FAC functionality to decide next steps on design and implementation
- [x] Design the

[2022-06-10 16:48] MelissaBraxton commented on #241
Updated acceptance criteria.

[2022-06-10 16:56] tadhg-ohiggins commented on #262
First-pass thoughts:

*   Name it `report_id` for continuity.
*   In future, if we bring over data from the existing FAC systems, we will put the existing report ID value into this field, so this field could contain either the old report IDs (six-digit values) or the new one.
*   New format considerations:
    *   It should be relatively easy to communicate, so 10 characters is probably about the

[2022-06-10 17:00] austinhernandez commented on #259
Thanks Peter! My responses

1. The initial mocks had a "Sign in with login.gov" button that everyone missed, so we are trying another CTA.
2. The leaving FAC text is the same "Modal with redirect and usage warning/information" text. That text was lifted directly from the current FAC, I just don't know all of it needs to be there. It's long.
3. From user research and since there's a user group of F

[2022-06-10 17:58] jadudm commented on #262
If we are going to mix new and old, I would consider finding a way to make sure they're... not "different kinds of data in the same field."

This could lead to a situation where we begin writing conditional logic to determine if something is "new" or "old" by inspecting the "shape" of data within an id field. This feels... icky.

Some questions.

1. The four digit year is the year it is created in

[2022-06-10 18:25] tadhg-ohiggins commented on #262
An additional issue: if we are planning to send the data from the new FAC to the old FAC during the transition process, we might have to generate old-style six-digit numeric IDs as part of that process, and it's unclear how that might fit in with current Census system expectations.

[2022-06-10 20:42] austinhernandez commented on #264
**Considerations:**
- Changed auditee name to The DC Central Kitchen
- Moved secondary nav up to match with USWDS pattern
- Reorganized audit report information
- Put CTAs in a more simplistic table
- Changed date/time into an easier to read format

Questions
- Are there any other user actions that a user can take associated with their account? (sign out, ... but what else?)
- What is the reason f

[2022-06-10 23:54] tadhg-ohiggins commented on #262
Note that this identifier is not the database id, which is the default, a monotonically increasing number starting at 1 (unless we decide otherwise, which I don't think we need to do).

I don't have a great reason for not using our database id as our customer support identifier, other than just having a vague feeling that letting any user give an easily-guessed value to customer support is questio

[2022-06-13 11:14] jadudm commented on #262
The mapping back to Census is a thing, yo. Good point.

So, the `report_id` is basically for users and support, not for unique mapping. *Except*, possibly, that it plays a greater role in prior audit years/legacy data.

YEAR-DAY-3LETTERRANDOM-VERSION5-6DIG

The day and three letters, in a typical submission scenario, becomes enough of a reference for users and customer support.

To make mapping ea

[2022-06-13 18:35] heymatthenry commented on #217
@MelissaBraxton & @petermarks-gsa: Couple of questions here: several of the fields on this form (FY start/end, EIN, contact info, etc.) are repeated from the pre-SAC screens. Are we imagining they're going to be populated when the user gets to this page? If so, are they going to be editable? There's a bunch of validation happening in the pre-SAC flow, particularly around FY & EIN and I'm wondering

[2022-06-13 20:29] MelissaBraxton commented on #248
@sreuber  - I think we will want PRA clearance for this. Updated tasks to reflect filling out approval form and sending it to the OMB PRA contact. I'm thinking we could either split out the PRA application task for this sprint or just punt on this entirely until sprint 7.

[2022-06-13 20:34] sreuber commented on #248
@MelissaBraxton I think punting to 7 is totally fine, we're already halfway through and I haven't really even begun to think about it further. If I have some time early next week I might get started on it.

[2022-06-13 20:53] austinhernandez commented on #241
Looks good to me! I would suggest making sure a user knows it's an "error" throughout.

I added a mockup of an error field and an idea of where to edit the UEI again on the audit start page:
![Audit Start Page - invalid UEI](https://user-images.githubusercontent.com/23194720/173442863-8e339a7a-5c56-4c1a-84e5-4be5e705c4d3.png)

The questions are just around the sample data:
- I changed the mockup t

[2022-06-13 21:04] austinhernandez opened #266 "Stitching together prototype"
**Background**
Add all designed pages to a clean Figma page that will be used for usability testing:
https://www.figma.com/file/kftEBMYHgDvP3IPZCQaW14/FAC-Sprint-6-prototype?node-id=0%3A1

**Acceptance Criteria (We'll know we're done when...)**
- [x] ensure that the sample data is the same
- [x] making sure the links work to complete tasks
- [x] make sure it aligns with research protocol

**Tasks*

[2022-06-13 22:07] MelissaBraxton commented on #264
1. Are there any other user actions that a user can take associated with their account? (sign out, ... but what else?)
_With their global account (MVP), no. Not at this time._

3. What is the reason for being able to edit type of entity but nothing else on the document?
_Everything else but entity type and UEI one this page are system generated. I don't think we want to invite folks to edit/change

[2022-06-14 14:32] petermarks-gsa commented on #217
@MelissaBraxton I imagine it's not our intention to ask for the same information twice? Following up on the specific fields @heymatthenry mentioned:

- **FY start/end** - @MelissaBraxton Are "Fiscal period Start/End Date" and "Auditee fiscal period start/end date for this submission" truly the same thing?
- **EIN** - @heymatthenry I'm not seeing a EIN form in the pre-SAC screen [mocks](https://www

[2022-06-14 14:35] heymatthenry commented on #217
@petermarks-gsa Sorry, I mean UEI—not EIN

[2022-06-14 16:32] heymatthenry commented on #220
@austinhernandez I think we should stick with the browser-based alert unless there's a compelling UX reason to do otherwise. We'd have to replicate a lot of effort in terms of bulletproofing the accessibility and functionality that we'd get for free just leveraging the browser.

[2022-06-14 16:49] MelissaBraxton commented on #217
@heymatthenry and @petermarks-gsa  - There are implementation notes to the left of the current Figma mocks that I believe address these Qs: https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=2464%3A10748

[2022-06-14 16:55] heymatthenry commented on #217
Thanks, @MelissaBraxton. Those are super helpful and I think(?) address everything I was wondering. I must've overlooked those while hopping around different iterations of the form in the Figma file.

[2022-06-14 17:47] austinhernandez commented on #255
@sreuber / @MelissaBraxton keeping with the layout of the [Audit Report Start page](https://github.com/GSA-TTS/FAC/issues/264), is there any reason this wont work?

![DSF - Federal Awards](https://user-images.githubusercontent.com/23194720/173647870-07729df3-7ad7-498c-a80a-0e27be333f7b.png)

On Figma
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3112%3A17184

[2022-06-14 18:08] petermarks-gsa commented on #235
Pull request in progress from @jasnakai: https://github.com/GSA-TTS/FAC-Frontend/pull/22

[2022-06-14 18:43] austinhernandez commented on #259
On Figma*:
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3136%3A18590
note, the old homepage is in the background of the modal but disregard

[2022-06-14 18:45] austinhernandez commented on #264
on figma at:
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3136%3A18949

[2022-06-14 18:52] petermarks-gsa opened #267 "Front end - "You are now leaving FAC" modal"
Breakout issue of #135

**Background**

- As a user, I need to know that I need to login to the system to access secure information
- As a user, I need to consent to the redirect and understand the implications of falsifying information on a government site
- As a system, authentication is done through login.gov which requires a redirect to a login.gov sign-in/sign-up page.

**Acceptance Criteria*

[2022-06-14 18:56] petermarks-gsa opened #268 "Frontend implementation to handle authorization flow between Login.gov and our Backend"
Breakout issue of #135

**Acceptance Criteria**
- [x] Get to login.gov screen as part of #267
- [x] Should see FAC logo and "help text" header, which we know are configurable (see [design](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3136%3A18590))
- [x] Should transition back to FAC after authenticating

[2022-06-14 19:00] petermarks-gsa commented on #259
@austinhernandez Looks good, tracking implementation in these engineering issues:

- https://github.com/GSA-TTS/FAC/issues/267
- https://github.com/GSA-TTS/FAC/issues/268

Closing as done.

[2022-06-14 19:00] #259 closed

[2022-06-14 20:52] petermarks-gsa commented on #264
@austinhernandez Thanks! Are there any corresponding implementation notes for this aside from what's discussed in this issue?

[2022-06-14 23:52] austinhernandez commented on #266
Clickable prototype for the sprint 6 usability tests: https://www.figma.com/proto/kftEBMYHgDvP3IPZCQaW14/FAC-Sprint-6-prototype?page-id=0%3A1&node-id=13%3A2081&viewport=622%2C317%2C0.25&scaling=min-zoom&starting-point-node-id=13%3A2081&show-proto-sidebar=1

note: It is a very linear prototype, so the the navigation is not clickable

[2022-06-15 00:06] austinhernandez commented on #255
- For the prototype only the Federal awards page has the modal states, but it's going to be the same throughout
- It will use the USWDS [file input component](https://designsystem.digital.gov/components/file-input/ )
- It will restrict uploadable file types to XLS

Pages on figma:
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3159%3A20568

Screens
No files uploade

[2022-06-15 00:08] austinhernandez commented on #264
@petermarks-gsa for the purpose of the prototype, there is no more implementation notes. I think we will know more about implementation after this round of usability testing

[2022-06-15 16:54] petermarks-gsa commented on #249
I have a proposal for handle revisions at the roadmap level in this pull request that I've assigned @MelissaBraxton to review: https://github.com/GSA-TTS/FAC/pull/269

[2022-06-15 18:27] petermarks-gsa commented on #248
Just chatted with @MelissaBraxton about this. Sounds like we might be able to get a PRA clearance in 2-3 days? We talked about trying to get this done next sprint.

[2022-06-15 18:36] #249 closed

[2022-06-15 21:38] MelissaBraxton commented on #241
@petermarks-gsa - One remaining task is to create new front and back end tickets for this. I'm wondering if the team can cover that at next week's backlog grooming? It's something I'd thought we could cover at the weekly design/eng sync, but it looks like most folks can't make it tomorrow.

[2022-06-15 21:42] MelissaBraxton commented on #220
Agree with @heymatthenry and @austinhernandez 's recs to just use the browser based alert. With that said, what else needs to happen before we call this issue done?

[2022-06-15 23:26] MelissaBraxton commented on #247
@petermarks-gsa  - It looks like we wont have a chance to review this at co-working this week. Thoughts on keeping that as acceptance criteria? We could leave it in "in review" until the team can convene, or you could review and then let me know what you think is the next best time/place to review with other folks and whether we want to wait to call this "done" until we've done that broader review

[2022-06-16 11:48] petermarks-gsa commented on #247
@MelissaBraxton I took a quick look at this. I'm not sure I understand how the "support process" swimlane on the mural board relates to "customer support touchpoints". Maybe leave this in review and we can discuss?

[2022-06-16 16:44] heymatthenry commented on #217
@petermarks-gsa I have a WIP PR for this (GSA-TTS/FAC-Frontend#23 — Federalist link in the PR) and I just want to check in on a few pieces of it before wrapping it up:

* Currently the only client-side validation we're doing is whether the fields are not null, so we're not checking stuff like format of EIN, phone numbers, etc. Are we expecting to validate those things on the client side? If so is

[2022-06-16 17:47] MelissaBraxton commented on #255
Sounds good! Thank you @austinhernandez!

[2022-06-16 17:56] petermarks-gsa commented on #217
@heymatthenry Minor bug: I can select multiple "audit period covered" ratios (should only be able to select one @MelissaBraxton?), but I cannot deselect the radios:

![Screen Shot 2022-06-16 at 1 53 37 PM](https://user-images.githubusercontent.com/100610443/174135400-718ff2a2-0f36-4bdc-8477-ff6025c6b705.png)

[2022-06-16 18:10] petermarks-gsa commented on #241
@MelissaBraxton I'd like to take a stab at creating tickets and then review at design / engineering sync. Can you or @austinhernandez please link me the designs in figma + any implementation notes?

[2022-06-16 19:33] heymatthenry commented on #217
Thanks, @petermarks-gsa. I fixed the bug on the audit period radio buttons and will wrap the rest of it up.

[2022-06-17 14:28] #253 closed

[2022-06-17 16:47] MelissaBraxton opened #271 "Analyze sprint 6 research data"
Breakout issue of <story>

**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [x] We've done some affinity mapping across relevant data and have identified themes from sprint 6 research

**Tasks**
- [x] Create analysis template in Mural or Excel
- [x] Review interview notes and (if needed) videos
- [x] Pull relevant excerpts into analysis template
- [x] Look across excerpts

[2022-06-17 16:47] MelissaBraxton opened #272 "Write up sprint 6 research report"
Breakout issue of <story>

**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [ ] We have an easily scanable document that lists research insights
- [ ] New needs statements are reflected on the story map
- [ ] New stories/refinements are documented in new/existing issues as needed

**Tasks**

- [x]  Synthesize research (dependent on #271)
- [x] Write up summary
- [ ] Write

[2022-06-17 16:48] MelissaBraxton opened #273 "Compensate sprint 6 research participants"
Breakout issue of <story>

**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [ ] We have confirmation that compentation was sent to all sprint 6 participants

**Tasks**
- [x] Complete [compensation tracking sheet](https://docs.google.com/spreadsheets/d/1OfCKLx8iPpunUdfnLVzVtKz_IhHQTYjDOpkiK3LiJZw/edit#gid=0)
- [x] Ping TTS ops when it's ready
- [ ] Follow up w/ TTS ops to e

[2022-06-17 16:49] MelissaBraxton opened #274 "Refine all SF-SAC forms based on sprint 6 research insights"
Breakout issue of <story>

**Background**
This issue is intended to cover refining mocks of the SF-SAC form pages we identified in sprint 6 research. Further refining the issue depends a bit on issue #271, since we won't have a clear sense of needed refinements until we've started our analysis.

**Sub-tasks**
- [x] https://github.com/GSA-TTS/FAC/issues/288
- [x] https://github.com/GSA-TTS/FAC/issu

[2022-06-17 20:46] petermarks-gsa opened #275 "Document program/customer-support roadmap"
Background: We want a roadmap to standing up FAC services that will inform our product roadmap and stakeholders

Relevant links:
* [FAC Customer Blueprint](https://app.mural.co/t/gsa6/m/gsa6/1654206591049/9273bb1523718b513273882f38c0b50bc3d54c24?sender=80bed6ea-bcac-4924-a7de-77e3b4396f19)

[2022-06-17 20:52] petermarks-gsa opened #276 "User roles / invites discovery"
We've gathered a good about of information about customer support journeys ([link](https://app.mural.co/t/gsa6/m/gsa6/1654206591049/9273bb1523718b513273882f38c0b50bc3d54c24?sender=80bed6ea-bcac-4924-a7de-77e3b4396f19)), but we have not figured out the minimum level of customer support / admin features we need to provide for our MVP release.

Login.gov invite discussion: https://docs.google.com/doc

[2022-06-17 20:53] petermarks-gsa commented on #247
I reviewed this with @MelissaBraxton and understand it better. Next steps:

* https://github.com/GSA-TTS/FAC/issues/275
*https://github.com/GSA-TTS/FAC/issues/276

[2022-06-17 20:53] #247 closed

[2022-06-17 21:23] MelissaBraxton commented on #248
Drafting PRA clearance template [here.](https://docs.google.com/document/d/1ELud_MR_TbtgXrDGLTTgitqHNJ5WuqM6/edit)

[2022-06-17 21:29] MelissaBraxton commented on #255
Looking at this again, I see it's blocked by us not having clarity on exactly what file types we are going to accept. I don't know the answer. Currently, only .xlsx. is allowed. My thoughts - for the MVP, .xlsx is sufficient. I don't think we need to enable .csv. Down the road .xlsm would probably be desirable, but that'd be an enhancement.  @tadhg-ohiggins, do you have an opinion?

[2022-06-17 21:31] MelissaBraxton commented on #251
@petermarks-gsa  - Do you think we can archive this?

[2022-06-17 21:36] MelissaBraxton commented on #271
I really like the idea of continuing to use [this airtable ](https://airtable.com/app8jhoGYFecY0qe3/tbledY67Jaw017MMO/viwESEDUp7MYRapE4?blocks=hide)for analysis, but I'll leave it to whoever picks up this issue to choose the analysis framework that works best for them.

[2022-06-17 21:42] MelissaBraxton commented on #274
Leaving the "needs refinement" label on here until we've started #271

[2022-06-17 21:44] MelissaBraxton commented on #264
I'd like to propose that further refining this issue/adding implementation notes be an explicit goal of the first few days of sprint 7. cc @austinhernandez and @petermarks-gsa

[2022-06-21 11:54] petermarks-gsa commented on #264
@MelissaBraxton, @austinhernandez Sounds good. Happy to close this issue out if we want to open another design issue, or put this one back "in progress". Whatever is easiest on your end to track.

[2022-06-21 12:18] petermarks-gsa opened #277 "Update product roadmap"
https://github.com/GSA-TTS/FAC/pull/270

[2022-06-21 12:28] petermarks-gsa opened #278 "Create new submission without valid UEI"

[2022-06-21 12:41] petermarks-gsa commented on #241
@MelissaBraxton Great, I created an implementation task: https://github.com/GSA-TTS/FAC/issues/278

Closing this as done.

[2022-06-21 12:41] #241 closed

[2022-06-21 12:42] #251 closed

[2022-06-21 15:49] geekygirlsarah commented on #255
With the [xlsx](https://www.np mjs.com/package/xlsx) library that was discussed before, it can open xls, xlsx, ods (OpenOffice), csv, and a bunch of other formats. I don't think there'd be too much in terms of code changes to allow other formats since the library just reads them all.

[2022-06-21 16:55] petermarks-gsa commented on #237
@timoballard @jasnakai Looks like you guys are getting close to wrapping up your dev onboarding tickets. Find anything that needs changing with our onboarding docs?

[2022-06-21 18:40] petermarks-gsa opened #279 "Front end - Audit report start page"
Dependent on user research: https://github.com/GSA-TTS/FAC/issues/293

[2022-06-21 18:40] petermarks-gsa commented on #264
Per discussion, next steps are captured in https://github.com/GSA-TTS/FAC/issues/271

Following that we'll create mocks and implementation notes in a new ticket: https://github.com/GSA-TTS/FAC/issues/279

[2022-06-21 18:40] #264 closed

[2022-06-21 18:41] petermarks-gsa commented on #237
per discussion, @jasnakai will follow up with meeting or pr

[2022-06-21 18:45] petermarks-gsa commented on #220
Next step: Peter to create an implementation issue for this.

[2022-06-21 18:48] petermarks-gsa commented on #246
This is now unblocked

[2022-06-21 19:03] petermarks-gsa commented on #235
@geekygirlsarah @timoballard Next steps is the review this PR: https://github.com/GSA-TTS/FAC-Frontend/pull/22

[2022-06-21 19:09] tadhg-ohiggins commented on #246
@geekygirlsarah note that `auditee_cert` and `auditor_cert` are limited to a max of one user per SAC, but `auditee_contact` and `auditee_cert` can have any number of users. I don't think there's anything in the code currently reflecthing this. (Via @MelissaBraxton )

[2022-06-21 19:11] tadhg-ohiggins commented on #262
As a related note, it turns out that audits should be done using the version of the form corresponding to their audit year. So if a users in 2023 submits an audit for FY 2017, they should submit the 2017 version of the form, not the 2023 version.

This strongly suggests we should have a version field in the model.

[2022-06-21 19:20] petermarks-gsa opened #280 "Implement navigation updates"
### Background
Information architecture was refined in #371 and we need to update nav styles as a result, as well as a breadcrumb system

### Rough task list
- [ ] Update nav styles, including sign in / sign out state
- [ ] Implement breadcrumb system / UI

### To define
- What is the breadcrumb system? How does it relate to URLs?

### Designs

[Figma](https://www.figma.com/file/1bNncVt1TcFFDhQslq

[2022-06-22 17:03] #257 closed

[2022-06-23 16:36] #271 closed

[2022-06-23 17:48] petermarks-gsa commented on #278
**Questions / Answers 6/23/22**:
Q Tadhg: Are we asking them to give some UEI at the "end of this process"
A Melissa: For Auditors, we want to let them proceed with this field blank. Every user with access will see this experience.
Q Melissa/Scott: Can we explore the possibility of searching by entity name:
A Peter: We will look into whether this is a SAM.gov capability

Next steps: @MelissaBraxto

[2022-06-23 17:59] tadhg-ohiggins commented on #278
We concluded that the key decision was about whether we:
*   Treat the [SAM.gov](http://sam.gov/) auditee info as canonical and do not allow users to submit changes.
or
*   Treat [SAM.gov](http://sam.gov/) info and user-submitted info as side-by-side options and compel users to submit it (making user-submitted info optional is too complicated in terms of user flow and technical implementation).

[2022-06-23 18:02] tadhg-ohiggins commented on #278
One question that came up was: if we require a [validated-by-SAM.gov](http://validated-by-sam.gov/) UEI in order to for the audit to be completed, why would we support user-submitted info while the audit was in progress?

A possible answer is that without it, users with multiple audits in progress might have trouble distinguishing between them. If the user dashboard shows their submissions with th

[2022-06-23 22:07] tadhg-ohiggins commented on #278
If we decide that address is supplied by SAM.gov only and cannot be edited, do we then allow users to optionally add an additional address?

Entries would then always have one SAM.gov-supplied address and zero or one user-supplied addresses.

[2022-06-23 22:47] MelissaBraxton commented on #278
I think that sounds good, @tadhg-ohiggins, but I think we can have "as a user I want my audit submission to have an address that matches what's on my audit report in the event it's different from what's registered in sam.gov " as a separate issue that may end up farther down in the backlog.  (cc @petermarks-gsa)

 You got it, @tadhg-ohiggins!  We're concerned that leaving the name field blank will

[2022-06-24 19:20] jadudm opened #281 "Onboarding checklist for @melchoyce"
### Welcome to the team  @melchoyce!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLna

[2022-06-24 21:31] MelissaBraxton commented on #248
Link to preview the tree test is [here](https://10x.optimalworkshop.com/treejack/3z680324).
Sent PRA approval request to OMB on 6/24, awaiting approval.

[2022-06-28 14:46] melchoyce commented on #281
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB__EqWsmLnacyk-bDI/) in drive
- [x] Join Slack channels in the project README

Getting a 404 when I go to [FAC team](https://github.com/orgs/GSA-TTS/teams/fac-team), btw.

[2022-06-28 16:56] petermarks-gsa opened #283 "Update product roadmap with ATO plan + Updates from Mark Dixon convo"

[2022-06-28 18:01] petermarks-gsa opened #284 "🅛 Back end - Create/modify API endpoint for SF-SAC"
Breakout of https://github.com/GSA-TTS/FAC/issues/185

### Background
* Create/modify API endpoint to present and accept SF-SAC data for this page

###  Tasks

* [x]  Creation of SAC.
* [x]  Handling of UEI stuff during creation.
* [x]  Viewing SAC post-creation.
* [x] Editing SAC post-creation.
* [ ] ~~Handling the special case of manually-entered data that would normally be provided by SAM.gov v

[2022-06-28 18:05] petermarks-gsa opened #285 "🅜 Front End - Create new submission without valid UEI"
Breakout of https://github.com/GSA-TTS/FAC/issues/278

See above for acceptance criteria and designs.

This issue covers new styling, new copy, modal (Assumption SAM.gov provides appropriate response for no results)

Still to be done:
- [x] Wiring up buttons inside modal
- [x] Handle error states - close it and try again or move forward without valid UEI
- [x] Tests for ^^

[2022-06-28 18:07] petermarks-gsa opened #286 "🅢 Back end - Create new submission without valid UEI"
Breakout of https://github.com/GSA-TTS/FAC/issues/278

**Acceptance criteria:**

* We can accept null or blank UEI values existing endpoint

[2022-06-28 18:23] geekygirlsarah commented on #246
To document what was decided between @tadhg-ohiggins and @timoballard and myself today:

The `Access` model had a user (ID/email), a role (auditor/auditee and contact/certifier), and a `SingleAuditChecklist`. A `SingleAuditChecklist` had a single `Access` for each of auditor/auditee contact/certifier.

Since SACs actually need multiple peoples as auditee/auditor contacts (but still only one audito

[2022-06-28 18:45] petermarks-gsa commented on #278
Reading @MelissaBraxton's last [comment](https://github.com/GSA-TTS/FAC/issues/278#issuecomment-1164985403), I feel we've arrived at the following decisions

* Separate issue outside this task: "as a user I want my audit submission to have an address that matches what's on my audit report in the event it's different from what's registered in sam.gov "
* UEI, name, and address info that are in sam.

[2022-06-29 16:24] austinhernandez opened #288 "design homepage for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- Most people understood that they could access historical data via the legacy Census system; one person felt that this was unclear and would prefer to be able to search from t

[2022-06-29 16:33] austinhernandez opened #289 "🅢 design of disclaimer text for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- People were thrown off by seeing two disclaimers prior to creating a new submission.

**MVP recommendation(s)**
-  Show the disclaimer only one time prior to users creating a

[2022-06-29 16:39] austinhernandez opened #290 "design login.gov flow for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- While most people were not familiar with Login.gov, it sparked few concerns.
- A few people wondered whether their login info for the legacy FAC could be used to log in to th

[2022-06-29 17:17] austinhernandez commented on #267
I just wanted to flag that the designs are old, but functionality shouldn't change much. updated designs will be on #290 and are based off latest research findings.

[2022-06-29 17:27] petermarks-gsa opened #291 "🅜 Record user in SAC form submission"
**Background**: Now that we are passing auth bearer tokens with our form submissions, we need to make sure we are recording user data for the submission and are limiting a submissions access to a given user.

**Acceptance Criteria**:
* Login with login.gov
* Create a new audit by filling out forms
* Data for the audit including the user is visible is django admin

[2022-06-29 20:43] petermarks-gsa opened #292 "Handle potential address mismatch use case"
Discussed in https://github.com/GSA-TTS/FAC/issues/278

Potential use case / user story: "as a user I want my audit submission to have an address that matches what's on my audit report in the event it's different from what's registered in sam.gov"

Should consider use case where SAM.gov doesn't return any data

[2022-06-29 20:44] MelissaBraxton commented on #260
Per @austinhernandez Q above - We learned that anyone who has been given access to the submission can "submit" once all other steps are complete.

@petermarks-gsa  - This is blocked until we confirm whether we're removing the in-app certification steps in favor of a signed pdf audit report. If we go that direction, we'll need this page to reflect that change.

[2022-06-29 20:51] MelissaBraxton commented on #278
@tadhg-ohiggins  - the idea here is to give an option for adding an address in addition to the one returned by sam.gov. @petermarks-gsa Sometimes what's on the pdf audit report doesn't match what the entity has registered in sam.gov. The data in sam.gov is canonical, but if its different than what's in the report, auditors will want to make sure the address in their audit report is somehow associa

[2022-06-29 21:08] petermarks-gsa commented on #279
@MelissaBraxton Feels like we've made a tentative decision in the [roadmap](https://github.com/GSA-TTS/FAC/pull/287) to replace in-app "certification" with signatures on pdfs, but that we'll validate that with user research? When do you think we'll have that research done by? Depending on when, it may or may not be worth starting this beforehand?

[2022-06-29 21:23] MelissaBraxton commented on #248
Sent a revised PRA clearance request base on OMB feedback on 6/29. Blocked again while we await their approval on the revised draft. Revised version is [here.](https://docs.google.com/document/d/1ELud_MR_TbtgXrDGLTTgitqHNJ5WuqM6/edit#)

[2022-06-29 21:26] MelissaBraxton opened #293 "Write up trade-offs re: replacing in-app certification with signatures on pdf audit reports"
**Background**
We are considering whether we can replace in-app cert with signed pdfs.

**Acceptance Criteria (We'll know we're done when...)**
- [ ] We have a document that lays out the tradeoffs (including user impacts) of removing the in-app certify steps and requiring signed pdfs instead.

**Tasks**
- [ ] Mock up (this work is covered under #321
- [ ] Consult #319
- [ ] Write up 1 page doc. th

[2022-06-29 21:27] petermarks-gsa commented on #278
Oh I think I see how it relates to this acceptance criteria we broke out into https://github.com/GSA-TTS/FAC/issues/284:

_"UEI is carried forward from the auditee info page to the general info page where it is not editable."_

We need to decide if it should be not be editable if it comes back blank from SAM.gov. I'm not sure we need to know how common it is to make this decision? Couldn't we just

[2022-06-29 21:28] MelissaBraxton commented on #279
I created this stub of an issue to track that research spike. #293 we'll need to prioritize it alongside other design work, but as long as we're ok to needing to revisit the "certify" CTAs on this page, I'd say we can proceed with the audit start page. I'd recommend completing this research in sprint 8 so that we don't end up blocking the design and implementation of the "certify" functionality, s

[2022-06-29 21:34] petermarks-gsa commented on #278
Cool, I've changed acceptance criteria in https://github.com/GSA-TTS/FAC/issues/284 to:

"address is auto-populated from sam.gov on the general info page where it is not editable if it is not blank."

Please react with a 👍 if we are clear to remove "needs refinement"

[2022-06-30 06:59] tadhg-ohiggins commented on #262
I ended up using a 17-character report id:

*   Four-digit year of start of audit period.
*   Three-digit char (but without I or O) random.
*   10-digit numeric (monotonically increasing, but starting from 0001000001 because the Census numbers are six-digit values. The formula for creating this is basically "how many non-legacy entries there are in the system plus 1,000,000".

[2022-06-30 13:41] #283 closed

[2022-06-30 15:29] timoballard commented on #291
@petermarks-gsa - the backend support for this appears to already be in place. When I manually trigger the eligibility/auditee/access endpoints (the last of which actually creates the SAC record on the backend), the resulting SAC in the database is tied to my user record (via the `submitted_by` field). This linkage is verifiable from the django admin panel:

![image](https://user-images.githubuser

[2022-06-30 15:47] heymatthenry commented on #290
@austinhernandez I wouldn't count on language settings from the FAC carrying over to Login but we can look into that further.

[2022-06-30 15:56] austinhernandez commented on #288
![Audit home Page](https://user-images.githubusercontent.com/23194720/176722350-25449d02-7e75-4895-8dbb-1df28403c1e3.png)

Questions for peer reviewers (@MelissaBraxton @melchoyce @sreuber) :

- This page had minimal updates, just looking for thoughts on the CTAs "Sign in to access (my) audit submissions" ??
- Happy to wait for a content designer on *final* text, but is this good?

Implementation

[2022-06-30 16:06] austinhernandez commented on #288
@sreuber i'm using login.gov's recommendation of "sign in" as the call to action. [https://github.com/GSA-TTS/FAC/issues/259](https://www.figma.com/exit?url=https%3A%2F%2Fgithub.com%2FGSA-TTS%2FFAC%2Fissues%2F259)

[2022-06-30 16:19] sreuber commented on #272
Report is saved to the newly created Research Report-outs folder.
https://docs.google.com/presentation/d/18atRRgAp-BKzJQ4d3QGSLyIqr1BRL59nD4YQ75p6Uzc/edit?usp=sharing

[2022-06-30 16:19] #272 closed

[2022-06-30 16:23] austinhernandez opened #295 "design "my audit submissions" page for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- Several people were confused by seeing the version number here and didn’t understand how it would help them.
- “Certifiable” as a status didn’t make sense to people. This is

[2022-06-30 17:04] melchoyce commented on #288
Is this section called "My audit submissions" once you're logged in?

I'd probably avoid adding a pronoun here like you've done in the button, based on some recommendations here that originally came from Microsoft: https://ux.stackexchange.com/questions/4348/your-vs-my-in-user-interfaces. There doesn't feel like a strong need to use pronouns in this interface at all, IMO.

[2022-06-30 17:19] jhansen-flexion opened #296 "PRA Approval"
[**Background**

<<background>>
](https://pra.digital.gov/)
It covers the following stories:

1. As an ...

**Acceptance criteria (We'll know we're done when...)**
- [ ] When a user can ...

**Tasks**
- [ ] Design designs all the things
- [ ] Engineering engineers all the things

**Definition of Done**

- [ ] Meets acceptance criteria
- [ ] Screen reader - Listen to the experience with a screen re

[2022-06-30 19:00] austinhernandez commented on #295
@tadhg-ohiggins are you able to answer the backend question in this ticket re: if the scoped MVP data model includes a field for version that could clearly be surfaced to users at this stage?

[2022-06-30 19:58] melchoyce commented on #290
It doesn't feel heavy-handed to me — I think it's a good "just in case" for someone who may not have read the message the first time and is like "but why isn't my password working." I might even bold it there, too.

If this is an option, I think it would help!

[2022-06-30 21:11] MelissaBraxton commented on #248
We got PRA approval!  Now all we need to do is email the link to participants when we have the list together.

[2022-06-30 21:48] MelissaBraxton opened #297 "Launch campaign to get the word out to auditors re: UEI requirement"
Breakout issue of <story>

**Background**

**Acceptance Criteria (We'll know we're done when...)**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2022-06-30 21:49] MelissaBraxton opened #298 "RESEARCH SPIKE: find out the impact of replacing in-app certification with signed pdfs"
**Background**
We are considering whether we can replace in-app cert with signed pdfs. This issue is blocking #212 and #260.

**Acceptance Criteria (We'll know we're done when...)**
- [ ] We have a document that lays out the tradeoffs (including user impacts) of removing the in-app certify steps and requiring signed pdfs instead.

**Tasks**
- [ ] Write research Qs
- [ ] Write research plan
- [ ] C

[2022-06-30 21:50] MelissaBraxton opened #299 "RESEARCH SPIKE: find out the impact of delaying notes to SEFA and secondary auditor data collection"
Breakout issue of #274

**Background**
We are considering whether we can delay launching data collection for a few of the existing SF-SAC form section - **notes to SEFA** and **secondary auditors** pages. Issue #274 is somewhat dependent on us deciding on this, as the current SF-SAC form includes these sections, and the navigation also includes these options.

**Acceptance Criteria (We'll know we'

[2022-07-01 15:44] austinhernandez opened #301 "design "Create New Audit: 1. Criteria Check" page for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- While the questions themselves were easy for folks to answer, the purpose of these Qs wasn’t always clear to folks, but this didn’t bar them from continuing.
- A few users as

[2022-07-01 15:49] austinhernandez opened #302 "design "Create New Audit: 2. Auditee Info" page for implementation based on sprint 6 research insights #301"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- A number of users requested if it was possible to search via the auditee name here as well, as UEI would be an update change.
- Almost every user was confused by the language

[2022-07-01 16:17] austinhernandez opened #303 "design "Audit Start Page" page for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- Most users identified that they could edit the UEI beginning here and recognized this element on the subsequent SF-SAC pages.
- One user completely missed the ability to upda

[2022-07-01 16:23] austinhernandez opened #304 "🅢 design "SF-SAC: General Info" page - As a user, I want to know how SAM.gov will autopopulate some data"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- Some users spoke of wanting to see more of the fields here pre-populated based on earlier entries or existing data from SAM.gov (UEI, Auditee Information such as name, addres

[2022-07-01 16:27] austinhernandez opened #305 "design "SF-SAC: Audit Information" page for implementation based on sprint 6 research insights"
Breakout issue of #274

**Background**
[Sprint 6 research -  observations/refinements by page](https://docs.google.com/document/d/1Y8g7HEd6eysBQjg3x_-K3nzk9M9xBCp5w8eZXql_8xQ/edit#heading=h.ycduc4d91ltn)

**Observation(s)**
- All users understood the questions being asked here and how to navigate the form.
- One user asked about the dollar threshold & Type B programs, and if that was still necessa

[2022-07-01 17:21] #291 closed

[2022-07-01 18:12] petermarks-gsa opened #306 "ADR/PDR - Census API requirements"
Background: We need to determine several things about the kind of information we need to relay to Census about the API.

[Notes from Census calls
](https://docs.google.com/document/d/1YP2K-WD1Uw1D8RvMYvxj3w57DV2uPyG4guqWu7AumLo/edit#)

Acceptance Criteria:
- [ ] We've decided whether to target the Census "processing pipeline" or "dissemination pipeline"
- [ ] We've decided which fields to surface

[2022-07-01 18:20] petermarks-gsa opened #307 "PRD - PDF Validation"
Background: When audit PDF's are uploaded to the current Census FAC, they are validated for being text, searchable and unlocked. This is important because before they had these checks, they'd get scanned PDFs and auditors could not search for specific text. Also sometimes get locked files where they can’t take pages out or can’t even open it. Users tell us we need these documents to be workable. I

[2022-07-01 18:28] #268 closed

[2022-07-01 18:30] petermarks-gsa opened #308 "Back end - Login.gov"

[2022-07-01 18:31] #308 closed

[2022-07-01 18:37] petermarks-gsa commented on #135
I broke out the work @timoballard has already completed. Moving this story / parent issue back to in progress until the last issue (https://github.com/GSA-TTS/FAC/issues/267) is ready for review.

[2022-07-01 18:37] petermarks-gsa commented on #226
@jasnakai Per Slack discussion today, sounds like you are still working on this and it's not yet ready for review. Moving back to in progress.

[2022-07-01 18:40] petermarks-gsa commented on #217
@heymatthenry Would you mind sending me an updated federalist link to review the fixes?

[2022-07-01 18:48] jadudm commented on #307
As a note, it is possible the repository that had the Excel validation has a demo of some PDF validation as well. Or, I might have that code local, and in need of push. It would be front/client-side only. Just noting so it doesn't get lost.

[2022-07-01 18:51] petermarks-gsa opened #309 "Federal Awards Worksheet"
Background: The first spreadsheet upload UI is the Federal Awards worksheet.

[2022-07-01 18:54] petermarks-gsa opened #310 "API to transfer general information data to Census"
Background: Our [migration plan](https://github.com/GSA-TTS/FAC/blob/main/docs/product/decisions/0004-P-migration-plan.md), we need to import data into the old FAC.

Tasks:
- https://github.com/GSA-TTS/FAC/issues/306
- Backend implementation of API
- Ensure we're passing required fields for the GENERAL table defined in rows 2-73 of [this sheet](https://docs.google.com/spreadsheets/d/1e-NQPeXk9pcQh

[2022-07-05 15:16] MelissaBraxton commented on #220
Hey there, @petermarks-gsa Is there an implementation issue for this. Can we call this done?

[2022-07-05 15:18] MelissaBraxton commented on #248
@sreuber  - Anything else here we can check off?

[2022-07-05 15:26] MelissaBraxton commented on #288
@melchoyce and I chatted about Mel carrying this forward while @austinhernandez is out.

[2022-07-05 15:33] MelissaBraxton commented on #289
I'm assigning myself to this while @austinhernandez is out. no changes to mocks needed, but I need to add some implementation notes.

[2022-07-05 15:53] MelissaBraxton commented on #302
Most of this work is already done under #278, however, we may still want to refine the copy on the invalid UEI modal. I suggest keeping the scope of this issue narrow focused on copy edits to the modal language. @sreuber I think you've already put some thought into this--would you be up for carrying this forward while @austinhernandez is out? If so, feel free to assign yourself to this issue.

[2022-07-05 16:01] MelissaBraxton commented on #303
@sreuber I think you have some thoughts on this already? With @austin out, would you be able to drive this forward and loop in @melchoyce?

[2022-07-05 16:15] petermarks-gsa opened #311 "Save/discard data prompt"
User Story: As an auditor or auditee inputting submission data, I need to know how my progress on a form page will be saved so that I don’t worry about my information being lost.

High level solution: Prompt users to save or discard any unsaved changes if they try to navigate away from the page.

Design: Using operating system alert with placeholder copy (below)
![173097141-0af1988c-3ba7-4cd6-b155

[2022-07-05 16:18] petermarks-gsa commented on #220
@MelissaBraxton Thanks for the nudge on this. I created https://github.com/GSA-TTS/FAC/issues/311

Is the design really just the browser / operating system alert (below) and does this have final copy?

![173097141-0af1988c-3ba7-4cd6-b155-8d9a878cbc55](https://user-images.githubusercontent.com/100610443/177372477-a07c657f-55c7-4642-87cf-6ea322b52f87.png)

[2022-07-05 16:21] petermarks-gsa commented on #217
Awesome, thanks Matt! calling this done.

Also, good to know there is a static [Federalist preview of main](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/site/gsa-tts/fac-frontend/audit/submission/) link :)

[2022-07-05 16:21] #217 closed

[2022-07-05 16:32] #262 closed

[2022-07-05 16:56] MelissaBraxton opened #313 "🅢 Update SF-SAC pages to remove web form data entry"
Breakout issue of #274

**Background**
For the MVP, we've decided to allow data input via Excel only. We need to update the mocks for a few pages that still have both an Excel and and a web form data entry option. This applies to the **Secondary auditors** page and the **additional UEIs** pages.

**Acceptance Criteria (We'll know we're done when...)**
- [ ] None of the mocked SF-SAC form pages hav

[2022-07-05 16:57] tadhg-ohiggins opened #314 "Stand up public cloud.gov demo site"
### Background

We need a site for showing backend progress. This is part of the walking skeleton process of getting a public site out there.

### Acceptance Criteria (We'll know we're done when...)

- [x] We have a cloud.gov space with appropriate memberships/permissions.
- [x] We have a publicly-accessible instance of the backend running in cloud.gov.

### Tasks
- [x] Figure out space creation/p

[2022-07-05 17:46] tadhg-ohiggins opened #315 "🅢 Figure out what “version” means"
### Background

As far as I can tell there are three different `version` properties that are currently being discussed:

*   The “raw” tracking of changes by [django-reversion](https://github.com/GSA-TTS/FAC/issues/199), which may or may not need to be visible to users.
*   The current FAC system has revisions, which refers to changes made to submissions *after they have previously been accepted*.

[2022-07-05 17:55] MelissaBraxton opened #316 "Update design documentation"
### Background
W/ turnover in the design team, want to make sure all design docs are up to date as we onboard and offboard folks.

### Acceptance Criteria (We'll know we're done when...)
- [x] All design documentation reflects the current state of knowledge

### Tasks

- [x] Review and update design onboarding doc
- [x] Review and update user research compensation process documentation
- [x] Revie

[2022-07-05 18:43] MelissaBraxton commented on #220
Yes, to the first Q. Re: the copy, can we call it done for now with the idea that our content person will do a full copy editing pass (including this copy) when they arrive?

[2022-07-05 18:49] MelissaBraxton commented on #315
Thanks for capturing this, @tadhg-ohiggins!  For the first task, I think we heard in our last round of user research, that "version" is more confusing than helpful to users, and we can decide not to surface it to folks at least for the MVP. One thing to clarify though, we were looking at surfacing "version" for audit submissions in progress--not already submitted ones.

For the second task, I conc

[2022-07-05 18:52] petermarks-gsa opened #317 "🅢 Ensure data submitted on frontend makes it to the backend"
Breakout of https://github.com/GSA-TTS/FAC/issues/128

This is integration work between front end and backend long the lines of what @jasnakai did in #226 and #228

[2022-07-05 18:56] sreuber commented on #315
@MelissaBraxton Agree. It's a **no** from me.

[2022-07-05 19:26] #281 closed

[2022-07-05 19:49] petermarks-gsa opened #318 ""You are now leaving FAC" modal copy"
Copy for https://github.com/GSA-TTS/FAC/issues/267

[2022-07-05 20:05] MelissaBraxton commented on #313
Moving to blocked until design/eng discussion of dynamic Excel templates on Wed. 7/6.

[2022-07-05 20:09] petermarks-gsa commented on #302
@MelissaBraxton Replacing "design" with the newly created "copy" label

[2022-07-05 20:09] MelissaBraxton commented on #304
The scope of this is really just adding some copy to let folks know anout the auditee address field.

Auditee address should be autopopulated from SAM.gov. This field should not be editable here. If people don’t have a valid UEI, these fields will be uneditable and blank. We’ll want to include some copy that tells them these fields will be populated by sam.gov when they add a UEI.

[2022-07-05 20:11] sreuber commented on #302
@MelissaBraxton It could maybe take me about 30 minutes to come up with some language around updating the modal, if that's all that's left here. I don't profess to be a content expert but I have written it before and I think the research made it clear what the confusion was. I wouldn't be opposed to drafting something, this can always change later.

[2022-07-05 21:04] melchoyce commented on #288
![image](https://user-images.githubusercontent.com/2846578/177416067-31edfa14-69a1-4727-802b-d0a15857598b.png)

@MelissaBraxton @sreuber Does this page need anything else?

[2022-07-05 21:23] tadhg-ohiggins commented on #315
Thanks @MelissaBraxton and @sreuber, I've updated the description and will close this issue and comment on #295.

[2022-07-05 21:23] #315 closed, assigned to nobody

[2022-07-05 21:24] tadhg-ohiggins commented on #295
Per [315](https://github.com/GSA-TTS/FAC/issues/315) we've determined that no version of version is required to be user-facing for MVP.

[2022-07-06 00:42] MelissaBraxton commented on #288
@melchoyce I don't think so!

[2022-07-06 00:48] MelissaBraxton commented on #302
Cool. Let's knock this one out then!

[2022-07-06 14:28] sreuber commented on #288
@melchoyce @MelissaBraxton Looks good to me. I don't mean to throw a wrench in the works but did we want to add something about UEI here, even if it's just a line of copy somewhere?

[2022-07-06 15:30] petermarks-gsa commented on #135
@heymatthenry @timoballard Can you

[2022-07-06 15:30] petermarks-gsa commented on #135
@heymatthenry @timoballard Can you please outline steps to QA this end to end? I tried the [Federalist preview of main](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/site/gsa-tts/fac-frontend/audit/submission/) and got an error:
<img width="1079" alt="Screen Shot 2022-07-06 at 8 29 15 AM" src="https://user-images.githubusercontent.com/100610443/177587947-5ab3abad-72f4-41db-

[2022-07-06 15:57] timoballard commented on #135
@petermarks-gsa (cc: @heymatthenry) - this is due to a missing configuration item on the Login.gov side. Specifically, you have to pre-register your post-login redirect URIs with Login (to protect against in-the-middle attacks where you get redirected back to a site other than the one you came from, access token in hand).

I updated the Login configuration to include the federalist/main preview UR

[2022-07-06 16:20] melchoyce commented on #290
Made the two minor adjustments based on the above conversations:
- Put "You cannot use Census FAC credentials to access the new system" on its own line.
- Bolded the sentence.

Additionally, I checked on the latest Login.gov styles and updated the mockups to reflect the current layout:

## Login.gov screen with logo and information

![image](https://user-images.githubusercontent.com/2846578/177597

[2022-07-06 16:47] MelissaBraxton commented on #290
@melchoyce  - LGTM! I think we can move this to "in review."
@petermarks-gsa do we need to create new issues for implementation?

[2022-07-06 17:12] petermarks-gsa opened #319 "Auditee/Auditor audit certification"
## Background
Audits must be certified via a "signature" by an auditor certifying official as well as an auditee certifying official.

## Design
https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground?node-id=3559%3A16444

## Acceptance Criteria:

### Path: non-certifying auditor/auditee
* [ ] When I am signed in as a non-certifying auditor/auditee and all criteria to validate the audit h

[2022-07-06 17:18] tadhg-ohiggins opened #320 "🅜 Change login.gov flow to look for users with matching email addresses"
Breakout issue of #246

### Background

When users log in with login.gov and do not already have associated `User` objects, we need to check against the list of users that have been created without any non-email data. (These are the users that have been added to their SAC submissions by other users.)

The current login.gov flow only looks at primary email addresses supplied by login.gov, and we ne

[2022-07-06 18:30] MelissaBraxton opened #321 "As an auditor/auditee certifying official, I need to be able to certify an audit submission"
### Background
[Breakout issue of 264](https://github.com/GSA-TTS/FAC/issues/264).
This issue covers the design of the auditee/auditor "certify" pages as well as error messages/alt states and screen that confirms a user has certified after they've clicked "certify" on the certify page.

Additional user needs statements that are in the scope of this issue:
 - As an non-tribal certifying official, I

[2022-07-06 18:33] MelissaBraxton commented on #319
This looks good, @petermarks-gsa !

A few minor tweaks:
Remove "When they click the button to sign their part of the audit, they should see the signature form"
The current thinking is that there will be a text box _on the checklist screen_ where they type in their name and title to "sign," and agree to the auditee/auditor statement.

 ![Screen Shot 2022-07-06 at 11 32 37 AM](https://user-images.gi

[2022-07-06 19:28] petermarks-gsa opened #322 "🅢 Verify authentication between steps 1-2 of pre-SAC flow"
Breakout task of https://github.com/GSA-TTS/FAC/issues/226 and https://github.com/GSA-TTS/FAC/issues/228

[2022-07-06 19:44] jhansen-flexion opened #323 "Onboarding checklist for {rachelschneiderman}"
### Welcome to the team  {rachelschneiderman}!

Here's a few pointers to get you started as well as a checklist to make sure you've got access to :all-the-things:!

**For you**
- [x] [Join](https://github.com/GSA/GitHub-Administration#joining-the-gsa-enterprise-organization) GSA’s Enterprise Github org
- [x] Review the [project README](https://docs.google.com/document/d/1g8nYqYS_ifFlZB-DBgfeSoJRMB

[2022-07-06 19:49] MelissaBraxton commented on #321
Hey there, @sreuber - I added the screen shots to a new page [here](https://www.figma.com/file/1bNncVt1TcFFDhQslqFC2o/FAC-Playground-(Copy)?node-id=3420%3A15760).

[2022-07-06 20:08] MelissaBraxton commented on #313
The key places where Excel data impacts how other data collections forms/screens work:

Places where answers on some form pages **unlock** other parts of the data collection form.

 - Answers on the SEFA form lock/unlock: Award findings, findings text, and CAP text pages

Places where data from one part of the form appears on templates for other parts of the form:

 - The list of federal awards en

[2022-07-06 21:01] MelissaBraxton opened #324 "RESEARCH SPIKE: De-risk Excel template approach"
Breakout issue of <story>

### Background
We need to understand whether we can support the dynamic Excel to JSON translation in both directions (read/write). If we can't we need to decide what the Excel experience will be.

### Acceptance Criteria (We'll know we're done when...)
- [ ] We have a PDR on our definitive approach on the level of Excel data entry experience we will support as part of th

[2022-07-06 21:39] tadhg-ohiggins opened #325 "Frontend values for organizational type need to match backend"
For the “Which organizational type best describes this entity?” question, the input values for the various choices should match what the backend expects, that is:

*   `state` for `State`.
*   `local` for `Local Government`.
*   `tribal` for `Indian Tribe or Tribal Organization`.
*   `higher-ed` for `Institution of higher education (IHE)`.
*   `non-profit` for `Non-profit`.
*   `unknown` for `Unkn

[2022-07-06 21:50] petermarks-gsa commented on #135
@timoballard @heymatthenry Here's my end-to-end QA Pass:

* ✅ Clicking "Submit at audit" in nav brings up modal, which can be dismissed
* ❌ Clicking "Log in to submit an audit" on the home page should do same as ^^
* ❌ When I log in with login.gov with a sandbox-approved email (peter.marks@gsa.gov) I am redirected to the first step of the pre-SAC page (❌ remain on home page)
* [blocked on https://

[2022-07-06 21:52] MelissaBraxton commented on #313
This is currently blocked by #324.

[2022-07-06 21:57] timoballard commented on #135
Thanks @petermarks-gsa - I can clean up items 2 and 3. One minor clarification: any sandbox-login account will be able to access the site. The adding of the FAC team's email addresses just allows you all to edit the sandbox-login configuration (if you follow [this link](https://dashboard.int.identitysandbox.gov/service_providers), you should see the `GSA FAC` app listed)

[2022-07-06 21:57] MelissaBraxton opened #326 "Design how we communicate to users that the notes to SEFA and secondary auditors form sections are not included in the MVP."
### Background
We've been talking about delaying the release of data collection instruments for two sections of the current SF-SAC form: **notes to SEFA** and **secondary auditors**.
Our current mocks include these form sections in the side nav of the SF-SAC. This issue covers how we handle communicating to users that they can't submit data for these form sections using the MVP, and that they are

[2022-07-06 21:59] MelissaBraxton commented on #299
Hey there, @petermarks-gsa - Per our discussion on 7/6, We are de-prioritizing this, so I moved it down in the backlog. I created new issue https://github.com/GSA-TTS/FAC/issues/326 to track that we'll need to make some design decisions about what's currently in the side nav and how we'll message this deviation from the expected data collection to folks. Also flagging that this may impact our PRA

[2022-07-06 22:00] MelissaBraxton commented on #260
Created #321 to breakout the certify steps.

[2022-07-06 22:06] petermarks-gsa commented on #135
@timoballard Thanks for clarifying. Are you able to set me up with access to django admin on the [Federalist preview of main](https://federalist-9a617ff8-042d-4076-9581-bb999f9c6639.app.cloud.gov/site/gsa-tts/fac-frontend/audit/submission/)?

[2022-07-07 07:00] tadhg-ohiggins commented on #325
Addressed in https://github.com/GSA-TTS/FAC-Frontend/pull/28, will close when that's merged.